<section class='panel'>
  <div class='panel-body'>
    <div class="row">
      <div class="col-md-4">
          <div class="panel-icon offer_made">
              <p class="count">{{customers?.NOBVN}}
                  <br>
                  <span>No BVN</span></p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel-icon offer_accepted">
              <p class="count">{{customers?.NOPHONE}}
                  <br>
                  <span>Phone Pending</span></p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel-icon offer_funded">
              <p class="count">{{customers?.NOEMAIL}}
                  <br>
                  <span>Email Pending</span></p>
          </div>
      </div>
    </div>
  </div>
</section>