<section class="panel">
    <div class="panel-heading">
        <h5 style="" class="pull-left">Tracker
          
        </h5>

        <img src="http://app.creditclan.com/creditclan_demo/pub/img/security.png" alt="img" class="pull-right" style="height: 30px;width:30px;">

        <div class="clearfix"></div>
    </div>
    <div class="panel-body _collapse_tracker collapse">
        
        <div style="width: 350px;margin:20px auto;">
            
            <div class="panel-body b-b">
                
                <a href="javascript:;" class="tbda" data-id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-customer_id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-act="reqgps" data-hsh="tbd_reqtrkr">
                  <p class="blue_c" style="margin: 0">GPS</p>
                  <p style="margin: 0">23 Nov 2016</p>
                </a>

            </div>

            <div class="panel-body b-b">
                
                <a href="javascript:;" data-id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-customer_id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-act="" data-hsh="tbd_reqtrkr">
                  <p class="blue_c" style="margin: 0">Messages</p>
                  <p style="margin: 0">23 Nov 2016</p>
                </a>

            </div>

            <div class="panel-body b-b">
                
                <a href="javascript:;" class="tbda" data-id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-customer_id="+NP8Gkd1WcITDMM1N0MnOHmF2qHD9+kl8aD/JrtdMu0gpry/q70FDFuAyCzl5ioP0T2ZZ4nAfIjXIGtPIR8H3w==" data-act="regphonelogs" data-hsh="tbd_reqtrkr">
                  <p class="blue_c" style="margin: 0">Phone logs </p>
                  <p style="margin: 0">23 Nov 2016</p>
                </a>

            </div>

        </div>
    </div>

    <div class="panel-body _collapse_tracker collapse in">
      <div class="text-center" style="min-height:304px; padding-top:30px">
          <!-- <h5 class="text-primary no-margin" style="margin-bottom: 0">Everything From Bank Statement to Expense Report</h5> -->
          <a href="javascript:;" style="font-size:9em"><i class="fa fa-lock blue_c"></i></a><br>
          <button class="btn btn-orange wid_20 " data-toggle="collapse" href="._collapse_tracker" aria-expanded="false" aria-controls="_collapse_tracker">View</button>
      </div>
    </div>
</section>