<div class="profile_area animated fadeIn">

  <section class="panel contract_area hideable_area" style="margin-bottom: 10px">
    <header class="panel-heading">
      <span class="tools pull-right">
        <ul class="list-inline">
          <li>
            <a [routerLink]="['../contract']">Summary</a>
          </li>
          <li>
            <a (click)="addressList=!addressList">{{addressList ? 'Map' : 'Address List'}}</a>
          </li>
          <li>
            <a [routerLink]="['../more']">More</a>
          </li>
        </ul>
      </span>
      <span>Request Location</span>
    </header>
  </section>
  <section class="panel" *ngIf="addressList">
    <div class="panel-body">
        <article class="media mbot5">
            <a class="pull-left thumb p-thumb">
              <img src="../assets/img/icons/home.png">
            </a>
            <div class="media-body">
              <h5>Home</h5>
              <p *ngIf="!addresses?.home_address.has_home">None provided</p>
              <div *ngIf="addresses?.home_address.has_home">
                <p>{{addresses?.home_address.address.ADDRESS}}</p>
                <p>{{addresses?.home_address.address.LGA}}|{{addresses?.home_address.address.STATE_NAME}}</p>
              </div>
            </div>
        </article>
        <article class="media mbot5">
          <a class="pull-left thumb p-thumb">
              <img src="../assets/img/icons/office_.png">
          </a>
          <div class="media-body">
              <h5>Office</h5>
              <p *ngIf="!addresses?.work_address.has_work">None provided</p>
              <div *ngIf="addresses?.work_address.has_work">
                <p>{{addresses?.work_address.address.ADDRESS}}</p>
                <p>{{addresses?.work_address.address.STATE_NAME}}</p>
              </div>
          </div>
        </article>
        <article class="media mbot5">
          <a class="pull-left thumb p-thumb">
              <img src="../assets/img/icons/request.png">
          </a>
          <div class="media-body">
              <h5>Request</h5>
              <p *ngIf="loan?.REQUEST_LOCATION_UPDATED!=1">None provided</p>
              <div *ngIf="loan?.REQUEST_LOCATION_UPDATED=='1'">
                <p>{{loan?.REQUEST_ADDRESS}}</p> 
              </div>
          </div> 
        </article>
    </div>
  </section>
  <div *ngIf="!addressList">
    <div class="panel" *ngIf="loan?.WHERE_FROM=='2' || loan?.WHERE_FROM == '5'">
      <div class="text-center" style="padding:5px" *ngIf="loan?.NOLOCATION=='0'">
          <span class="label label-danger">No Location Found</span>
      </div>
    <app-userlocation [loan]="loan" (updateRequestAddress)="updateRequestAddress($event)" [latitude]="sendVal(loan?.LAT)" [longitude]="sendVal(loan?.LNG)" [latitude_]="LAT_" [longitude_]="LNG_"></app-userlocation>
  </div>
  <section class="panel" *ngIf="loan?.WHERE_FROM=='4'">
    
    <div class="panel-body">
      <div class="text-center" style="padding: 66px 0 106px">
        <img src="assets/images/location.PNG">
        <div>
          <p class="t_l4" style="padding-bottom: 5px; display: inline-block; border-bottom: 1px solid #ccc; margin-top: 10px">Request Location Unknown</p>
          <p class="t_l4 t_cool">Applied by USSD</p>
        </div>
      </div>
    </div>
  </section>
  <section class="panel" *ngIf="loan?.WHERE_FROM=='3'">
    
    <div class="panel-body">
      <div class="text-center" style="padding: 66px 0 106px">
        <img src="assets/images/location.PNG">
        <div>
          <p class="t_l4" style="padding-bottom: 5px; display: inline-block; border-bottom: 1px solid #ccc; margin-top: 10px">Request Location Unknown</p>
          <p class="t_l4 t_cool">Applied by Back Office</p>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>