<div class="profile_area animated fadeIn">
  
      <section class="panel contract_area hideable_area" style="margin-bottom: 10px">
          <header class="panel-heading">
              <span class="tools pull-right">
                  <ul class="list-inline">
                      <li>
                          <a [routerLink]="['../contract']">Summary</a>
                      </li>
                      <li>
                        <a [routerLink]="['../checklist']">Checklist</a>
                    </li>
                      <li *ngIf="analysis?.LOAN_STATUS<=2">
                          <a [routerLink]="['../repayments']">Schedule</a>
                      </li>
                      <li>
                          <a [routerLink]="['../more']">More</a>
                      </li>
                  </ul>
              </span>
              <span>Checklist</span>
          </header>
      </section>
  
      <section class="panel">
          
          <div class="panel-body" style="position:relative">

                <div class="btn-group" style="position:absolute;top:10px;right:5px;">
                        <a *ngIf="analysis?.LOAN_STATUS<=2" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" style="color: #000;font-size: 24px;line-height:  1;cursor:  pointer;padding: 10px;" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            
                            <li *ngIf="analysis_form?.is_bvn_done!='1'"><a (click)="sendBVN()">Request BVN</a></li> 
                            <li *ngIf="analysis_form?.is_bank_account_provider!='1'"><a (click)="confirmAccount()">Request Bank Account</a></li> 
                            <li *ngIf="analysis_form?.is_card_provider!='1'"><a (click)="requestCard()">Request Card</a></li> 
                            <li *ngIf="analysis_form?.is_contract_sent!='1'"><a (click)="sendContract()">Send Contract</a></li>
                        </ul>
                    </div>  
              <div class="anl_list">
                  <h3 class="t_l4 t_cool ">Checklist</h3>
                  <ul>
                      <li class="text-left ">
                          <span>BVN</span>
                          <p class="pull-right"> {{analysis_form?.is_bvn_done==='1'?'Yes':'No'}}</p>
                      </li>
                      <li class="text-left ">
                        <span>Bank Account</span>
                        <p class="pull-right">{{analysis_form?.is_bank_account_provider!='0'?'Yes':'No'}}</p>
                      </li>
                      <li class="text-left ">
                        <span>Card</span>
                        <p class="pull-right">{{analysis_form?.is_card_provider!='0'?'Yes':'No'}}</p>
                      </li> 
                      <li class="text-left ">
                        <span>Contract Sent</span>
                        <p class="pull-right"> {{analysis_form?.is_contract_sent==='1'?'Yes':'No'}}</p>
                      </li>
                      <li class="text-left ">
                        <span>Contract Status</span>
                        <p class="pull-right"> {{analysis_form?.is_contract_accepted==='1'?'Accepted':'Not Accepted'}}</p>
                      </li>
                      <li class="text-left ">
                            <span>Documents Requested</span>
                            <p class="pull-right"> {{analysis?.LAST_DOC_REQUEST_DATE.docs_count>0?'Yes':'No'}}</p>
                          </li>
                          <li class="text-left " *ngIf="analysis?.LAST_DOC_REQUEST_DATE.docs_count>0">
                            <span>Last Date Sent</span>
                            <p class="pull-right"> {{analysis?.LAST_DOC_REQUEST_DATE.last_date}}</p>
                          </li>
                      <li class="text-left ">
                        <span>Account Officer</span>
                        <p class="pull-right"> {{analysis_form?.account_officer}}</p>
                      </li>
                  </ul>
              </div>
               
          </div>
      </section>
  
  
  </div>