
<div *ngIf="disbursements.count==0">
<section class="panel">
<div class="panel-body">
<div class="text-center" style="padding-top: 20px">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                                             <h6 style="margin-bottom: 0px; text-align: center;">No record</h6> 
                                             
                                        </div>
</div>
</section>
</div>
<div *ngIf="disbursements.count!=0">
<section class="panel">
<div class="panel-body">
	<h4 style="text-align: center">Disursements</h4>
	<div *ngFor="let b of disbursements.result" class="animated" [ngClass]="{'hide':current!=b.PAYMENT_QUEUE_ID, 'fadeIn':current==b.PAYMENT_QUEUE_ID}" style="text-align: center;padding:47px 0px">
		<a><img class="img" src="assets/attachments/{{b.FILE_NAME || b.CUSTOMER_TYPE | imagenotfound}}" alt=""></a>
		<div>
			<h4>{{b.LEGAL_NAME}}</h4>
		</div>
		<a [routerLink]="['/operations/disbursements']" class="btn btn-white btn-block">Review</a>
	</div> 
</div>
<!-- <footer class="panel-footer fcounter" *ngIf="count > 1">
	 
	<div style="text-align: center; margin:15px 0px">
	<a (click)="changeCurrent(a.PAYMENT_QUEUE_ID)" *ngFor="let a of disbursements.result" class="squares" [ngClass]="{'current-square':current==a.PAYMENT_QUEUE_ID}">
			&nbsp;
		</a> 
	</div>
</footer> -->
</section>
</div>