<h1 style="margin: 0px;font-size: 20px;" *ngIf="repayments?.COUNT!=0">Next {{repayments?.COUNT}} Due Payments</h1>
<div class="carousel">
  <ul class="slides" *ngIf="repayments?.COUNT>0">
    <li *ngFor="let repayment of repayments.RESULT">
      <img src="assets/attachments/{{repayment.FILE_NAME || repayment.CUSTOMER_TYPE | imagenotfound}}" alt="">
      <div class="repay-detais">
	      <p>{{repayment.REPAYMENT_DATE | amDateFormat:'LL'}}</p>
	      <p>{{repayment.HOW_MUCH_REMAINING | number:'.2-2'}}</p>
	      <p>{{repayment.LEGAL_NAME}}</p>
      </div>
    </li> 
  
  </ul>
  <div *ngIf="repayments?.COUNT<=0">
<div class="text-center">
                                          <a  href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                                             <h3 style="margin-bottom: 26px; text-align: center;">No pending repayments</h3> 
                                             
                                        </div>
  </div>
</div>