.panel {
	margin-bottom: 10px !important;
}
.panel-icon {
    background: rgba(255,255,255,0.9);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* float: left; */
    margin-right: 15px;
    text-align: center; 
    padding-top: 18px;
}
.panel-icon .count {
    color: #000;
    font-size: 36px;
    padding: 12px 0 0 0;
}
.offer_made {
   border: 2px solid red;
}
.offer_accepted {
    border: 2px solid yellow;
}
.offer_funded {
    border: 2px solid green;
}
.weather-category ul li { 
    width: 49% !important; 
}
.twt-category { 
    margin-top: 0px !important; 
}
.twt-footer { 
    margin-top: 50px !important; 
}
.nob {
	border:0 !important
}
.btd {
	border-top:0 !important;
	border-bottom: 0 !important;
}