<section class="panel"> 
  
  
    <header class="panel-heading">
        Statement
        <span class="tools pull-right">
          <a (click)="break_loan()">Break Investment</a>
      </span>
      </header> 
  
      <div class="panel-body">
        <div class="row invoice-list" style="margin-bottom:0px">
                                
                                <div class="col-lg-4 col-sm-4">
                                    <h4>CLIENT INFO</h4>
                                    <ul class="unstyled">
                                        <li>Client		: <strong>{{data?.custoner_account.LEGAL_NAME}}</strong></li>
                                        <li>Account Number		: {{data?.custoner_account.ACCOUNT_NUMBER}}</li>
                                       
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    
                                    &nbsp;
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                                                  <h4>ACCOUNT SUMMARY</h4>
                                    <ul class="unstyled">
                                        <li>Principal		: <strong>{{data?.request_lender.BID_PRINCIPAL|number:'.2-2'}}</strong></li>
                                        <li>Total Debit		: {{data?.TOTAL_DEBIT|number:'.2-2'}}</li>
                                        <li>Total Credit			: {{data?.TOTAL_CREDIT|number:'.2-2'}}</li> 
                                        <li>Current Balance		: {{data?.TOTAL_CREDIT-data?.TOTAL_DEBIT|number:'.2-2'}}</li>
                                    </ul>
                                                                </div>
                            </div>
      </div>
      <table class="table table-striped">
        <thead>
            <tr><th>Date</th>
              <th>Description</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
          </tr></thead>
          <tbody>
  
                                          <tr *ngFor="let trans of data?.chart_account_transactions;let i=index;"><td>{{trans.DATE_ADDED | amDateFormat: 'YYYY-MM-DD'}}</td>
                                          <td>{{trans.NARRATION_CUSTOMER}}</td>
                      <td>{{trans.DEBIT|number:'.2-2'}}</td>
                      <td>{{trans.CREDIT|number:'.2-2'}}</td>
                      
                                <td>{{trans.BALANCE|number:'.2-2'}}</td>
                                
                  </tr>
                                      </tbody>
      </table>
  </section>