<div class="profile_area animated fadeIn">
  
  <section class="panel contract_area hideable_area" style="margin-bottom: 10px">
      <header class="panel-heading">
          <span class="tools pull-right">
              <ul class="list-inline">
                <li><a [routerLink]="['../contract']">Summary</a></li>
                <li><a [routerLink]="['../checklist']">Checklist</a></li>
                <li *ngIf="analysis?.LOAN_STATUS<=2"><a [routerLink]="['../repayments']">Schedule</a></li>
                <li><a [routerLink]="['../chat']">Chat</a></li>
                <li><a [routerLink]="['../more']">More</a></li>
              </ul>
          </span>
          <span>Checklist</span>
      </header>
  </section>

  <section class="panel">
      
    <div class="panel-body" style="padding:0px 15px;">
      <div class="row box chat_container">
        <div class="col-md-12 chat_middle" style="padding: 0">
            <div>                
                
                <!-- Chat Messages -->
                <div style="padding: 20px 50px 70px; background: #fff;max-height: 344px;
                overflow-y: scroll;">
  
                    <div  *ngFor="let p of posts" [ngClass]="{'left': p?.COMMENT_FOR!='1'}">
                        <div class="chat_msg">
  
                            <!-- Message -->
                            <div class="msg">
                                <div class="msg_comment">
                                        {{p?.POST_CONTENT}}
                                         
                                </div>
                            </div>    
                            
                            <!-- profile -->
                            <div class="profile">
                                <img  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{p?.FILE_NAME|imagenotfound}}?q=auto">
                            </div>
  
                            <!-- Date -->
                            <span class="time">{{p?.LEGAL_NAME===null?p?.LENDER_NAME:p?.LEGAL_NAME}} | {{p?.DATE_POSTED | amTimeAgo}}</span>
                        </div>
                    </div>
  
                   
  
                </div>
  
                <!-- Text Input -->
                <div  class="border_top" style="padding: 20px;padding: 20px;background: #fafafa;">
                    <input type="text" class="form-control" name="reply" [(ngModel)]="reply" placeholder="Type Message..." style="border:none; background: none">
                    <button [disabled]="loading || reply==''" (click)="sendReply()" class="btn btn-danger btn-xs" style="margin-left: 12px;">Send</button>
                </div> 
            </div>
        </div>
       
    </div>
    </div>
  </section>


</div>