<section class="panel contract_area hideable_area" style="margin-bottom: 10px">
  <header class="panel-heading">

    <span class="tools pull-right">
      <ul class="list-inline">
          <li><a [routerLink]="['../customer-analysis-details']">General</a></li>
          <li><a>Credit bureau</a></li>
          <li><a [routerLink]="['../contract']">Summary</a></li>
          <li><a [routerLink]="['../checklist']">Checklist</a></li>
          <li><a [routerLink]="['../repayments']">Schedule</a></li>
          <li><a [routerLink]="['../more']">More</a></li>                    
      </ul>
    </span>

    <span *ngIf="socialRequest?.social=='0'">Social Analysis</span>
    <span *ngIf="socialRequest?.social=='1'">
      <form #socialfqsoreform="ngForm">
        <a  class="btn btn-white edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
            Save score
        </a>
      </form>
    </span>
  </header>
</section>

<section class="panel" *ngIf="socialRequest?.social=='0'" style="margin: 0 auto;width:475px;"> 
    <div class="panel-body" >
      <div class="alert alert-danger" role="alert">
        No access to Social Analytics.. &nbsp; Payment hasn't been made 
      </div>
      <div style="margin: 0 auto;width:200px;">
        <img src="assets/img/eliminar1.png">
        <a class="btn btn-white btn-block edged_box t_cool" (click)= "paysocialanalysis()">Pay to gain access</a>
      </div>
      <a [routerLink]="['../customer-analysis-details']" style="font-size:12px;margin-top: 10px;vertical-align:center;">Back to General</a>
    </div>
</section>

<!-- profile -->
<div  class="profile_area animated fadeIn" *ngIf="socialRequest?.social=='1'">
  <section class="panel ">
    <div class="panel-body" >
        <div class="row">
            <div class="col-md-4 text-center">
              <a (click)="displayAnalyticsScore()"><div class="panel-icon offer_made" style="padding:0;">
                  <img src="assets/attachments/avatar-mini.jpg" style="border-radius: 50%;width:94px;">
              </div></a>
              <p class="analysis-name">Social Analytics</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel-icon offer_accepted">
                    <p class="amount">
                        <a (click)="displayAnalysisDetails()"><i class="fa fa-pencil"></i></a>
                    </p>
                </div> 
                <p class="analysis-name">Details</p>
            </div>
            <div class="col-md-4 text-center ">
                <div class="panel-icon offer_funded hover_toggle" >
                    <p class="amount hover_hide"> 53%
                    </p>
                    <p class="amount hover_show">
                        <a class=" btn btn-xs btn-white open_button edged_box">
                            <i class="fa fa-pencil"></i> tweak score
                        </a>
                    </p>
                </div>
                <p class="analysis-name hover_hide">CCscore</p>
            </div>
        </div>
    </div>
  </section>
  <section class="panel hidden">  
    <div class="panel-body" >
      <div style="margin: 0 auto;width:475px;">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-4 document-square">
              <p style="color:orange; padding-top:5px;">Completeness </p>
              <p style="color:orange;margin-top:-10px;">percentage</p>
              <p style="font-size:30px; color:black;padding-top:20px;padding-bottom:40px;">58%</p>
              <div class="act_btns" style="margin-bottom:5px;">
                <a class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  View Lenders
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="list list_border sm">
                <li class="text-left">
                  <span class="t-cool" style="font-size:13px;">Record completeness for borrowers</span>
                </li>
                <li class="text-left">
                    <span> Profile </span>
                    <div class="pull-right progress progress-xs">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70px;">
                      </div>
                    </div>
                </li>

                <li class="text-left">
                    <span>Address </span>
                    <div class="pull-right progress progress-xs">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="width:50px;">
                      </div>
                    </div>
                </li>

                <li class="text-left">
                    <span>Work </span>
                    <div class="pull-right progress progress-xs">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="100" style="width:20px;">
                      </div>
                    </div>
                </li>
                <li class="text-left">
                    <span>Income</span>
                    <div class="pull-right progress progress-xs">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70px;">
                      </div>
                    </div>
                </li>
                <li class="text-left">
                  <span>Account </span>
                  <div class="pull-right progress progress-xs">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100" style="width:20px;">
                    </div>
                  </div>
              </li>
              <li class="text-left">
                  <span>Social </span>
                  <div class="pull-right progress progress-xs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                      aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="panel" [class.hidden]="currentView != 'analytics'">
      <div class="panel-body" >
          <div style="margin: 0 auto;width:475px;">
              <div class="row">
                  <div>
                      <h3 class="text-center t_cool" style="font-size:16px;">Review each component for analysis on credit score</h3>
                      <hr>
                  </div>
                  <a [routerLink]="['../customer-social-analysis-details/linkedln']">
                      <div class="col-md-4 square" [ngClass]="socialAnalysis?.analytics.final_score < 50? 'document-failed-color':'document-success-color'">
                          <div>
                            <img src="assets/img/icons/Linkedin-icon.png">
                          </div>
                          <p>Linkedln</p>
                          <p style="font-size:18px;margin-top:10px;"> <b>{{socialAnalysis?.analytics.final_score}}%</b></p> 
                      </div>
                  </a>
                  <!-- <a [routerLink]="['../customer-social-analysis-details/address']">
                      <div class="col-md-4 square">
                          <div>
                              <img src="assets/img/icons/worldwide-location.png">
                          </div>
                          <p>Address</p>
                          <p style="font-size:18px;margin-top:10px;"> <b>55%</b></p>
                      </div>
                  </a> -->

                  <a [routerLink]="['../customer-social-analysis-details/facebook']">
                      <div class="col-md-4 square" >
                          <div>
                              <img src="assets/img/icons/facebook.png">
                          </div>
                          <p>Facebook</p>
                          <p style="font-size:18px;margin-top:10px;"> <b>30%</b></p>
                      </div>
                  </a>
                  
              </div>
          </div>
          
      </div>
  </section>
  <section [class.hidden]="currentView != 'details'" *ngIf="socialAnalysis">
    <ul class="frm">
        <li class="title linkedln_title">Linkedln
            <a (click)="toogleView('linkedln')" data-sub="linkedln" class="pull-right co-panel_ fadeIn" style="color:#000">
                <i class="fa fa-chevron-down"></i>
            </a>
        </li>
        <li class="sub linkedlnanimated" *ngIf="sectionOpen == 'linkedln'">
            <!-- profile Preview -->
            <div class="_profile_edit_toogle collapse in" *ngIf="availability=='0'">
                <div class="panel-body bio">Linkedln profile not available</div>
            </div>
            <div class="_profile_edit_toogle collapse in" *ngIf="availability=='1'">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="padding-top: 15px;" >
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Name</span>
                                        <span class="pull-right">{{socialAnalysis.details.profile.full_name}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Email</span>
                                        <span class="pull-right">{{socialAnalysis.details.profile.email}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Headline</span>
                                        <span class="pull-right">{{socialAnalysis.details.profile.headline}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Link</span>
                                        <span class="pull-right">{{socialAnalysis.details.profile.link}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Country of location</span>
                                        <span class="pull-right">{{socialAnalysis.details.profile.location}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width: 100%;max-width: 450px;margin: 10px auto; padding-top: 10px;">
                    <div class="panel panel-default" *ngFor="let company of socialAnalysis.details.company.companies">
                        <div class="panel-heading" role="tab" id="eligibility">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEligibility" aria-expanded="true" aria-controls="collapseEligibility">
                                Company
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEligibility" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eligibility">
                            <div class="panel-body" style="padding:0 0 0 20px;">
                                <ul class="list list_border sm">
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Company name</span>
                                        <span class="pull-right">{{company.COMPANY_OF_WPRK_ID}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Position at company</span>
                                        <span class="pull-right">{{company.POSITION}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Industry</span>
                                        <span class="pull-right">{{company.INDUSTRY}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Company location</span>
                                        <span class="pull-right">{{company.WORK_ADDRESS}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Start date</span>
                                        <span class="pull-right">
                                            {{company.WORK_START_DATE}},  {{company.WORK_END_DATE}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left">
                                        <span class="pull-left text-primary">Company connections</span>
                                        <span class="pull-right">{{company.CONNECTIONS}}</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="text-left" *ngIf="company.IS_CORRECT == '1'">
                                        <span class="pull-left text-primary">Matches application company</span>
                                        <span class="pull-right">Yes</span>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title home-addresss_title" style="margin-bottom: 35px;">Facebook
            <a href="javascript:;" data-sub="facebook" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('facebook')" data-sub="facebook" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub facebook animated" *ngIf="sectionOpen == 'facebook'">
            <!-- Address Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Facebook thingy</span>
                                        <span class="pull-right">Not ready</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
  </section>
</div>

