<section id="main-content">
    <div class="container" style="min-height:600px; width:70% !important">
      <div class="row"  style="margin-top:120px;">
              <div class="col-md-12" style="padding:0;">
                      <div id="ajax_view">
                          <div class="row" >
                              <div class="col-md-8">
<section class="panel panl" style="margin-bottom: 5px">
    <div class="panel-body">
        <article class="media">
            <div class="pull-left thumb">
              <img src="assets/images/file.PNG">
            </div>
            <div class="pull-left" style="margin-top: 5px">
              <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Chart Of Accounts</h4>
            </div>
            <a class="pull-right btn btn-white wd_btn" style="border-radius: 0" (click)="overlayWithdrawal=true">New Account</a>
        </article>                  
    </div>
  </section>
  
  <section class="panel">
      <div class="panel-body" style="padding:0px">
          <div *ngIf="accounts?.count=='0'"></div>  
          
          <article class="media hover_toggle_desc" *ngFor="let bank of accounts?.a" style="border-bottom: 1px solid #eee;
          padding: 15px;">
              <div class="pull-left thumb" style="padding-right: 20px">
                <img src="assets/images/i.PNG">
              </div>
              <div class="pull-left" style="margin-top: 5px">
                <h5 class="no-margin" style="margin-bottom: 7px">{{bank?.GL_NAME}}</h5>
                <p class="no-margin t_lh1 t_l4" style="font-size: 14px">{{bank?.CAT_NAME}}</p> 
              </div>
              
              
              <div class="pull-right text-right hover_toggle">
                  <div class="hover_hide">
                      <h5 class="no-margin" style="margin-bottom: 7px">{{0|number:'.2-2'}}</h5>
                      <p class="no-margin t_lh1 t_l4 t_cool" style="font-size: 14px">Current Balance</p> 
                  </div>
                  <a class="pull-right btn btn-white wd_btn hover_show" (click)="view_statement(bank)" style="border-radius: 0">View Statement</a>
                </div> 
          </article>
      </div>
    </section>
    <section class="panel" *ngIf="!state?.complete">
        <header class="panel-heading" style="padding:15px">
          &nbsp;
          <span class="tools pull-right">
            <button class="btn btn-white btn-xs" (click)="loadNext(state.start)">Next</button>
          </span>
        </header>
    </section>
</div>
<div class="col-md-3 ">
  <section style="border-radius:10px" class="panel text-center greenb">
    <div class="panel-body" style="padding: 63px 15px;">
      
      <div>
          <h3 style="font-size:34px">{{accounts?.count}} 
          </h3> 
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <button (click)="back()" class="btn btn-white">Back</button>
        </div>
      </div> -->
  </div>
  </section>
  <section class="panel">
    <div class="panel-body">
        <ul class="list list_border largewidth">
            <li>
              <a class="txt_l4 active">Recent Transactions</a>
            </li>
            <li>
              <a class="txt_l4" [routerLink]="['/operations/customer_wallet']">Customer Wallet</a>
            </li>
            <li>
              <a class="txt_l4" (click)="overlayWithdrawal=true">Withdrawal</a>
            </li>
            <li>
                <a class="txt_l4"  [routerLink]="['/operations/banks']">Bank Accounts</a>
              </li>
        </ul>
    </div>
  </section>
  <section class="panel mbot0">
      <div class="panel-body"> 
          <div class="form-group">
              <label class="control-label">Account Type</label>
              <select name="type" class="form-control" [(ngModel)]="type">
                  <option *ngFor="let type of types" [value]="type.value">{{type.display}}</option>
              </select>
          </div>
      </div>
  </section>
  <section class="panel" style="margin-bottom:15px">
      <div class="panel-body">
          <input type="text" class="form-control" name="search" required [(ngModel)]="search" #searchText="ngModel">
      </div>
  </section>
  <section class="panel" style="margin-bottom:15px">
      <div class="panel-body">
          <button class="btn btn-white btn-block" (click)="getAccounts_()">Search</button>
      </div>
  </section>
</div>
<div class="col-md-1">&nbsp;</div>
</div>

</div>
</div>
</div>
</div>
</section>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayWithdrawal">
    
             <div class="col-md-12">
                 <a class="dismiss cancel_treat_ close" role="button" (click)="overlayWithdrawal=false">
                   <i class="fa fa-times" aria-hidden="true"></i>
                   </a> 
               </div>
           <div class=" overpanel-content container" role="document" style="text-align:left;width:600px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
            <app-newaccount (saveTheLenderAccount)="saveLenderAccount(event)" [parents]="parents" [showForm]="showForm"  [types]="types" [loading]="loading" [account]="account"></app-newaccount>
          </div>
  </div> 
  <div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayOpen">
    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="overlayOpen=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:1000px;min-height:500px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <!-- <app-payment [record_type]="record_type" [schedule_type]="schedule_type" [disburse]="disburse" [security_question]="state?.security_question.QUESTION"></app-payment> -->
        <app-ledger (dateChanged)="handledateChanged($event)" [ledger]="ledger" [transactions]="transactions" [account_details]="account_details"></app-ledger>
    </div>
</div>