<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFIR">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFIR" aria-expanded="true" aria-controls="collapseFIR">
        Interest Rate Floor
      </a>
    </h4>
  </div>
  <div id="collapseFIR" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFIR">
    <div class="panel-body">
      <div class="panel-body toc-panel">
        <form #floorLoanInterest="ngForm" novalidate>
          <div class="form-group row">
            <div class="col-md-12">
              <ul>
                <li class="text-left">
                  <span> Enable </span>
                  <div class="pull-right">
                    <input type="checkbox" name="ENABLE_FLOOR_INTEREST_RATE" [(ngModel)]="floor_rate.ENABLE_FLOOR_INTEREST_RATE">
                    <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row" *ngIf="floor_rate.ENABLE_FLOOR_INTEREST_RATE">
            <div class="col-md-12">
              <label class="no-margin control-label">Floor Duration</label>
              <input type="text" class="form-control" name="MAX_FLOOR_DURATION" [(ngModel)]="floor_rate.MAX_FLOOR_DURATION"> </div>
          </div>
          <div class="form-group row" *ngIf="floor_rate.ENABLE_FLOOR_INTEREST_RATE">
            <div class="col-md-12">
              <label class="no-margin control-label">Interest Charged</label>
              <input type="text" class="form-control" name="FLOOR_INTEREST_RATE" [(ngModel)]="floor_rate.FLOOR_INTEREST_RATE"> </div>
          </div>
          <div class="form-group row" *ngIf="floor_rate.ENABLE_FLOOR_INTEREST_RATE">
            <div class="col-md-12">
              <ul>
                <li class="text-left">
                  <span> Increment after floor </span>
                  <div class="pull-right">
                    <input type="checkbox" name="INCREMENT_AFTER_FLOOR" [(ngModel)]="floor_rate.INCREMENT_AFTER_FLOOR">

                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group row" *ngIf="floor_rate.INCREMENT_AFTER_FLOOR && floor_rate.ENABLE_FLOOR_INTEREST_RATE">
            <div class="col-md-12">
              <label class="no-margin control-label">Increment </label>
              <input type="text" class="form-control" name="FLOOR_INCREMENTAL_VALUE" [(ngModel)]="floor_rate.FLOOR_INCREMENTAL_VALUE"> </div>
          </div>
          <button type="submit" (click)="saveSpecialLoanInterest(floorLoanInterest.value, floorLoanInterest.valid)" [disabled]="loading"
            class="btn btn-white pull-right">
            <span *ngIf="!loading">Submit</span>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>