<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <section class="panel" style="background:none">
            <header class="panel-heading" style="background:#fff">
                Customers
                <span class="tools pull-right">
                    <a [routerLink]="['../../customer/create','corporate']" class="btn btn-white btn-xs">New Company</a>
                    <a [routerLink]="['../customers']" class="btn btn-white btn-xs">Customers</a>
                </span>
            </header>
            <div class="table_cus">
                <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="showEmptyState == false">
                    <article *ngFor="let customer of customers" id="{{customer?.PEOPLE_CUSTOMERS_ID+'_item'}}" class="media" style="margin: 5px 0px;background: #fff;padding: 5px;cursor:pointer; margin-bottom:0px">
                        <div class="pull-left thumb p-thumb">
                            <a [routerLink]="['/customer/', getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID]">
                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{customer?.FILE_NAME | imagenotfound}}?q=auto" style="width:50px; height:50px">
                            </a>
                        </div>

                        <div [attr.data-target]="customer?.PEOPLE_CUSTOMERS_ID+'_preview_pane'" [attr.data-parent]="customer?.PEOPLE_CUSTOMERS_ID+'_item'" style="position: relative;">
                            <a (click)="showCustomerPreview($event, getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID)" class=" btn btn-white pull-right open_button hover_vis edged_box wd_btn"><i class="fa fa-pencil"></i> view</a>
                            <a class=" btn btn-danger pull-right close_button hide" data-action="close"><i class="fa fa-pencil"></i> close</a>

                            <div style="float: right; text-align: right; position: absolute; right: 0" class="hover_vis_show">
                                <div class="sm_rating" style="margin-bottom: 0">
                                    <app-rating [rating]='customer?.PEOPLE_RATING_ID'></app-rating>
                                </div>
                                <p>{{customer?.WHERE_FROM_TEXT}} | {{customer?.DATE_ADDED | amTimeAgo}}</p>
                            </div>

                        </div>


                        <div class="media-body">
                            <a [routerLink]="['/customer/', getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID]">
                                <p class="">{{customer.LEGAL_NAME}}</p>
                            </a>
                            <p class=""><small>{{customer.CUSTOMER_TYPE_}}</small></p>
                            <p class="hover_vis">
                                <span *ngIf="customer.ACCOUNT_OFFICER_ASSIGNED === '0'">Officer Unassigned</span>
                                <span *ngIf="customer.ACCOUNT_OFFICER_ASSIGNED === '1'">Managed by<span class="blue_c"> {{customer.ACCOUNT_OFF}} </span></span>
                            </p>
                            
                            <div>
                                <div *ngIf="openedTab == customer.PEOPLE_CUSTOMERS_ID" class="animated slideInDown">
                                    <div class="panel-body rBox">
                                        <div style="width: 100%;max-width: 450px;margin: 20px auto;">
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Account Number</span>
                                                    <span class="pull-right">
                                                                        {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['ACCOUNT_NUMBER']}}                                                          
                                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Details</span>
                                                    <span class="pull-right">
                                                                        {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['EMAIL']}}
                                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['PHONE']}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['BUSINESS_REG_NUMBER']}}
                                                                   </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">
                                                                    {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['WEBSITE']}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Address</span>
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['WORK_ADDRESS']}}
                                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-6" style='padding-right: 0; margin-left: -5px'>
                                                        <a class="btn btn-white btn-block" style="border-radius: 0; padding: 6px 12px;color:#fff;" [routerLink]="['/customer/', 'corporate',customer.PEOPLE_CUSTOMERS_ID]">View Profile</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a [routerLink]="['/customer/update/','corporate',customer.PEOPLE_CUSTOMERS_ID]" class="btn btn-white btn-block" style="padding: 6px 12px;color:#fff;">Update Records</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr>
                    <header class="panel-heading " style="overflow:auto; padding: 0 0 15px 15px;" *ngIf="!navigation.complete">
                        <span class="tools pull-right">
                            <!-- <a  *ngIf="data?.complete == false" (click)="loadMoreRecords(data?.start)" data-index="1" data-prev="0" data-current="10" class="btn btn-next-a ">Load More</a> -->

                            <a class="btn btn-prev-a" (click)="prev()" *ngIf="navigation.prev > 0">Prev</a>

                            <a class="btn btn-next-a" (click)="next()" *ngIf="navigation.next > 0">Next</a>

                        </span>
                    </header>
                </div>
                <!-- Empty State -->
                <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="showEmptyState">
                    <div class="text-center" style="min-height:400px;padding-top:120px;background:#fff; text-align:center">
                        <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                        <h3>No companies found</h3>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3" style="padding-left: 0">
        <div class="animated fadeInDown" *ngIf="view == 'main'">
            <div class="text-center" style="color: #fff; background: #718FC8;padding: 30px; margin-bottom: 5px">
                <div style="margin-top: 10px; margin-bottom: 20px;"><img src="assets/images/profile.PNG"></div>
                <div>
                    <p class="txt t_l3 t_lh1"><strong>{{count}}</strong></p>
                    <p class="txt">Companies</p>
                </div>
            </div>
            
        </div>
        
    </div>
</div>