<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('welcome_email')">Welcome Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('offer_letter')">Offer Letter</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('phone_otp')">Phone OTP</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('reset_pin')">Reset Pin</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('direct_debit')">Direct Debit Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('validate_work')">Validate Work</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('loan_rejection')">Loan Rejection Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('payment_received')">Payment Received</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('borrower_received_email')">Borrower Received Offer Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('lender_make_offer')">Lender Make Offer</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('borrower_accepted')">
    Borrower Accepted Offer Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('withdrawal_email')">
    Withdrawal Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('send_to_market')">
    Send To Market</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('guarantor_email')">
    Guarantor Request Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('card_request_email')">
    Card Request Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('bank_account_confirmation')">
    Bank Account Confirmation Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('request_attachment')">
    Request for Attachments</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('bvn_verification')">
    BVN Verification Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('repayment_email')">
    Repayment Reminder Email</a>
</p>

<p style="padding-left: 20px; padding-bottom: 10px;">
  <a style="cursor: pointer" (click)="openemail('loan_disbursed')">
    Loan Disbursed Email</a>
</p>