<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
<div class="row" style="margin-bottom: 20px">
	<div class="col-md-6 col-sm-6">
		
		<div class="form-group">
			<label class="control-label">Required Financing</label>
			 <div class="input-group ">
                          <input type="text" class="form-control" formControlName="REQUEST_PRINCIPAL">
                             
                                
                                <div class="input-group-btn">
                                    <button  type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="sel_cur">{{loan_currency}}</span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li *ngFor="let c of countries"><a href="javascript:;" (click)="changeCurrency(c)">{{c.currency[0]}}</a></li>
                                    </ul>
                                </div>
                            </div>
            <small [hidden]="myForm.controls.REQUEST_PRINCIPAL.valid || (myForm.controls.REQUEST_PRINCIPAL.pristine && !submitted)" class="text-danger">
            Amount is required.
          </small>
        </div>
        <div class="form-group">
			<label class="control-label">Interest</label>
			 <div class="input-group ">
                          <input type="text" class="form-control" formControlName="REQUEST_RATE">
                          <input type="hidden" formControlName="LOAN_STATUS">   
                                
                                <div class="input-group-btn">
                                    <button  type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="sel_cur">{{interest_duration}}</span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li *ngFor="let d of loan_durations"><a href="javascript:;" (click)="changeDuration(d,2)">{{d.INTEREST_DURATION}}</a></li>
                                    </ul>
                                </div>
                            </div>
          <small [hidden]="myForm.controls.REQUEST_RATE.valid || (myForm.controls.REQUEST_RATE.pristine && !submitted)" class="text-danger">
            Interest is required.
          </small>

        </div>
        <div class="form-group">
			<label class="control-label">Duration</label>
			 <div class="input-group ">
                          <input type="text" class="form-control" formControlName="REQUEST_TENOR">
                             
                                
                                <div class="input-group-btn">
                                    <button  type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="sel_cur">{{loan_duration}}</span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li *ngFor="let d of loan_durations"><a href="javascript:;" (click)="changeDuration(d,1)">{{d.LOAN_DURATION}}</a></li>
                                    </ul>
                                </div>
                            </div>
             <small [hidden]="myForm.controls.REQUEST_TENOR.valid || (myForm.controls.REQUEST_TENOR.pristine && !submitted)" class="text-danger">
            Tenor is required.
          </small>
        </div>
        <!-- <div *ngIf="loan?.IS_REJECTED===0">
          <div class="row" *ngIf="(loan?.IS_PEER_TO_PEER=='1'&&loan?.LOAN_STATUS=='1')||(loan?.IS_PEER_TO_PEER=='0'&&loan?.LOAN_STATUS!='1')">
          	<div class="col-md-12">
                  <button type="submit" class="btn btn-default"><i class="fa fa-envelope"></i> Save Contract</button>
          	</div>	
          </div>
        </div> -->
        <div *ngIf="(loan?.LOAN_STATUS=='2'||loan?.IS_PEER_TO_PEER!='1')&&loan?.ADDED_TO_PAYMENT_QUEUE!='1'">
          <div class="row">
            <div class="col-md-12">
                  <button type="submit" class="btn btn-default" (click)="save_contract()" [disabled]="loading"><i class="fa fa-envelope"></i> Save Contract</button>
            </div>  
          </div>
        </div>
	</div>
</div>
<section class="panel" style="margin-left: -15px; margin-right: -15px">
<ul class="frm">
                    	
                          <li class="title basic_title">Interests
                            <a *ngIf="interestOpen=='1'" (click)="closeSec('1')" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a  *ngIf="interestOpen!='1'" (click)="openSec('1')"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                            
                            <li class="sub interestsl animated" *ngIf="interestOpen=='1'">
	                            <div class="interestloadarea">
	                            	<section class="panel">
                						<header class="panel-heading">INTEREST_RATE</header>
                                        <div class="panel-body toc-panel">
                                        	<div class="form-group row hide">
						                        <label class="control-label col-md-6">Type of credit</label>
						                        <div class="col-md-6">
						                            <select class="form-control" formControlName="TYPE_OF_CREDIT">
						                                <option value="2">Closed End Credit</option>
						                            </select>
						                            
						                        </div>
						                    </div>
						                    <div class="form-group row">
						                        <label class="control-label col-md-6">Interest Rate type</label>
						                        <div class="col-md-6">
						                            <select (ngModelChange)="changeRepay($event)" class="form-control" formControlName="INTEREST_RATE_TYPE_ID">
						                                <option value="1">Flat</option>
						                                <option value="2">Simple</option>
						                            </select>
						                            <small [hidden]="myForm.controls.INTEREST_RATE_TYPE_ID.valid || (myForm.controls.INTEREST_RATE_TYPE_ID.pristine && !submitted)" class="text-danger">
											            Interest rate type is required
											          </small>
						                        </div>
						                    </div>
						                    <div class="form-group row">
                                      
                                      
		                                     <label class="col-md-6">
		                                                     Repayment type
		                                                  </label>
		                                                  <div class="col-md-6">
		                                          <select  class="form-control"  (ngModelChange)="cIA($event)" formControlName="REPAYMENT_TYPE_ID">
		                                          
			                                          <option *ngFor="let r of rtypes" [value]="r.value">  
                                {{r.display}}
                                </option>
		                                          </select>
		                                          <small [hidden]="myForm.controls.REPAYMENT_TYPE_ID.valid || (myForm.controls.REPAYMENT_TYPE_ID.pristine && !submitted)" class="text-danger">
											            Repayment type is required
											          </small>
		                                      </div>
		                                       
		                                  </div> 
		                                  <div class="form-group row" *ngIf="!interestAlone">
                                  	<label for="RMI" class="col-md-6 control-label">All Interests Discounted</label>
                                    <div class="col-md-6">
                                     <label class="checkbox-inline" style="padding-left:0px !important">
                                              <input type="checkbox" formControlName="ALL_INTERESTS_UPFRONTED"> 
                                          </label> 
                                    </div> 
                                  </div>
                                  <div class="form-group row">
                                  	<label for="RMI" class="col-md-6 control-label">All Interests Paid</label>
                                    <div class="col-md-6">
                                     <label class="checkbox-inline" style="padding-left:0px !important">
                                              <input type="checkbox" formControlName="ALL_INTERESTS_HAVE_BEEN_PAID"> 
                                          </label> 
                                    </div> 
                                  </div>
                                  <div class="form-group row" *ngIf="epi">
                                  	<label for="RMI" class="col-md-6 control-label">Fees</label>
                                    <div class="col-md-6">
                                     
                                      <select class="form-control" formControlName="FEES_EXCLUDE_INCLUDE">
						                                <option value="1">Include</option>
						                                <option value="2">Exclude</option>
						                            </select>
                                      </div>
                                  </div>
                                  <div class="form-group row"  *ngIf="interestAlone" >
                                  	<label for="RMI" class="col-md-6 control-label">Fees</label>
                                    <div class="col-md-6">
                                     
                                      <select class="form-control" formControlName="FEES_UPFRONT_BACKEND">
                                          <option value="1">Upfront</option>
                                          <option value="2">Backend</option>
                                          
                                          </select>

                                      </div>
                                  </div>
                                   <div class="form-group row" *ngIf="interestAlone">
                                   <label for="RMI" class="col-md-6 control-label">Interests</label>
                                  	 <div class="col-md-6">
                                     	<label class="radio-inline" style="padding-left:0px !important">
                                              <input type="radio" (ngModelChange)="cIB($event)" [value]="1" formControlName="WHAT_HAPPENS_TO_INTEREST"> Upfront 
                                          </label> 
                                           <label class="radio-inline"  style="padding-left:0px !important">
                                              <input type="radio" [value]="2" formControlName="WHAT_HAPPENS_TO_INTEREST">  Spread
                                          </label> 
                                      </div>
                                  </div>
                                   <div class="form-group row" *ngIf="interestAlone">
                                   <label for="RMI" class="col-md-6 control-label">Principal</label>
                                  	 <div class="col-md-6">
                                     	<label class="radio-inline" style="padding-left:0px !important">
                                              <input type="radio"  [value]="1" formControlName="WHAT_HAPPENS_TO_PRINCIPAL"> Backend 
                                          </label> 
                                           <label class="radio-inline" style="padding-left:0px !important">
                                             <input type="radio"  [value]="2" formControlName="WHAT_HAPPENS_TO_PRINCIPAL"> Spread
                                          </label> 
                                      </div>
                                  </div>
                                  <div class="form-group row" *ngIf="!interestAlone&&!bullet">
                                   <label for="RMI" class="col-md-6 control-label">Allow moratorium</label>
                                  	 <div class="col-md-6">
                                     
                                      <select class="form-control"  (ngModelChange)="cIB($event)" formControlName="ALLOW_MORATORIUM">
                                          <option value="1">No</option>
                                          <option value="2">Yes</option>
                                          
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group row" *ngIf="allowMoratorium">
                                   <label for="RMI" class="col-md-6 control-label">Moratorium Type</label>
                                  	 <div class="col-md-6">
                                  	 <label class="radio-inline" style="padding-left:0px !important">
                                              <input type="radio"  [value]="1" formControlName="MORATORIUM_TYPE"> Principal 
                                          </label> 
                                           <label class="radio-inline" style="padding-left:0px !important">
                                             <input type="radio"  [value]="3" formControlName="MORATORIUM_TYPE"> All
                                          </label> 
                                     	
                                      </div>
                                  </div>
                                  <div class="form-group row" *ngIf="allowMoratorium">
                                   <label for="RMI" class="col-md-6 control-label">Moratorium Period</label>
                                  	 <div class="col-md-6">
                                     
                                     <input type="text" class="form-control" formControlName="MORATORIUM_PERIOD">
                                      </div>
                                  </div>
                                  <div class="form-group row"  *ngIf="allowMoratorium">
                                   <label for="RMI" class="col-md-6 control-label">Do not compound</label>
                                  	 <div class="col-md-6">
                                  	 <label class="radio-inline" style="padding-left:0px !important">
                                             <input type="radio" formControlName="DO_NOT_COMPOUND">
                                          </label> 
                                  
                                      </div>
                                  </div>
                                   <div class="form-group row">
                <label class="no-margin control-label col-md-6">How many days per year</label>
                                        <div class="col-md-6">
                                             
                                             <input  type="text" value="" class="form-control" formControlName="DAYS_PER_YEAR">
                                        </div> 
                                        
                                        </div> 
                            <div class="form-group row ">
                                      
                                      <div class="col-md-6">
                                      <label for="RMI" class="control-label">Interest Applied When</label>
                                      <select class="form-control" formControlName="RP_SET_TYPE">
                                          
                                          <option value="1">Immediate</option>
                                          <option value="2">Prorated</option>
                                          
                                          </select>
                                      </div>
                                       
                                  </div>
                                        </div>
                					</section>
	                            </div>
                       
                            </li>
                              <li class="title basic_title">Equity Contribution
                            <a *ngIf="interestOpen=='2'" (click)="closeSec(2)" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a  *ngIf="interestOpen!='2'" (click)="openSec(2)"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                            <li class="sub equityl animated" *ngIf="interestOpen=='2'"> 
                            <div class="">
                            	
                            	<section class="panel equity-section">
                	<header class="panel-heading">Equity Contribution
                    	
                    </header>
                    <div class="panel-body" style="padding:0px 15px !important">
                    	<div class="form-group row" style="margin-bottom:0px">
                                      <div class="col-md-6">
                                          <label>
                                                     Paid Equity Contribution
                                                  </label>
                                        <div class="checkbox pull-right">
                                                  <label>
                                                      <input formControlName="PAID_SECURITY_DEPOSIT" type="checkbox"> 
                                                  </label>
                                              </div>
                                      </div>
                                    
                                  </div>
                    </div>
                    <div class="recom equity-task">
                       <table class="table table-hover">
                       			<thead> 
                                	<th class="hide">Deduct</th>
                                    <th>Value(%)</th>
                                    <th>Total</th>
                                </thead>
                              <tbody>
                              <tr> 
                              		<td class="hide">
                                    	<input type="checkbox" formControlName="SECURITY_DEPOSIT_DEDUCTIBLE">
                                    </td>
                                    <td>
                                    	<input type="text" (blur)="calculateSecurityDeposit(1)" class="form-control" formControlName="SECURITY_DEPOSIT">
                                    </td>
                                       <td><input type="text" (blur)="calculateSecurityDeposit(2)" class="form-control" formControlName="TOTAL_SECURITY_DEPOSIT"></td>
                                        
                                </tr>
                              </tbody>
                          </table> 
                       
                       </div>
                </section> 
                            </div>
                       
                            </li>
                              <li class="title basic_title">Fees
                            <a *ngIf="interestOpen=='3'" (click)="closeSec(3)" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a  *ngIf="interestOpen!='3'" (click)="openSec(3)"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                              <li class="sub fees animated" *ngIf="interestOpen=='3'"> 
                              <div class="">
                              <div class="panel-body">
                                  <div class="form-group row">
                                   <label for="RMI" class="col-md-6 control-label">Periodic Fees</label>
                                     <div class="col-md-6">
                                     <label class="radio-inline">
                                              <input type="radio" [value]="0" [checked]="myForm.controls.PERIODIC_FEES_DISCOUNTED=='0'" formControlName="PERIODIC_FEES_DISCOUNTED"> Periodic 
                                          </label>
                                      <label class="radio-inline">
                                              <input type="radio" [value]="1" [checked]="myForm.controls.PERIODIC_FEES_DISCOUNTED=='1'" formControlName="PERIODIC_FEES_DISCOUNTED"> Upfronted 
                                          </label>
                                           <label class="radio-inline">
                                              <input type="radio" [value]="2"  [checked]="myForm.controls.PERIODIC_FEES_DISCOUNTED=='2'" formControlName="PERIODIC_FEES_DISCOUNTED"> Backend
                                          </label> 
                                           
                                      </div>
                                  </div>
                                  <div class="form-group row hidefpfd" style="margin-bottom:0px">
                                    <div class="col-md-6"> 
                                      <label> All Fees and Charges Paid </label> 
                                      <div class="checkbox pull-right"> 
                                      <label> <input type="checkbox" formControlName="ALL_FEES_AND_CHARGES_PAID"> </label> 
                                      </div>
                                      </div> 
                                     
                                   </div> 
    </div>
                                <app-loanfees [totalsecuritydeposit]="myForm.controls.TOTAL_SECURITY_DEPOSIT.value" [paidfeesandcharges]="paidfeesandcharges" [fees]="fees" [charges]="charges" [allfeesqueue]="allfeesqueue" [allchargesqueue]="allchargesqueue" [loan]="loan" [interestAlone]="interestAlone" [formValues]="myForm.value"></app-loanfees> 
                              </div>
                         
                            </li>
                             <li class="title basic_title">Charges
                            <a *ngIf="interestOpen=='4'" (click)="closeSec(4)" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a  *ngIf="interestOpen!='4'" (click)="openSec(4)"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                              <li class="sub fees animated" *ngIf="interestOpen=='4'"> 
                              <div class="">
                                <app-loancharges [totalsecuritydeposit]="myForm.controls.TOTAL_SECURITY_DEPOSIT.value" [paidfeesandcharges]="paidfeesandcharges" [fees]="fees" [charges]="charges" [allfeesqueue]="allfeesqueue" [allchargesqueue]="allchargesqueue" [loan]="loan" [interestAlone]="interestAlone" [formValues]="myForm.value"></app-loancharges> 
                              </div> 
                            </li>
                           
                           
                            <li class="title basic_title">Disbursements
                            <a *ngIf="interestOpen=='5'" (click)="closeSec(5)" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a *ngIf="interestOpen!='5'" (click)="openSec(5)"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                            <li class="sub animated" *ngIf="interestOpen=='5'">
                            <div class="">
                            	
                            	<section class="panel">
				                	<header class="panel-heading">Disbursement</header>
				                    <div class="panel-body">
				                    <div class="form-group row ">
                                    	<label class="control-label col-md-6">Disbursement Date</label>
                                        <div class="col-md-6">
                                 
                                            
            <my-date-picker [selDate]="selDate" name="DISBURSEMENT_DATE" (dateChanged)="onDateChanged($event)" [options]="myDatePickerOptions"
                    formControlName="DISBURSEMENT_DATE"></my-date-picker>
                                        </div>
                                    </div>
                         
                            <div class="form-group row">
                        		<label class="control-label col-md-6">Loan Officer</label>
                                <div class="col-md-6">
                                 <select class="form-control"  formControlName="LOAN_OFFICER">
                                         	<option *ngFor="let officer of loanofficers" [value]="officer.PEOPLE_PEOPLE_ID">  
                                {{officer.LEGAL_NAME}}
                                </option>
                                         </select>
                                </div>
                            </div>
				                    </div>
				                </section>
                            </div> 
                            </li>
                            <li class="title basic_title">Repayments
                            <a *ngIf="interestOpen=='6'" (click)="closeSec(6)" class="pull-right" style="color:#000"><i class="fa fa-chevron-up"></i></a> 
                            <a  *ngIf="interestOpen!='6'" (click)="openSec(6)"  class="pull-right" style="color:#000"><i class="fa fa-chevron-down"></i></a> 
                            </li>
                            <li class="sub animated" *ngIf="interestOpen=='6'">
                            
                                 <div class="">
                                 	 <section class="panel">
                	<header class="panel-heading">REPAYMENT</header> 
                    <div class="panel-body">
                    <div class="form-group row">
                                    	<label class="control-label col-md-6">First Repayment Date</label>
                                       <div class="col-md-6">
                                     
                                       <my-date-picker [selDate]="selDate_" name="REPAYMENT_STARTED_WHEN" [options]="myDatePickerOptions"
                    formControlName="REPAYMENT_STARTED_WHEN"></my-date-picker>
                                       </div>
                                    </div>
                    
                     <div class="form-group row">
                                    	<label class="control-label col-md-6">Repayment Source</label>
                                        <div class="col-md-6">
                                         <select class="form-control" formControlName="REPAYMENT_SOURCE">
                                         	<option value="1">Direct Card Debit</option>
                                            <option value="2">Cheque</option>
                                            <option value="3">Cash</option>
                                            <option value="4">Bank Trasfer</option> 
                                            <option value="5">Direct Bank Debit</option> 
                                         </select>
                                        </div>
                                    </div>
                          <div class="form-group row">
                                      <label class="control-label col-md-6">
                                                     Monthly Period
                                                  </label>
                                      <div class="col-md-6">
                                         
                                         <select class="form-control" formControlName="MONTHLY_PERIOD">
                                            <option value="1">Monthly</option>
                                            <option value="2">+28 days</option>
                                            <option value="3">+29 days</option>
                                            <option value="4">+30 days</option> 
                                            <option value="5">+31 days</option> 
                                         </select>
                                      </div>
                    </div>
                    </div>
                    </section>


                                 </div>
                            </li>
                           
                          </ul>
</section>
</form>