<app-main-navigation class="requests_active"></app-main-navigation>

<section id="main-content">
    <div class="container" style="min-height:850px;width:70%;">
        <div class="row" style="margin-top:120px;">
            <div class="col-md-12" style="padding:0;">
                <div id="ajax_view">

                    <div class="row">
                        <div class="col-md-3" style="padding-right: 0; margin-right: -5px">

                            <div class="bor_id">
                                <app-borrowerid [parentRouteId]="parentRouteId"></app-borrowerid>
                            </div>


                            <!-- New Menu -->
                            <section class="panel" style="background: transparent;">
                                <ul class="xgv">
                                        <li class="text-left black_c  left-border pink">
                                                <a [routerLink]="['timeline']">Timeline</a>
                                            </li>
                                    <li class="text-left black_c  left-border pink">
                                        <a [routerLink]="['schedule']">Schedule</a>
                                    </li>
                                    <li class="text-left black_c  left-border blue">
                                        <a [routerLink]="['statement']">Statement</a>
                                    </li>
                                    <li class="text-left black_c  left-border pink">
                                        <a [routerLink]="['contract']">Contract</a>
                                    </li>
                                    <li class="text-left black_c  left-border pink" *ngIf="loan?.IS_PEER_TO_PEER=='1'">
                                        <a [routerLink]="['lenders']">Lenders</a>
                                    </li>
                                    <li class="text-left black_c  left-border pink" *ngIf="loan?.DIRECT_DEBIT_RETRIEVAL_REFERENCE!='' && loan?.DIRECT_DEBIT_STATUS=='1'">
                                        <a [routerLink]="['directdebit']">Direct Debit Mandate</a>
                                    </li>
                                    <li class="text-left black_c  left-border pink">
                                        <a [routerLink]="['customer_repayment']">Customer Payments</a>
                                    </li>

                                </ul>
                            </section>

                        </div>


                        <div class="col-md-9">
                            <div class="tbs">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="viewing_loan">
    <app-loansummary *ngIf="overlayType=='0'" [loan_viewed]="loan_viewed" [view_state]="view_state" [dontshownext]="dontshownext"
        (modalClosed)="closeOverlay($event)" (openForFinalPayment)="openForFinalPayment($event)"></app-loansummary>
</div>
<div *ngIf="rolling_back_payment">
    <app-paymentrollback [loan]="loan" [trans]="trans" (modalClosed)="closeOverlay($event)"></app-paymentrollback>
</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="dont_queue_payments">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-payment [sub]="2" (paymentHasBeenProcessedFinally)="paymentHasBeenProcessedFinally($event)" [paytype]="confirm" (showMessage)="showMessage($event)"
            [record_type]="record_type" [platformwallet]="platformwallet" [schedule_type]="2" [disburse]="disburse" [security_question]="security_question?.QUESTION"></app-payment>
    </div>

</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="initiate_recollection">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-payment [autodebit]="1" [paytype]="send_email" (showMessage)="showMessage($event)" [record_type]="8" [schedule_type]="3"
            [repayment]="repayment"></app-payment>
    </div>

</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="break_loan">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div *ngIf="finalBreaking" class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-payment [sub]="2" (paymentHasBeenProcessedFinally)="paymentHasBeenProcessedFinally($event)" [paytype]="confirm" (showMessage)="showMessage($event)"
            [record_type]="1" [platformwallet]="platformwallet" [schedule_type]="1" [disburse]="disburse" [security_question]="security_question?.QUESTION"></app-payment>
    </div>
    <div *ngIf="!finalBreaking && post_action=='8'" class=" overpanel-content container" role="document" style="text-align:left;width:900px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px; padding:60px 180px !important; overflow-y:scroll !important">
        <app-loanform (openThePaymentForFinalBreaking)="openThePaymentForFinalBreaking($event)" (paymentHasBeenProcessedFinally)="paymentHasBeenProcessedFinally($event)"
            (paymentHasBeenProcessedFinally)="paymentHasBeenProcessedFinally($event)" [sub]="sub" [request_id]="loan?.REQUEST_ID"></app-loanform>
    </div>

    <div *ngIf="!finalBreaking && post_action=='6'" class=" overpanel-content container  animated bounceIn" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px;padding:20px; overflow:hidden">

        <div class="modl text-center">

            <div class="modl_title" style="margin-bottom: 35px">
                <h2>
                    <span>Break Loan</span>
                </h2>
            </div>

            <div style="margin-bottom: 25px">
                <div class="">
                    <app-breakloan (openThePaymentForFinalBreaking)="openThePaymentForFinalBreaking($event)" (showMessage)="showMessage($event)"
                        (closeModal)="closeChildModal_($event)" [request_id]="loan_viewed"></app-breakloan>
                </div>
            </div>


            <div style="width: 280px; margin: 0 auto">

            </div>



        </div>


    </div>
</div>

<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'check_debit_mandate'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content animated bounceIn  container smaller" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div>
                <div class="modl_title" style="margin-bottom: 30px">
                    <h2>
                        <span class="text-success">Check Direct Debit Mandate Status</span>
                        <br>
                        <!-- <small class="modl_sub">A direct debit mandate will be setup on the customer's account</small> -->
                    </h2>
                </div>



                <div>


                    <div style="width: 200px; margin: 0 auto">
                        <div style="margin-bottom: 30px">
                            <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                                (click)="sendForDirectDebitStatus()" [disabled]="loading||is_done=='1'">
                                <strong *ngIf="is_done=='0'">Check Status</strong>
                                <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                                <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Fund Loan -->
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'send_account_statement'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content container  animated bounceIn" role="document" style="background:rgba(255, 255, 255, 0.95); height:500px; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-left">

            <div class="modl_title">
                <h2 class="text-center">
                    <span class="text-success">Send Loan Statement</span>
                    <br>

                </h2>
            </div>

            <div>
                <div *ngIf="!done" style="width: 90%; margin: 0 auto 25px">

                    <div id="docsBlock" style="margin-bottom: 40px;">


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Add Header</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="ddlAddHeader" [(ngModel)]="loan_statement.ddlAddHeader" class="form-control">
                                        <option [value]="0">No</option>
                                        <option [value]="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Add Signature</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="ddlAddSignature" [(ngModel)]="loan_statement.ddlAddSignature" class="form-control">
                                        <option [value]="0">No</option>
                                        <option [value]="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">When to send?</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="ddlSendDateOption" [(ngModel)]="loan_statement.ddlSendDateOption" class="form-control">
                                        <option [value]="1">Immediately</option>
                                        <option [value]="2">Today 12pm</option>
                                        <option [value]="3">Today 4pm</option>
                                        <option [value]="4">Tomorrow 8am</option>
                                        <option [value]="5">Choose date</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="loan_statement.ddlSendDateOption=='5'">
                            <div class="row"></div>
                            <div class="col-md-6">
                                <label class="control-label">Select date</label>
                            </div>
                            <div class="col-md-6">
                                <my-date-picker [selDate]="selDate" name="txtSendDate" [options]="myDatePickerOptions" [(ngModel)]="loan_statement.txtSendDate"></my-date-picker>

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-block btn-white" (click)="previewTheStatement()">Preview</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-white" (click)="sendTheStatement()">Save</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div *ngIf="done">
                    <div *ngIf="result.status==true">
                        <div style="width: 120px;margin:20px auto;">
                            <svg style="width: 100%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
                                <g>
                                    <circle fill="none" stroke="#1CA261" stroke-width="6" stroke-miterlimit="10" cx="50" cy="50" r="47" />
                                    <polygon style="color:#1CA261" points="72,25 42,71 27,56 23,60 43,80 77,28  " />
                                </g>
                            </svg>
                        </div>


                        <p class="text-center">
                            <small>Thank you, your payment has been received</small>
                        </p>
                    </div>
                    <div *ngIf="result.status==false">
                        <div style="width: 120px;margin:20px auto;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" x="0px" y="0px">
                                <path d="M50,8A42,42,0,1,1,8,50,42,42,0,0,1,50,8m0-3A45,45,0,1,0,95,50,45,45,0,0,0,50,5Z"></path>
                                <path d="M47.08,46.44q-.79-4-1.18-6.42t-.51-3.54q-.11-1.15-.11-2a4.3,4.3,0,0,1,1.29-3.25,5.36,5.36,0,0,1,6.84,0,4.3,4.3,0,0,1,1.29,3.25q0,.84-.11,2T54.1,40q-.39,2.38-1.18,6.42T50.79,57.1H49.21Q47.87,50.48,47.08,46.44Zm-.34,15.88a4.6,4.6,0,0,1,7.85,3.25,4.16,4.16,0,0,1-1.35,3.17,4.82,4.82,0,0,1-6.51,0,4.16,4.16,0,0,1-1.35-3.17A4.43,4.43,0,0,1,46.75,62.31Z"></path>
                            </svg>
                        </div>


                        <p class="text-center">
                            <small>Unable to process request.</small>
                        </p>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'initiate_roll_back'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content animated bounceIn  container smaller" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">


    </div>


</div>
<!--  -->
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'start_auto_debit'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content animated bounceIn  container smaller" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div>
                <div class="modl_title" style="margin-bottom: 30px">
                    <h2>
                        <span class="text-success">Reactivate Autodebit</span>
                        <br>
                        <small class="modl_sub">The auto debit for recollection will be enabled for this request</small>
                    </h2>
                </div>



                <div style="width: 200px; margin: 0 auto">
                    <div style="margin-bottom: 30px">
                        <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                            (click)="sendForReactivateAutoDebit()" [disabled]="loading||is_done=='1'">
                            <strong *ngIf="is_done=='0'">Confirm</strong>
                            <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                            <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--  -->
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'stop_auto_debit'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content animated bounceIn  container smaller" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div>
                <div class="modl_title" style="margin-bottom: 30px">
                    <h2>
                        <span class="text-success">Cancel Autodebit</span>
                        <br>
                        <small class="modl_sub">The auto debit for recollection will be disabled for this request</small>
                    </h2>
                </div>



                <div style="width: 200px; margin: 0 auto">
                    <div style="margin-bottom: 30px">
                        <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                            (click)="sendForCancelAutoDebit()" [disabled]="loading||is_done=='1'">
                            <strong *ngIf="is_done=='0'">Confirm</strong>
                            <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                            <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Accept Lender Offer -->
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'send_sms_reminder'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content container  animated bounceIn" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div class="modl_title" style="margin-bottom: 50px">
                <h2>
                    <span class="text-success">Send SMS Reminder</span>
                    <br>

                </h2>
            </div>

            <div *ngIf="done">
                <div *ngIf="result.status==true">
                    <div style="width: 120px;margin:20px auto;">
                        <svg style="width: 100%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                            y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
                            <g>
                                <circle fill="none" stroke="#1CA261" stroke-width="6" stroke-miterlimit="10" cx="50" cy="50" r="47" />
                                <polygon style="color:#1CA261" points="72,25 42,71 27,56 23,60 43,80 77,28  " />
                            </g>
                        </svg>
                    </div>


                    <p class="text-center">
                        <small>Success</small>
                    </p>
                </div>
                <div *ngIf="result.status==false">
                    <div style="width: 120px;margin:20px auto;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" x="0px" y="0px">
                            <path d="M50,8A42,42,0,1,1,8,50,42,42,0,0,1,50,8m0-3A45,45,0,1,0,95,50,45,45,0,0,0,50,5Z"></path>
                            <path d="M47.08,46.44q-.79-4-1.18-6.42t-.51-3.54q-.11-1.15-.11-2a4.3,4.3,0,0,1,1.29-3.25,5.36,5.36,0,0,1,6.84,0,4.3,4.3,0,0,1,1.29,3.25q0,.84-.11,2T54.1,40q-.39,2.38-1.18,6.42T50.79,57.1H49.21Q47.87,50.48,47.08,46.44Zm-.34,15.88a4.6,4.6,0,0,1,7.85,3.25,4.16,4.16,0,0,1-1.35,3.17,4.82,4.82,0,0,1-6.51,0,4.16,4.16,0,0,1-1.35-3.17A4.43,4.43,0,0,1,46.75,62.31Z"></path>
                        </svg>
                    </div>


                    <p class="text-center">
                        <small>Unable to process request.</small>
                    </p>
                </div>
            </div>
            <div *ngIf="!done">
                <div class="text-left">
                    <div style="width: 90%; margin: 0 auto 25px">

                        <div id="docsBlock" style="margin-bottom: 40px;">

                            <div class="form-group">
                                <label class="control-label">Message (Max:140 characters)</label>
                                <div class="row">
                                    <div class="col-md-12">

                                        <textarea name="message" class="form-control" [(ngModel)]="sms_reminder.message"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">When to send?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="ddlSendDateOption" [(ngModel)]="sms_reminder.ddlSendDateOption" class="form-control">
                                            <option [value]="1">Immediately</option>
                                            <option [value]="2">Today 12pm</option>
                                            <option [value]="3">Today 4pm</option>
                                            <option [value]="4">Tomorrow 8am</option>
                                            <option [value]="5">Choose date</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="sms_reminder.ddlSendDateOption=='5'">
                                <div class="row"></div>
                                <div class="col-md-6">
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-md-6">
                                    <my-date-picker [selDate]="selDate" name="txtSendDate" [options]="myDatePickerOptions" [(ngModel)]="sms_reminder.txtSendDate"></my-date-picker>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-white" (click)="previewTheSMSReminder()">Preview</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-white" (click)="sendTheSMSReminder()">Save</button>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'reject_notify'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content container animated bounceIn" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div class="modl_title" style="margin-bottom: 50px">
                <h2>
                    <span class="text-danger">Reject Payment</span>
                    <br>
                </h2>
            </div>

            <div style="
            text-align: left;
            width: 50%;
            margin: 0px auto;
        ">

            <section class="panel">
                 
                <div class="form-group">
                    <label class="control-label">Enter your password</label>
                    <input type="password" class="form-control" name="PASSWORD" [(ngModel)]="PASSWORD">
                </div>
            </section>
        </div>

        <div>


            <div style="width: 200px; margin: 0 auto">
                <div style="margin-bottom: 30px">
                    <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                        (click)="cancelCustomerNotification()" [disabled]="loading||is_done=='1'||PASSWORD==''">
                        <strong *ngIf="is_done=='0'">Confirm</strong>
                        <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                        <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                    </button>

                </div>
            </div>
        </div>

        </div>


    </div>
</div>
<!-- Decline Lender Offer -->
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'send_email_reminder'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content container animated bounceIn" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div class="modl_title" style="margin-bottom: 50px">
                <h2>
                    <span class="text-danger">Send Email Reminder</span>
                    <br>
                </h2>
            </div>

            <div *ngIf="done">
                <div *ngIf="result.status==true">
                    <div style="width: 120px;margin:20px auto;">
                        <svg style="width: 100%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                            y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
                            <g>
                                <circle fill="none" stroke="#1CA261" stroke-width="6" stroke-miterlimit="10" cx="50" cy="50" r="47" />
                                <polygon style="color:#1CA261" points="72,25 42,71 27,56 23,60 43,80 77,28  " />
                            </g>
                        </svg>
                    </div>


                    <p class="text-center">
                        <small>Request successful</small>
                    </p>
                </div>
                <div *ngIf="result.status==false">
                    <div style="width: 120px;margin:20px auto;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" x="0px" y="0px">
                            <path d="M50,8A42,42,0,1,1,8,50,42,42,0,0,1,50,8m0-3A45,45,0,1,0,95,50,45,45,0,0,0,50,5Z"></path>
                            <path d="M47.08,46.44q-.79-4-1.18-6.42t-.51-3.54q-.11-1.15-.11-2a4.3,4.3,0,0,1,1.29-3.25,5.36,5.36,0,0,1,6.84,0,4.3,4.3,0,0,1,1.29,3.25q0,.84-.11,2T54.1,40q-.39,2.38-1.18,6.42T50.79,57.1H49.21Q47.87,50.48,47.08,46.44Zm-.34,15.88a4.6,4.6,0,0,1,7.85,3.25,4.16,4.16,0,0,1-1.35,3.17,4.82,4.82,0,0,1-6.51,0,4.16,4.16,0,0,1-1.35-3.17A4.43,4.43,0,0,1,46.75,62.31Z"></path>
                        </svg>
                    </div>


                    <p class="text-center">
                        <small>Unable to process request.</small>
                    </p>
                </div>
            </div>
            <div *ngIf="!done">
                <div class="text-left">
                    <div style="width: 90%; margin: 0 auto 25px">

                        <div id="docsBlock" style="margin-bottom: 40px;">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Message</label>
                                        <app-ngx-editor [config]="editorConfig" name="message" [(ngModel)]="email_reminder.message"></app-ngx-editor>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">When to send?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="ddlSendDateOption" [(ngModel)]="email_reminder.ddlSendDateOption" class="form-control">
                                            <option [value]="1">Immediately</option>
                                            <option [value]="2">Today 12pm</option>
                                            <option [value]="3">Today 4pm</option>
                                            <option [value]="4">Tomorrow 8am</option>
                                            <option [value]="5">Choose date</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="email_reminder.ddlSendDateOption=='5'">
                                <div class="row"></div>
                                <div class="col-md-6">
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-md-6">
                                    <my-date-picker [selDate]="selDate" name="txtSendDate" [options]="myDatePickerOptions" [(ngModel)]="email_reminder.txtSendDate"></my-date-picker>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-white" (click)="previewTheEmailReminder()">Preview</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-white" (click)="sendTheEmailReminder()">Save</button>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'send_new_card'">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class=" overpanel-content animated bounceIn  container" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">

        <div class="modl text-center">

            <div class="modl_title" style="margin-bottom: 50px">
                <h2>
                    <span class="text-success">Send Card Request</span>
                    <br>
                    <small class="modl_sub">An email will be sent to borrower to add a card</small>
                </h2>
            </div>

            <div style="width: 500px; margin: 0 auto 25px">

            </div>

            <div style="width: 200px; margin: 0 auto">
                <div style="margin-bottom: 30px">
                    <!-- <button class="text-center txt t_l4 t_cool big_btn btn-block good"><strong>Accept Contract</strong>
                            </button> -->
                    <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                        (click)="requestCard()" [disabled]="loading||is_done=='1'">
                        <strong *ngIf="is_done=='0'">Confirm</strong>
                        <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                        <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="childModal.location == 'request_card_mod'">

        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class=" overpanel-content animated bounceIn  container" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">
    
            <div class="modl text-center">
    
                <div class="modl_title" style="margin-bottom: 50px">
                    <h2>
                        <span class="text-success">Send Card Request</span>
                        <br>
                        <small class="modl_sub">An email will be sent to borrower to add a card</small>
                    </h2>
                </div>
    
                <div style="width: 500px; margin: 0 auto 25px">
    
                </div>
    
                <div style="width: 200px; margin: 0 auto">
                    <div style="margin-bottom: 30px">
                        <!-- <button class="text-center txt t_l4 t_cool big_btn btn-block good"><strong>Accept Contract</strong>
                            </button> -->
                        <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px"
                            (click)="requestCard()" [disabled]="loading||is_done=='1'">
                            <strong *ngIf="is_done=='0'">Confirm</strong>
                            <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                            <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                        </button>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="initiate_debit_instruction">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-directdebitinitiate [repayment]="repayment" [record_type]='21' (modalClosed)="closeOverlay($event)"></app-directdebitinitiate>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="initiate_debit_instruction_status">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-directdebitstatus [repayment]="repayment" (modalClosed)="closeOverlay($event)"></app-directdebitstatus>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="initiate_debit_instruction_cancel">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-directdebitcancel [repayment]="repayment" (modalClosed)="closeOverlay($event)"></app-directdebitcancel>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="stopdebitmandates">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-stopmandate [repayment]="repayment" (modalClosed)="closeOverlay($event)"></app-stopmandate>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="changingpayment">

    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <app-changepayment [loan]="loan.loan" [currentUser]='currentUser'></app-changepayment>
    </div>
</div>