ul.f32,
ul.f16 {
    display: block
}

.f16 i,
.f32 i,
.flag.deprecated {
    color: silver
}

ul.f16 {
    max-width: 320px;
    vertical-align: top;
    font-size: 12px
}

.f16 .flag,
.f32 .flag {
    width: auto;
    clear: right
}

.f16 .flag {
    padding-left: 24px
}

.f32 .flag {
    padding-left: 44px
}

.f16 abbr,
.f16 i {
    display: inline-block;
    width: 24px
}

.f32 abbr,
.f32 i {
    display: inline-block;
    width: 32px;
    line-height: 32px;
    vertical-align: bottom
}

.f16 i {
    margin-left: -48px;
    margin-right: 24px
}

.f32 i {
    margin-left: -76px;
    margin-right: 44px
}

.flag.island {
    color: navy
}

.is_active {
    background-color: #FAFAFA
}

.btn-orange {
    border-color: #df6e2c;
    background: #df6e2c;
    color: #fff
}

.nav>li {
    float: left
}

.l_img {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc
}

.headg {
    letter-spacing: -.051em;
    font-size: 60px;
    color: #000
}

.summ_one {
    border-bottom: 1px solid #c1c1c1!important
}

.summ_one li {
    padding-top: 0;
    background: #fff;
    color: #000
}

.summ_one li.active {
    border-bottom: 4px solid #c1c1c1
}

.l_f,
ul.main_fil li {
    border-bottom: 1px solid #eaeaea
}

.summ_one li a {
    color: #000!important
}

#comments section,
#popular section,
#recent section {
    margin-bottom: 5px!important
}

checkbox {
    margin: 10px
}

.inline-select-wrapper {
    display: inline-block;
    margin-bottom: 10px
}

.l_f {
    margin-bottom: 5px
}

.inline-select {
    position: relative;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    margin-right: 5px;
    background: 0 0
}

.inline-select a.active {
    color: #d00000
}

.lh-sm,
.vd_bg-black-80,
.vd_white {
    color: #fff!important
}

.moreFilter {
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.moreFilter.active {
    filter: alpha(Opacity=100);
    opacity: 1;
    height: 40px
}

ul.main_fil li {
    margin-bottom: 10px
}

ul.sub_fil {
    list-style: none;
    margin-bottom: 5px;
    overflow: auto
}

ul.sub_fil li {
    float: left;
    border-bottom: none
}

.vd_bg-black-80 {
    background-color: rgba(0, 0, 0, .8)!important
}

.alert {
    padding: 18px;
    border: none
}

ul.frm li.title {
    padding: 12px 12px;
    background: #eaeaea;
    font-size: 13px;
    color: #2f2f2f;
    border-bottom: 1px solid #a3a3a3
}

ul.frm li.sub {
    min-height: 50px;
    background: #fff
}

.control-label {
    font-weight: 100;
}

.panel-body {
    padding: 20px 50px;
}

.media {
    margin-top: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #f2f2f2;
}

.media:first-child {
    margin-top: 10px;
}

#customerlead .glyphicon {
    visibility: hidden;
    font-size: 9px;
}

#customerlead .active .glyphicon {
    visibility: visible;
}
.external {
    min-height:850px !important;
    width:70% !important;
}
.internal {
    width:100% !important;
    margin: 0px !important;
}
.mtop {
    margin-top: 130px;
}
.pad0 {
    padding:0px;
}
.pright {
    padding-right:7.5px !important;
}