
<div class="container" style="margin-top: 125px; margin-bottom: 20px">
    <div class="row box chat_container">
        <div class="col-md-3" style="padding: 40px;">            
            <ul class="list list_border no_pad">
                <li>
                    <img style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; " class="" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/avatar-mini.jpg?q=auto">
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                  <a class="btn big_btn btn-orange btn-block wd_btn edged_box">Update</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6" style="padding: 0">
            <p class="t_l1 text-right t_lh1" style="padding: 30px;margin-top: 350px;">
                No<br>Messages
            </p>
        </div>
        <div class="col-md-3" style="padding: 0">
            <div style="padding: 30px; margin-top: 350px;">
                <img style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; " class="" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/avatar-mini.jpg?q=auto">
            </div>
        </div>
    </div>
</div>