<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <section class="panel" style="background:none">
            <header class="panel-heading" style="background:#fff">
                Customers
                <span class="tools pull-right">
                    <a [routerLink]="['../../customer/create','individual']" class="btn btn-white btn-xs">New Customer</a>
                </span>
                <span class="tools pull-right">
                    <a [routerLink]="['../companies']" class="btn btn-white btn-xs">Companies</a>
                </span>
            </header>
            <app-customeranalysis></app-customeranalysis>
            <div class="table_cus">
                <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="showEmptyState == false">
                    <article *ngFor="let customer of customers" id="{{customer?.PEOPLE_CUSTOMERS_ID+'_item'}}" class="media" style="margin: 5px 0px;background: #fff;padding: 5px;cursor:pointer; margin-bottom:0px">
                        <div class="pull-left thumb p-thumb">
                            <a [routerLink]="['/customer/', getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID]">
                                <img [ngClass]="{'difficulty': customer?.HAS_PHONE_VERIFIED !=1}" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{customer?.FILE_NAME | imagenotfound}}?q=auto"
                                    style="width:50px; height:50px">
                            </a>
                        </div>

                        <div [attr.data-target]="customer?.PEOPLE_CUSTOMERS_ID+'_preview_pane'" [attr.data-parent]="customer?.PEOPLE_CUSTOMERS_ID+'_item'"
                            style="position: relative;">
                            <a (click)="showCustomerPreview($event, getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID)" class=" btn btn-white pull-right open_button hover_vis edged_box wd_btn">
                                <i class="fa fa-pencil"></i> view</a>
                            <a class=" btn btn-danger pull-right close_button hide" data-action="close">
                                <i class="fa fa-pencil"></i> close</a>

                            <div style="float: right; text-align: right; position: absolute; right: 0" class="hover_vis_show">
                                <div class="sm_rating" style="margin-bottom: 0">
                                    <app-rating [rating]='customer?.PEOPLE_RATING_ID'></app-rating>
                                </div>
                                <p>{{customer?.WHERE_FROM_TEXT}} | {{customer?.DATE_ADDED | amTimeAgo}}</p>
                            </div>

                        </div>


                        <div class="media-body">
                            <a [routerLink]="['/customer/', getCustomerType(customer?.CUSTOMER_TYPE), customer.PEOPLE_CUSTOMERS_ID]">
                                <p class="">{{customer.LEGAL_NAME}}</p>
                            </a>
                            <p class="">
                                <small>{{customer.CUSTOMER_TYPE_}}</small>
                            </p>
                            <p class="hover_vis">
                                <span *ngIf="customer.ACCOUNT_OFFICER_ASSIGNED === '0'">Officer Unassigned</span>
                                <span *ngIf="customer.ACCOUNT_OFFICER_ASSIGNED === '1'">Managed by
                                    <span class="blue_c"> {{customer.ACCOUNT_OFF}} </span>
                                </span>
                            </p>
                            <!-- Preview of the content when clicked -->
                            <div *ngIf="getCustomerType(customer?.CUSTOMER_TYPE) === 'individual'">
                                <div *ngIf="openedTab == customer.PEOPLE_CUSTOMERS_ID" class="animated slideInDown">
                                    <div class="panel-body rBox">
                                        <form #analyticsform="ngForm" novalidate>
                                            <input type="hidden" name="PEOPLE_CUSTOMERS_ID" [(ngModel)]="verifier.PEOPLE_CUSTOMERS_ID" [value]="customer">
                                            <div style="width: 100%;max-width: 450px;margin: 20px auto;">
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                    <div class="form-group" style="margin-bottom: 3px">
                                                        <span class="pull-left text-primary">Contact</span>
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["data"]["EMAIL"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["data"]["PHONE"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="customer?.HAS_PHONE_VERIFIED !=1">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Skip Phone Verification</span>
                                                        <span class="pull-right">
                                                            <input type="checkbox" name="phone_verifier" [(ngModel)]="verifier.phone_verifier">
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="customer?.HAS_EMAIL_VERIFIED !=1">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Skip Email Verification</span>
                                                        <span class="pull-right">
                                                            <input type="checkbox" name="email_verifier" [(ngModel)]="verifier.email_verifier">
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="customer?.HAS_BVN_VERIFIED !=1">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Skip BVN Verification</span>
                                                        <span class="pull-right">
                                                            <input type="checkbox" name="bvn_verifier" [(ngModel)]="verifier.bvn_verifier">
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Loans</span>
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["loans"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <!-- <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Loans</span>
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["loans"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div> -->
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="enable_peer=='1'">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Funding</span>
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["funding"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="enable_peer=='1'">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Wallet</span>
                                                        <span class="pull-right">{{customerPreview.individual[customer.PEOPLE_CUSTOMERS_ID]["wallet"]}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div style="">
                                                    <div class="row">
                                                        <div class="col-md-6" style='padding-right: 0; margin-left: -5px' *ngIf="authService.canViewModule('1,3,5')">
                                                            <a (click)="takeOwnership(customer)" *ngIf="customer?.ACCOUNT_OFFICER_ASSIGNED=='0'" class="pull-right btn-white wd_btn good btn-block text-center"
                                                                style="padding: 6px 12px;color:#fff;">Assign Officer</a>
                                                            <a (click)="changeOwnership(customer)" *ngIf="customer?.ACCOUNT_OFFICER_ASSIGNED!='0' && canSeeLinks" class="pull-right btn-white wd_btn good btn-block text-center"
                                                                style="padding: 6px 12px;color:#fff;">Change Officer</a>
                                                        </div>
                                                        <div *ngIf="!canSeeLinks"></div>
                                                        <div class="col-md-6">
                                                       
                                                                <button *ngIf="customer?.HAS_BVN_VERIFIED !=1 || customer?.HAS_PHONE_VERIFIED !=1 || customer?.HAS_EMAIL_VERIFIED !=1" type="submit" (click)="saveVerification(analyticsform.value, analyticsform.valid, customer.PEOPLE_CUSTOMERS_ID)" [disabled]="loading"
                      class="btn btn-white pull-right wd_btn btn-orange btn-block text-center">
                      <span *ngIf="!loading">Execute Skip</span>
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf=" getCustomerType(customer?.CUSTOMER_TYPE) === 'corporate'">
                                <div *ngIf="openedTab == customer.PEOPLE_CUSTOMERS_ID" class="animated slideInDown">
                                    <div class="panel-body rBox">
                                        <div style="width: 100%;max-width: 450px;margin: 20px auto;">
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Account Number</span>
                                                    <span class="pull-right">
                                                        {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['ACCOUNT_NUMBER']}}
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Details</span>
                                                    <span class="pull-right">
                                                        {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['EMAIL']}}
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['PHONE']}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['BUSINESS_REG_NUMBER']}}
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">
                                                        {{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['WEBSITE']}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <span class="pull-left text-primary">Address</span>
                                                    <span class="pull-right">{{customerPreview.corporate[customer.PEOPLE_CUSTOMERS_ID]["data"]['WORK_ADDRESS']}}
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="">
                                                <div class="row">
                                                    <div class="col-md-6" style='padding-right: 0; margin-left: -5px'>
                                                        <a class="pull-right btn-white wd_btn btn-orange text-center" style="border-radius: 0; padding: 6px 12px;color:#fff;" [routerLink]="['/customer/', 'corporate',customer.PEOPLE_CUSTOMERS_ID]">View Profile</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a [routerLink]="['/customer/update/','corporate',customer.PEOPLE_CUSTOMERS_ID]" class="btn btn-white btn-block" style="padding: 6px 12px;color:#fff;">Update Records</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr>
                    <header class="panel-heading " style="overflow:auto; padding: 0 0 15px 15px;" *ngIf="!navigation.complete">
                        <span class="tools pull-right">
                            <!-- <a  *ngIf="data?.complete == false" (click)="loadMoreRecords(data?.start)" data-index="1" data-prev="0" data-current="10" class="btn btn-next-a ">Load More</a> -->

                            <a class="btn btn-prev-a" (click)="prev()" *ngIf="navigation.prev > 0">Prev</a>

                            <a class="btn btn-next-a" (click)="next()" *ngIf="navigation.next > 0">Next</a>

                        </span>
                    </header>
                </div>
                <!-- Empty State -->
                <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="showEmptyState">
                    <div class="text-center" style="min-height:400px;padding-top:120px;background:#fff; text-align:center">
                        <a href="javascript:;" style="font-size:40px">
                            <i class="fa fa-meh-o"></i>
                        </a>
                        <h3>No customers found</h3>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3" style="padding-left: 0">
        <div class="animated fadeInDown" *ngIf="view == 'main'">
            <div class="text-center" style="color: #fff; background: #718FC8;padding: 30px; margin-bottom: 5px">
                <div style="margin-top: 10px; margin-bottom: 20px;">
                    <img src="assets/images/profile.PNG">
                </div>
                <div>
                    <p class="txt t_l3 t_lh1">
                        <strong>{{count}}</strong>
                    </p>
                    <p class="txt">Customers</p>
                </div>
            </div>
            <div style="background: #FAFAFA; border: 1px solid #ccc;padding: 12px; margin-bottom: 5px">
                <input type="text" name="searchTerm" style="border: none; background: none; font-size: 16px; max-width: 80%;" placeholder="Search Here"
                    [(ngModel)]="magic_filter.searchText" (keyup.enter)="searchLoad(0)">
                <img src="assets/images/search.PNG" style="vertical-align: top;">
            </div>
            <div style="background: #FFF; border: 1px solid #ccc;padding: 12px;">
                <p class="txt t_l4" style="display: inline-block; width: 100%; max-width: 80%">Borrower</p>
                <input type="checkbox" checked="checked" name="borrower_box" [(ngModel)]="borrower_box" (change)="handleChange()" style="margin-left: 15px">
            </div>
            <div style="background: #FFF; border: 1px solid #ccc;padding: 12px;">
                <p class="txt t_l4" style="display: inline-block; width: 100%; max-width: 80%">Investor</p>
                <input type="checkbox" checked="checked" name="investor_box" [(ngModel)]="investor_box" (change)="handleChange()" style="margin-left: 15px">
            </div>
            <div class="text-center txt t_l4 t_cool big_btn" style="line-height: 34px; overflow: hidden;" (click)="open('filter')">
                <button class="btn btn-default edged_box pull-left">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                More Filters
            </div>
        </div>
        <!-- Reverse Filter View -->
        <div class="animated fadeInUp" *ngIf="view == 'filter'">

            <div class="text-center txt t_l4 t_cool box big_btn" style="line-height: 34px; overflow: hidden;" (click)="open('main')">
                <button class="btn btn-default edged_box pull-left">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>
                Less Filter Options
            </div>
            <section class="panel mbot0">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">Registered From</label>
                        <select name="registered_from" class="form-control" [(ngModel)]="magic_filter.registered_from">
                            <option *ngFor="let status of statuses" [value]="status.value">{{status.display}}</option>
                        </select>
                    </div>
                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Joined (Months)</label>
                    <div class="row">
                        <div class="col-md-6" style="padding-right:5px !important" *ngFor="let duration of durations;let i = index">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">{{duration.display}}</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="duration_{{duration.value}}" (change)="checkLevel(duration,$event.target.checked,i)">

                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="stacked_boxes_parent">
                <!-- <div class="stacked_boxes">
                    <select class="form-control edged_box">
                        <option>one</option>
                        <option>two</option>
                    </select>
                </div> -->
                <div class="stacked_boxes">
                    <button class="btn btn-primary btn-block edged_box" (click)="normalLoad(0)">Apply Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>