<div *ngIf="!loading && searchView">
    <div class="row req_frm">
        <div class="col-md-4">

            <div class="text-center txt t_l4 t_cool box" style="background: #FFF; border: 1px solid #ccc;padding: 12px; cursor: pointer;"
                (click)="searchView=false">
                Less Filters
            </div>
            <section class="panel mbot0">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">Request Category</label>
                        <select (change)="getLoans_()" name="magic_filter.loan_status" class="form-control" [(ngModel)]="magic_filter.loan_status">
                            <option *ngFor="let status of statuses" [value]="status.value">{{status.display}}</option>
                        </select>
                    </div>
                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">Funding</label>
                        <select name="magic_filter.peer_to_peer" class="form-control" [(ngModel)]="magic_filter.peer_to_peer">
                            <option [value]=""></option>
                            <option [value]="0">Not Peer To Peer</option>
                            <option [value]="1">Peer To Peer</option>
                        </select>
                    </div>
                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <ion-range-slider [from_min]="0" [min]="min_" [max]="max_" (onChange)="update__(simpleSlider_, $event)"></ion-range-slider>
                    </div>

                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Tenor(months)</label>
                    <div class="row">
                        <div class="col-md-6" style="padding-right:5px !important" *ngFor="let duration of durations;let i = index">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">{{duration.display}}</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" [checked]="duration.checked" name="duration_{{duration.value}}" (change)="checkLevel(duration,$event.target.checked,i)">
                                            <!-- <input type="checkbox"  (change)="$event.target.checked? (magic_filter.loan_status = statuses[0].value) : (magic_filter.loan_status = statuses[1].value)" [checked]="status.value===magic_filter.loan_status" name="magic_filter.loan_status" [(ngModel)]="magic_filter.loan_status"> -->
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel mbot0 hide">
                <div class="panel-body">
                    <label class="control-label">Funding Status</label>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 5px">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">Applied</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="funding_status_applied" [(ngModel)]="magic_filter.funding_status_applied">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right: 5px">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">Funded</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="funding_status_funded" [(ngModel)]="magic_filter.funding_status_funded">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 5px">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">Contract</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="funding_status_contract_created" [(ngModel)]="magic_filter.funding_status_contract_created">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">% Funding</label>
                    <!-- <ion-range-slider [from_min]="0" [min]="min" [max]="max" (onChange)="update_(simpleSlider, $event)"></ion-range-slider> -->
                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Borrower Sector</label>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let sector of sectors;let i = index" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">{{sector?.DESCRIPTION}}</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" [checked]="sector.checked" name="section_{{sector?.OCCUPATION_ID}}" (change)="checkSector(sector,$event.target.checked,i)">

                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Ratings</label>
                    <div class="row">
                        <div class="col-md-6" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">1</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="ratings_one" [(ngModel)]="magic_filter.ratings_one">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">2</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="ratings_two" [(ngModel)]="magic_filter.ratings_two">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">3</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="ratings_three" [(ngModel)]="magic_filter.ratings_three">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">4</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="ratings_four" [(ngModel)]="magic_filter.ratings_four">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">5</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="ratings_five" [(ngModel)]="magic_filter.ratings_five">
                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Approvals</label>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let level of approval_levels;let i = index" style="padding-right:5px !important">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">{{level?.LEVEL_TITLE}}</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" name="level_{{level?.APPROVAL_LEVEL_ID}}" (change)="checkLevel_(level,$event.target.checked,i)">

                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel mbot0">
                <div class="panel-body">
                    <label class="control-label">Request Date</label>
                    <div class="row">
                        <div class="col-md-12" style="padding-right:5px !important" *ngFor="let dt of request_date;let i = index">
                            <div class="form-group" style="margin-bottom:0px">
                                <span class="pull-left text-primary">{{dt.display}}</span>
                                <span class="pull-right">
                                    <div class="checkbox" style="margin:0px !important">
                                        <label>
                                            <input type="checkbox" [checked]="dt.checked" name="dt_{{dt.value}}" (change)="checkDate(dt,$event.target.checked,i)">

                                        </label>
                                    </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<div class="row placeholder" *ngIf="loading" style=" margin-top:0px">
    <div class="col-md-4">
        <a href="javascript:;" class="">
            <section class="panel chH sd_bt">
                &nbsp;
            </section>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript:;" class="">
            <section class="panel chH sd_bt">&nbsp;
            </section>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript:;" class="">
            <section class="panel chH sd_bt">&nbsp;
            </section>
        </a>
    </div>
</div>
<div *ngIf="!loading && !searchView">
    <div *ngIf="calendarView">
        <app-portfoliocalendar></app-portfoliocalendar>
    </div>
    <div class="row" *ngIf="!calendarView">
        <div *ngIf="loans?.summary.count!='0' && type_of_view=='2'">
            <app-requestslist (requestaddToBulkPay)="rad($event)" (requestaddedToBulkPay)="rac($event)" (view_loan)="view_loan($event)"
                [enable_bulk_disbursements]='enable_bulk_disbursements' (open_loan)="open_loan($event)" (loadMore)="loadMoreRecords($event)"
                [view_state]="view_state" [dontshownext]="dontshownext" [loans]="loans" [magic_filter]="magic_filter" [type_of_view]="type_of_view"
                [loan_status]="magic_filter.loan_status"></app-requestslist>
        </div>
        <div *ngIf="loans?.summary.count!='0' && type_of_view=='1'">

            <div class="col-md-4" style="padding:0px !important" *ngFor="let loan of loans.loans">

                <a href="javascript:;">



                    <!-- Hover View -->
                    <section class="panel chH ch_back box" *ngIf="slaveOpen==loan?.REQUEST_ID" (mouseleave)="openSlave(0)">
                        <div class="panel-body" style="padding:16px 32px">

                            <div *ngIf="magic_filter.loan_status=='1'||magic_filter.loan_status=='-4'||magic_filter.loan_status=='6'">
                                <ul class="list list_border text-center">
                                    <li class="txt_l4 {{loan.LOAN_STATUS | loanStatus}}">
                                        {{loan.LOAN_STATUS | loanStatusText}}</li>
                                    <li class="txt_l4">
                                        Expires {{loan?.EXPIRATION_DATE | amTimeAgo}}</li>
                                    <li class="txt_l4">{{applyMethod[loan?.WHERE_FROM]}}</li>
                                    <li class="txt_l4" *ngIf="loan?.IS_PEER_TO_PEER!='1'">
                                        {{loan?.TOTAL_REPAYMENT|number:'.2-2'}}</li>

                                </ul>
                                <div class="act_btns">
                                    <a class="btn btn-white btn-block edged_box t_cool" *ngIf="loan?.IS_PEER_TO_PEER!='1'" [routerLink]="['/loan',loan.REQUEST_ID]"
                                        style="border-color: #718FC8">View Loan</a>

                                    <a class="btn btn-white btn-block edged_box t_cool" *ngIf="loan?.IS_PEER_TO_PEER=='1'" [routerLink]="['/loan',loan.REQUEST_ID,'p2p']"
                                        style="border-color: #718FC8">View Loan</a>

                                    <div *ngIf="!enable_bulk_disbursements">
                                        <a class="btn btn-white btn-block edged_box" (click)="open_loan(loan.REQUEST_ID)">Preview Loan</a>
                                    </div>
                                    <div *ngIf="loan?.PENDING_WALLET_DISBURSE !=1">
                                        <div *ngIf="enable_bulk_disbursements">
                                            <a class="btn btn-white btn-block edged_box" *ngIf="!addedToBulkPay(loan.REQUEST_ID)" (click)="addToBulkPay(loan.REQUEST_ID,true,loan)">Bulk Pay</a>
                                            <a class="btn btn-white btn-block edged_box" *ngIf="addedToBulkPay(loan.REQUEST_ID)" (click)="addToBulkPay(loan.REQUEST_ID,false,loan)">Remove</a>
                                        </div>
                                    </div>
                                    <div *ngIf="loan?.PENDING_WALLET_DISBURSE ==1">
                                        <div *ngIf="enable_bulk_disbursements">
                                            <button class="btn btn-pink btn-block" [disabled]="loading" (click)="doCheckWalletTransactionStatus(loan)">
                                                Check Transaction
                                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="magic_filter.loan_status=='-3'">

                                <div class="act_btns">

                                    <a class="btn btn-white btn-block edged_box" (click)="check_ineligible_loan(loan.REQUEST_ID,magic_filter.loan_status)">Preview Loan</a>
                                </div>
                            </div>
                            <div *ngIf="magic_filter.loan_status=='5'">

                                <div class="act_btns">

                                    <a class="btn btn-white btn-block edged_box t_cool" [routerLink]="['/loan',loan.REQUEST_ID]" style="border-color: #718FC8">View Loan</a>
                                </div>
                            </div>
                            <div *ngIf="magic_filter.loan_status=='2'">
                                <ul class="list list_border text-center">
                                    <li class="txt_l4">
                                        {{loan?.LOAN_STATUS | loanStatusText}}</li>
                                    <li class="txt_l4">
                                        {{loan?.TOTAL_PAID | money}} Repaid</li>
                                    <li class="txt_l4">
                                        {{loan?.LOAN_BALANCE | money}} Balance</li>
                                </ul>
                                <div class="act_btns">
                                    <a *ngIf="loan?.DISBURSED !='1'" class="btn btn-white btn-block edged_box" (click)="reverse_transaction(loan)">Reverse Transaction</a>
                                    <a class="btn btn-white btn-block edged_box" (click)="about_contract(loan?.REQUEST_ID)">About Contract</a>
                                    <a class="btn btn-white btn-block edged_box" (click)="view_state='4';dontshownext=1;open_loan(loan.REQUEST_ID)">View Loan</a>
                                </div>
                            </div>

                            <div *ngIf="magic_filter.loan_status=='3'">
                                <div class="act_btns">
                                    <a *ngIf="loan?.LOAN_STATUS=='5'" class="btn btn-white btn-block edged_box" [routerLink]="['/statement',loan.REQUEST_ID]">About Contract</a>
                                    <a class="btn btn-white btn-block edged_box t_cool" *ngIf="loan?.LOAN_STATUS=='-1'&&loan?.IS_REJECTED=='1'" [routerLink]="['/loan',loan.REQUEST_ID]"
                                        style="border-color: #718FC8">View Loan</a>
                                    <a class="btn btn-white btn-block edged_box t_cool" *ngIf="loan?.LOAN_STATUS=='-1'&&loan?.IS_REJECTED=='0'" [routerLink]="['/loan',loan.REQUEST_ID]"
                                        style="border-color: #718FC8">View Loan</a>
                                </div>
                            </div>
                            <div *ngIf="magic_filter.loan_status=='100'">
                                <div class="act_btns">

                                    <button class="btn btn-white btn-block edged_box t_cool" style="border-color: #718FC8" (click)="makeOffer(loan)">Make Offer</button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Front View -->
                    <section class="panel chH ch_front box" *ngIf="masterClosed!=loan?.REQUEST_ID" (mouseenter)="openSlave(loan.REQUEST_ID)">
                        <div class="panel-body text-center" style="padding-bottom:0;">
                            <input type="checkbox" *ngIf="openforbulkpay" [checked]="addedToBulkPay(loan.REQUEST_ID)">
                            <h3 class="no-margin txt t_cool" style="word-wrap:break-word; font-size:13px; letter-spacing: 0.08em; margin-top: 10px">{{loan?.LEGAL_NAME}}</h3>
                            <p class="txt t_dull" style="font-size: 12px">
                                <span *ngIf="loan?.LOAN_STATUS<=2"> {{loan.OCCUPATION ? loan.OCCUPATION : '--' }} / {{loan.WORKSECTOR ? loan.WORKSECTOR : '--'}}
                                </span>
                                <span *ngIf="loan?.LOAN_STATUS>2">
                                    {{loan?.REQUEST_PRINCIPAL | money}} | {{loan?.REQUEST_TENOR}}{{loan?.LOAN_DURATION}}
                                </span>
                            </p>
                            <app-rating *ngIf="loan?.LOAN_STATUS<=2" [rating]='loan?.PEOPLE_RATING_ID'></app-rating>


                            <div *ngIf="loan?.LOAN_STATUS < 3" class="" style="margin:25px auto;">
                                <img *ngIf="loan?.IS_ACCEPTED=='0'" class="{{loan.LOAN_STATUS | loanStatus}}" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{loan?.FILE_NAME | imagenotfound}}?q=auto"
                                    style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; ">
                                <img *ngIf="loan?.IS_ACCEPTED=='1'" class="repayment" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{loan?.FILE_NAME | imagenotfound}}?q=auto"
                                    style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; ">
                            </div>
                            <div *ngIf="loan?.LOAN_STATUS > 2" class="" style="margin:25px auto;">
                                <img *ngIf="loan?.LATE =='0'|| loan?.LATE ==null" class="{{loan.LOAN_STATUS | loanStatus}}" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{loan?.FILE_NAME | imagenotfound}}?q=auto"
                                    style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; ">
                                <img *ngIf="loan?.LATE > 0" class="overdue" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{loan?.FILE_NAME | imagenotfound}}?q=auto"
                                    style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; ">
                            </div>

                            <div *ngIf="loan?.LOAN_STATUS<=2">
                                <div *ngIf="loan?.IS_PEER_TO_PEER=='1'">
                                    <p class="t_l4 t_cool" style="margin-bottom: 5px">N{{getTotalRemaining(loan?.REQUEST_PRINCIPAL,getTotalFunded(loan?.PERCENTAGE_FUNDED,loan?.REQUEST_PRINCIPAL))|number:'.2-2'}}
                                        <small class="t_dull" style="font-size: 12px;margin-left: 5px;">Left</small>
                                    </p>
                                    <div class="progress progress-xs" style="">
                                        <div [style.width]="percent_funded(loan.PERCENTAGE_FUNDED)" class="progress-bar {{loan.PERCENTAGE_FUNDED|safe}}" role="progressbar"
                                            attr.aria-valuenow="{{loan.PERCENTAGE_FUNDED|safe}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <small class="t_dull" style="display:block; font-size:12px">{{loan.PERCENTAGE_FUNDED}}% funded &nbsp; | &nbsp;{{getTotalFunded(loan.PERCENTAGE_FUNDED,loan.REQUEST_PRINCIPAL)|number:'.2-2'}}</small>
                                </div>
                                <div *ngIf="loan?.IS_PEER_TO_PEER!='1'">
                                    <p class="t_l4 t_cool" style="margin-bottom: 5px">{{loan.REQUEST_RATE}}% {{loan?.INTEREST_DURATION}}
                                    </p>
                                    <!-- <div class="progress progress-xs" style="">
                                            <div [style.width]="100" class="progress-bar" role="progressbar" attr.aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->
                                    <small class="t_dull" style="display:block; font-size:12px">{{loan?.LOAN_ID}}</small>
                                </div>
                                <div class="foot_stat t_dull">
                                    <div class="row">
                                        <div class="col-sm-6 text-center" style="border-right:1px solid #eaeaea">
                                            <p class="headline">{{loan.REQUEST_PRINCIPAL|number:'.2-2'}}
                                                <br>
                                                <span>Requested</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-6 text-center" style="border-right:1px solid #eaeaea">
                                                    <p class="headline">{{loan.REQUEST_TENOR}}
                                                        <br>
                                                        <span>{{loan.LOAN_DURATION}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <p style="font-size: 18px; margin: 0">
                                                        {{loan?.NOL}}
                                                        <span style="font-size:10px; display:block">Loans</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="loan?.LOAN_STATUS>2">
                                <div class="">

                                    <h4 class="" style="margin-top: 125px;font-size:13px">{{loan?.TOTAL_PAID|money}} ({{loan?.PERCENT_PAID}}%) Paids
                                        <br>
                                        <span *ngIf="loan?.USE_REMITA=='1'">Remita - {{loan?.REMITA_MANDATE_REF}}</span>
                                    </h4>
                                    <div class="progress progress-xs" style="">
                                        <div class="progress-bar {{loan.PERCENTAGE_FUNDED|safe}}" role="progressbar" attr.aria-valuenow="{{loan.PERCENTAGE_FUNDED|safe}}"
                                            aria-valuemin="0" aria-valuemax="100" [style.width]="percent_funded(loan?.PERCENT_PAID)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </a>
            </div>
            <div class="col-md-4" *ngIf="loans?.complete == false" style="padding:0px !important">
                <section class="panel chH" style="height:340px !important">
                    <div class="panel-body" style="padding-bottom: 31px; position: relative;">
                        <div style="padding: 25px 0px; text-align: center;padding-bottom:90px">
                            <h1 style="margin-bottom: 0px; font-size:110px">{{loans?.remaining}}</h1>
                            <span class="small" style="display: block;font-size:125%">Remaining</span>
                        </div>
                        <button (click)="loadMoreRecords(loans?.start)" class="btn btn-normal btn-block " [disabled]="loadingMore" style="padding: 10px; background: #fd8900">View More
                            <i *ngIf="loadingMore" class="fa fa-spinner fa-spin"></i>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div *ngIf="loans?.summary.count=='0'">

            <div class="panel panel-body box" style="position: relative; padding: 30px">

                <div style="margin-top: 100px"></div>

                <div class="row">
                    <div class="col-md-4">
                        <ul class="list list_border" id="no-padding-right">
                            <li>
                                <p class="txt t_l2 t_cool">No Records</p>
                            </li>
                            <li>
                                <a class="txt_l4 t_dull">Book Loan</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div>

        </div>
    </div>
</div>