<div class="profile_area animated fadeIn">

  <section class="panel" style="margin-bottom: 10px">
    <header class="panel-heading">
      <span class="tools pull-right">
        <ul class="list-inline">
          <li>
            <a [routerLink]="['../contract']">Summary</a>
          </li>

          <li>
            <a [routerLink]="['../more']">More</a>
          </li>
        </ul>
      </span>
      <span>Contract Offer</span>
    </header>
    <div *ngIf="offer?.SCHEDULE_HAS_BEEN_SAVED!=1">
        <div class="text-center" style="min-height:304px; padding-top:70px">
            <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
              <h3>Contract has not been created</h3>
          </div>
    </div>
    
    <div *ngIf="offer?.SCHEDULE_HAS_BEEN_SAVED==1">
        <div class="panel-body" *ngIf="sendingContract">
            <form #sc="ngForm" novalidate>
                <div class="form-inline">
    
                    <div class="form-group" style="margin-right:16px">
                      <label for="exampleInputEmail1">Time to send</label>
                      <input type="hidden" name="REQUEST_ID" [(ngModel)]="sendform.REQUEST_ID"> 
                    </div>
                    <div class="form-group" style="margin-right:16px">  
                      <select class="form-control" [(ngModel)]="sendform.TIME_TO_SEND" required name="TIME_TO_SEND">
                        <option [value]="0"></option>
                        <option [value]="1">Immediately</option>
                        <option [value]="2">Today @ 4pm</option>
                        <option [value]="3">Tomorrow @ 8am</option>
                      </select>
                    </div>
                    <div class="form-group" style="margin-right:16px"> 
                      <button type="submit" (click)="sendContract(sc.value, sc.valid)" [disabled]="contractSending" class="btn btn-primary btn-tp edged_box">Submit
                        <i class="fa fa-spinner fa-spin" *ngIf="contractSending"></i></button>
                    </div>
                    
                  </div>
                  
              </form>
          
        </div>
        <div class="panel-body">
          <form #ols="ngForm" novalidate>
    
            <div class="form-group">
              <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="offer.LOAN_PRODUCT_ID">
              <input type="hidden" name="REQUEST_ID" [(ngModel)]="offer.REQUEST_ID">
              <app-ngx-editor [config]="editorConfig" name="OFFER_LETTER" [(ngModel)]="offer.OFFER_LETTER"></app-ngx-editor>
            </div>
            <button type="submit" (click)="saveOL(ols.value, ols.valid)" [disabled]="loading" class="btn btn-white pull-right">
              <span *ngIf="!loading">Submit</span>
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </button>
            <button type="button" (click)="sendingContract=!sendingContract" class="btn btn-white pull-right">
              <span>Send Offer Letter</span>
              <!-- <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> -->
            </button>
          </form>
        </div>
    </div>
  </section>

</div>