<div class="row">




    <div class="col-lg-5">
        <!--widget start-->
        <aside class="profile-nav alt green-border">
            <section class="panel" style="border-radius: 2px;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2)">
                <div class="user-heading alt" style="background: #0092bd;
                padding: 10px 0px 10px 20px;">
                    <a style="margin-right:5px">
                        <img alt="" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{customer?.FILE_NAME | imagenotfound}}?q=auto" style=" width: 50px;   height: 50px; border-radius: 50%; ">
                    </a>
                    <h1 style="margin-top:5px;margin-bottom:0px;">{{customer?.LEGAL_NAME}}</h1>
                    <p>{{customer?.EMAIL}}</p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li><a (click)="viewing='default'" [ngClass]="{'active': viewing=='default'}"> Basic</a></li>
                    <li><a (click)="viewing='home_info'" [ngClass]="{'active': viewing=='home_info'}"> Address</a></li>
                    <li><a (click)="viewing='work_info'" [ngClass]="{'active': viewing=='work_info'}"> Work</a></li>
                    <li><a (click)="viewing='others'" [ngClass]="{'active': viewing=='others'}"> Others</a></li>
                </ul>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <a class="btn btn-white btn-block" (click)="view_customer(customer?.PEOPLE_CUSTOMER_ID)">View Details</a>
                </div>
            </section>
        </aside>
    </div>

    <div class="col-md-5"></div>



    <div class="col-md-7">
        <div class="address_info" *ngIf="viewing=='default'">
            <div style="">
                <div class="form-group">
                    <span class="pull-left text-primary">Fullname</span>
                    <span class="pull-right">
                  {{customer?.LEGAL_NAME}}
               </span>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <span class="pull-left text-primary">Age</span>
                    <span class="pull-right">
                  {{customer?.AGE}}
               </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <span class="pull-left text-primary">Gender</span>
                    <span class="pull-right">
                  {{customer?.GENDER}}
               </span>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <span class="pull-left text-primary">Marital Status</span>
                    <span class="pull-right">
                  {{customer?.MARITAL_STATUS}}
               </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">National</span>
                    <span class="pull-right">
                  {{customer?.NATION}}
               </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary">Email</span>
                    <span class="pull-right">
              {{customer?.EMAIL}}
             </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary">Phone</span>
                    <span class="pull-right">
             {{customer?.PHONE}}
           </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="address_info" *ngIf="viewing=='work_info'">
            <div style="">
                <div class="form-group">
                    <span class="pull-left text-primary">Occupation</span>
                    <span class="pull-right">
                  {{customer?.DESCRIPTION}}
               </span>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <span class="pull-left text-primary">Sector</span>
                    <span class="pull-right">
                  {{customer?.WORK_SECTOR_D}}
               </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Net Monthly Income</span>
                    <span class="pull-right">
                  {{customer?.NET_MONTHLY_INCOME}}
               </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary">Work Address</span>
                    <span class="pull-right">
              {{customer?.WORK_ADDRESS}}
             </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary">Company</span>
                    <span class="pull-right">
              {{customer?.COMPANY_OF_WORK}}
             </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="home_info" *ngIf="viewing=='home_info'">
            <div style="">
                <div class="form-group">
                    <span class="pull-left text-primary">Address</span>
                    <span class="pull-right">
                {{customer?.HOME_ADDRESS}}
             </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="address_info" *ngIf="viewing=='others'">
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Next of Kin Name</span>
                    <span class="pull-right">
                     {{customer?.NOK_NAME}}
                  </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Next of kin phone</span>
                    <span class="pull-right">
                   {{customer?.NOK_PHONE}}
                </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Education</span>
                    <span class="pull-right">
                 {{customer?.EDUCATION_INSTITUTION}}
              </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Year</span>
                    <span class="pull-right">
               {{customer?.QUALIFICATION_YEAR}}
            </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Cards</span>
                    <span class="pull-right">
             0
          </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Accounts</span>
                    <span class="pull-right">
          0
        </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                    <span class="pull-left text-primary ">Guarantors</span>
                    <span class="pull-right">
         0
      </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
