.pop_nav{
	border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

li a {
    cursor:pointer !important; 
    border-right: 1px solid #ccc;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
}

li a.active {
    color: #ff8d00;
}

li a:hover {}

.pop_nav li:last-child{
	padding-right: 0;
}
.pop_nav li:last-child a{
	border-right: none;
	padding-right: 0;
}
.form-group{
	margin-bottom: 12px;
	font-size: 14px;
}