<div class="statement">
    <!-- Heading -->
    <div class="panel-body" style="margin: -10px -10px 20px; border-bottom: solid 1px rgba(0,0,0,.09); background-color: #fff">
        <div class="pull-left">
            <h4 style="margin-bottom: 0">
                <strong>Statement</strong>
            </h4>
        </div>

    </div>
    <div class="panel-body" style="margin: -10px -10px 20px; border-bottom: solid 1px rgba(0,0,0,.09); background-color: #fff">
        <div class="pull-left">
            <button [disabled]="!exportable" class="btn btn-primary btn-filter" style="border-radius: 0" (click)="exportRecords()">
                <span class="glyphicon glyphicon-filter" aria-hidden="true" *ngIf="!loading"></span>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Export
            </button>
        </div>
        <div class="form-inline pull-right" role="form">
                <div class="form-group">
                        <div class="ngui-datetime-picker-wrapper">
                            <select  name="TTYPE" class="form-control" [(ngModel)]="TTYPE">
                                <option [value]="0">All</option>
                                <option [value]="1">Debit</option>
                                <option [value]="2">Credit</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <select  name="PEOPLE_CUSTOMER" class="form-control" [(ngModel)]="PEOPLE_CUSTOMER">
                                <option [value]="0">Select a customer</option>
                                <option [ngValue]="customer" *ngFor="let customer of people_customers">{{customer.LEGAL_NAME}}</option> 
                            </select>
                        </div>
                    </div>
            <div class="form-group">
                <div class="ngui-datetime-picker-wrapper">
                    <input type="text" name="FISCAL_DATE_START" placeholder="Start Date" class="form-control" [(ngModel)]="FISCAL_DATE_START"
                        ngui-datetime-picker date-only="true" style="border-radius: 0" />
                </div>
            </div>
            <div class="form-group">
                <div class="ngui-datetime-picker-wrapper">
                    <input type="text" name="FISCAL_DATE_END" placeholder="End Date" class="form-control" [(ngModel)]="FISCAL_DATE_END" ngui-datetime-picker
                        date-only="true" style="border-radius: 0" />
                </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-filter" style="border-radius: 0" (click)="filterRecords()">
                <span class="glyphicon glyphicon-filter" aria-hidden="true" *ngIf="!loading"></span>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Filter
            </button>

        </div>
    </div>
    <!-- Wallet Details -->
    <div style="margin-bottom: 20px">
        <div class="row">
            <div class="col-md-6">
                <table class="key-value-table" summary="Example of a key value table.">
                    <caption>Account Details</caption>
                    <tbody>
                        <tr>
                            <th class="width-20">Account Title:</th>
                            <td class="text-right">{{account_details?.GL_NAME}}</td>
                        </tr>
                        <tr>
                            <th>Account Code:</th>
                            <td class="text-right">{{account_details?.GL_CODE}}</td>
                        </tr>
                        <tr>
                            <th>Book Balance:</th>
                            <td class="text-right">{{account_details?.IS_WALLET != '1' ? 0 : ledgers?.BOOK_BALANCE|number:'.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="key-value-table" summary="Example of a key value table.">
                    <caption>Account Summary</caption>
                    <tbody class="wide">
                        <tr>
                            <th class="width-20">Opening Balance ({{ledgers?.FISCAL_DATE_START| amDateFormat:'MMM DD YYYY'}}):</th>
                            <td class="text-right">{{ledgers?.OPENING_BALANCE|number:'.2-2'}}</td>
                        </tr>
                        <tr>
                            <th>Current Trx. (From {{ledgers?.FISCAL_DATE_START| amDateFormat:'MMM DD YYYY'}} to {{ledgers?.FISCAL_DATE_END|amDateFormat:'MMM
                                DD YYYY'}}):</th>
                            <td class="text-right">{{ledgers?.TOTAL_TRANSACTIONS|number:'.2-2'}}</td>
                        </tr>
                        <tr>
                            <th>Current Balance :</th>
                            <td class="text-right">{{ledgers?.cu|number:'.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- table -->
    <div class="panel panel-default" style="border-radius: 0; color: #57584E; margin-bottom: 0">
        <div class="panel-body">
            <div style="max-height: 350px; overflow-y: scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th class="text-right">Debit</th>
                            <th class="text-right">Credit</th>
                            <th class="text-right">Balance</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>{{ledgers?.FISCAL_DATE_START | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>Opening Account Balance</td>
                        <td class="text-right">0.00</td>
                        <td class="text-right">0.00</td>
                        <td class="text-right">{{ledgers?.OPENING_BALANCE|number:'.2-2'}}</td>
                    </tr>
                    <tbody *ngIf="ledgers?.contra_charts_size=='0'"></tbody>

                    <tbody>
                        <tr *ngFor="let tran of ledgers?.contra_charts">
                            <td>{{tran.DATE_ADDED | amDateFormat: 'YYYY-MM-DD'}}</td>
                            <td>{{tran.NARRATION}}</td>
                            <td class="text-right">{{tran.DEBIT|number:'.2-2'}}</td>
                            <td class="text-right">{{tran.CREDIT|number:'.2-2'}}</td>
                            <td class="text-right">{{tran.bal|number:'.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>