.bround {
    border-radius: 15px;
    border:1px solid #eee;
}
.active {
    border-color: #51A7F9 !important;
}
.notactive {
    border-color: #A5A5A5 !important;
}
.heady {
    color: #51A7F9 !important;
}
.notheady {
    color: #A5A5A5 !important;
}
.btn-pink {
    border-radius: 0px !important;
    padding: 12px 24px !important;
    background-color: #ea8907 !important;
    border-color: #ea8907 !important;
}
.mydp {
    width: 100% !important;
}