<section class="panel" *ngIf="!from_loan_contract">
    <header class="panel-heading">
        Lenders
        <div class="tools pull-right">
            <span class="tools pull-right">
              <ul class="list-inline">
                  <li><a [routerLink]="['../p2p']">Summary</a></li>
                  <li><a [routerLink]="['../lenders']">Lenders</a></li>                    
              </ul>
            </span>
        </div>
    </header>
</section>


<section class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
       
                <div *ngIf="searchingLenders && !from_loan_contract">
                    <h4>Search Lenders</h4>
                    <div style="background: #FAFAFA; border: 1px solid #ccc;padding: 12px; margin-top: 5px">
                        <input type="text" name="" style="border: none; background: none; font-size: 16px; width: 100%; max-width: 92%;" placeholder="" [(ngModel)]="model.lender_name" (keyup.enter)="search_for_lenders()">
                        <img src="assets/images/search.PNG" style="vertical-align: top;" (click)="search_for_lenders()">
                    </div>
                </div>
                <div *ngIf="!searchingLenders">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel-icon offer_made">
                                <p class="count">{{lenders_summary?.OFFER_MADE}}
                                    <br>
                                    <span>Offers Made</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-icon offer_accepted">
                                <p class="count">{{lenders_summary?.OFFER_ACCEPTED}}
                                    <br>
                                    <span>Accepted</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-icon offer_funded">
                                <p class="count">{{lenders_summary?.FUNDED}}
                                    <br>
                                    <span>Funded</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="!from_loan_contract">
                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 8px; padding-bottom: 8px">
                    <span class="pull-left">Rejected</span>
                    <span class="pull-right">
                {{lenders_summary?.REJECTED}}
              </span>
                    <div class="clearfix"></div>
                </div>
                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;padding-bottom: 8px" *ngIf="loan?.LOAN_STATUS <= 2">
                    <div>
                        <span class="pull-left">Actions</span>
                        <span class="pull-right">
                  <div class="btn-group">

                <button aria-expanded="false" class="btn btn-xs btn-white dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a *ngIf="loan?.PERCENTAGE_FUNDED < 100 && loan?.LOAN_STATUS < 2" (click)="addLenders=!addLenders"><i class="fa fa-plus"></i> Add Lender</a></li>
                            <li><a (click)="searchingLenders=!searchingLenders"><i class="fa fa-search"></i> Search</a></li>
                        </ul>
                    </div>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <a class="btn btn-white btn-block edged_box" *ngIf="searchingLenders||addLenders" (click)="back()">Back</a>
        </div>
        <div class="col-md-3" *ngIf="from_loan_contract">
         
            <a class="btn btn-white btn-block edged_box" [routerLink]="['../lenders']">View Lenders</a>
        </div>
    </div>
    </div>
</section>


<section class="panel" *ngIf="count==0&&!addLenders && !from_loan_contract">
    <div class="panel-body">
        <div class="text-center">
            <a href="javascript:;" style="font-size:40px"><i  class="fa fa-meh-o"></i></a>
            <h3 style="margin-bottom: 26px; text-align: center;">No lenders</h3>
        </div>
    </div>
</section>


<div *ngIf="!addLenders && !from_loan_contract">
    <div class="row" *ngIf="count>0">
        <div class="col-md-4" *ngFor="let lender of lenders; let i = index" style="height: 260px; padding-right: 0;margin-bottom: 15px">
            <!-- <section class="panel lndrs" *ngIf="slaveOpen==lender?.REQUEST_LENDER_ID"> -->
            <div style="position: relative;" class="hover_toggle">
                <section class="panel lndrs hover_show">
                    <div class="panel-body">
                        <!-- <button *ngIf="lender?.OFFER_STATUS<='3'" (click)="acceptOffer(lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white edged_box" type="button">
                            <i class="fa fa-thumbs-up"></i> Accept
                        </button> -->
                        <button *ngIf="lender?.OFFER_STATUS<='3'" [disabled]="loading" (click)="confirmAcceptOffer(i, lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white edged_box" type="button">
                             Accept <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button>

                        <!-- <button *ngIf="lender?.OFFER_STATUS<'5'&&loan?.ADDED_TO_PAYMENT_QUEUE!='1'" (click)="rejectOffer(lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white edged_box" type="button">
                            <i class="fa fa-thumbs-down"></i> Reject
                        </button> -->
                        <button  [disabled]="loading" *ngIf="loan?.ADDED_TO_PAYMENT_QUEUE!='1'" (click)="confirmRejectOffer(i, lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white edged_box" type="button">
                           Reject <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button> 

<!-- 
                        <button *ngIf="!lender?.CAN_FUND" (click)="fundLenderOffer(lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white edged_box" type="button">
                            <i class="fa fa-money"></i> Fund
                        </button> -->
                        <button *ngIf="!lender?.CAN_FUND" (click)="sendLenderFundingMessage(lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white hide" type="button">
                            <i class="fa fa-mail"></i> Send Message
                        </button>

                        <!-- Contains content for bottom of the card -->
                        <div class="lndr_foot" style="padding: 15px">
                            
                        </div>
                    </div>
                </section>
                <!-- <section class="panel lndrs lndrs_front" *ngIf="masterClosed!=lender?.REQUEST_LENDER_ID"> -->
                <section class="panel lndrs lndrs_front hover_hide">
                    <div class="twt-feed">
                        <h1 *ngIf="lender?.IS_PLATFORM=='1'" style="color:#000000; font-size: 14px; margin-top: 10px">Platform</h1>
                        <h1 *ngIf="lender?.IS_PLATFORM!='1'" style="color:#000000; font-size: 14px; margin-top: 10px">{{lender?.LEGAL_NAME}}</h1>
                        <p>{{lender?.EMAIL}}</p>
                        <div>
                            <a *ngIf="lender?.IS_PLATFORM!='1'" [routerLink]="['/customer',lender?.PEOPLE_CUSTOMERS_ID]">
                                <img class="{{lender?.OFFER_STATUS | offerstatus}}" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{lender?.FILE_NAME | imagenotfound}}?q=auto" style="width: 80px; height: auto">
                            </a>
                            <!-- <a *ngIf="lender?.CUSTOMER_TYPE=='2'&&lender?.IS_PLATFORM!='1'" [routerLink]="['/customer',lender?.PEOPLE_CUSTOMERS_ID]">
                                <img class="{{lender?.OFFER_STATUS | offerstatus}}" src="assets/attachments/{{lender.FILE_NAME || lender.CUSTOMER_TYPE | imagenotfound}}" style="width: 80px; height: auto">
                            </a> -->
                            <a *ngIf="lender?.IS_PLATFORM=='1'">
                                <img class="{{lender?.OFFER_STATUS | offerstatus}}" src="assets/attachments/company-avatar.png" style="width: 80px; height: auto">
                            </a>
                        </div>
                    </div>
                    <p class="acceptance" *ngIf="lender?.OFFER_STATUS>3">Accepted</p>
                    <p class="acceptance" *ngIf="lender?.OFFER_STATUS==='-1'">Rejected</p>
                    <!-- <footer class="twt-footer hide">
                    <button (click)="openSlave(lender?.REQUEST_LENDER_ID)" class="btn btn-space btn-block btn-white" type="button">
                        <i class="fa fa-twitter"></i> Actions
                    </button>
                </footer> -->
                    <div class="weather-category twt-category lndr_foot" style="margin-bottom: 0">
                        <ul>
                            <li class="active">
                                <p class="headline">{{lender?.BID_PRINCIPAL | money}}
                                    <br>
                                    <span>Loans</span>
                                </p>
                            </li>
                            <li>
                                <p class="headline">{{lender?.BID_RATE}}%
                                    <br>
                                    <span>Monthly</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div *ngIf="addLenders && !from_loan_contract">
    <section class="panel">
        <div class="panel-body">
            <div style="margin:10px auto; width:50%">
                <div class="offer_form">

                    <h4>Add Lender</h4>
                    
                    <div class="search_box" style="padding-top: 5px; padding-bottom: 5px">
                        <input type="text" name="" placeholder="" (keyup)="lookforlenders()" name="lender_name" [(ngModel)]="model.lender_name" style="max-width: 85%">
                        <img src="assets/images/search.PNG" (click)="lookforlenders()">
                    </div>


                    <div *ngIf="slenders.length > 0 && !lender_selected" style="height:300px; overflow-y:scroll; border: 1px solid #ccc">
                        <article class="media" *ngFor="let lender of slenders" (click)="chooseLender(lender)" style="padding: 10px">
                            <div class="pull-left thumb p-thumb">
                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{lender?.FILE_NAME | imagenotfound}}?q=auto" style=" width: 40px; height: 40px;">
                            </div>
                            <div class="media-body">
                                <p class="txt t_l4 t_lh1 t_cool" style="word-wrap:break-word;">{{lender?.LEGAL_NAME}}</p>
                                <p>{{lender.WORK_SECTOR == undefined ? 'No stated work' :  lender.WORK_SECTOR}}</p>
                            </div>
                        </article>
                    </div>
                    <!-- <div *ngIf="slenders.length == 0 && !lender_selected && !search" style="height:300px; overflow-y:scroll; border: 1px solid #ccc">
                           <p>No lender found</p>
                        </div> -->

                    <div *ngIf="lender_selected" class="selected_inv" style="padding: 20px 0; border-bottom: 1px solid #ccc;">
                         

                        <article class="media pad0" style="height: 40px; overflow: hidden;">
                            <div class="pull-left thumb">
                                <!-- <img src="assets/attachments/{{selected?.CUSTOMER_TYPE | imagenotfound}}" style=" width: 40px; height: 40px;"> -->
                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{selected?.FILE_NAME | imagenotfound}}?q=auto" style=" width: 40px; height: 40px;">
                            </div>
                            <div class="pull-left">
                              <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">{{selected?.LEGAL_NAME}}</p>
                              <p class="txt t_dull">{{selected.WORK_SECTOR == undefined ? 'No stated work' :  selected.WORK_SECTOR}}</p>
                            </div>
                        </article>
                    </div>

                     

                    <!-- new form -->
                    <form *ngIf="lender_selected" #f="ngForm" novalidate>
                        <ul class="list list_border">
                            <li>
                              <div class="row">
                                  <div class="col-md-6">Amount Left</div>
                                  <div class="col-md-6 text-right">{{getRemainder() | number:'.2-2'}}</div>
                              </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6" style="padding-right: 5px">
                                        <div style="border: 1px solid #ccc;">
                                            <div class="input-group ">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" style="border: 0">
                                                      <span class="caret"></span>
                                                      <span class="sel_cur">{{loan_currency}}</span> 
                                                      </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li *ngFor="let c of countries"><a href="javascript:;" (click)="changeCurrency(c)">{{c.currency[0]}}</a></li>
                                                    </ul>
                                                </div>
                                                <input type="text" name="BID_PRINCIPAL" class="form-control" required [(ngModel)]="platformOffer.BID_PRINCIPAL" style="border: 0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 5px">
                                        <div style="border: 1px solid #ccc;">
                                            <div class="input-group ">
                                                <input type="text" name="BID_RATE" class="form-control" required [(ngModel)]="platformOffer.BID_RATE" style="border: 0">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" style="border: 0"><span class="sel_cur">{{interest_duration}}</span> <span class="caret"></span></button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li *ngFor="let d of loan_durations"><a href="javascript:;" (click)="changeDuration(d,2)">{{d.INTEREST_DURATION}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <!-- <button [disabled]="adding" class="btn btn-pink btn-block edged_box" (click)="submitOffer(f.value)">Save Offer</button> -->
                                        <button [disabled]="adding||platformOffer.BID_PRINCIPAL<=0||platformOffer.BID_RATE<=0" class="btn btn-pink btn-block edged_box" (click)="confirmSubmitOffer(f.value)">Save Offer</button>
                                    </div>
                                </div> 
                            </li>                            
                        </ul>  
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
