<section class="panel"> 
               	<header class="panel-heading">Menu</header>
                          <div class="list-group">
                                                          <a class="list-group-item" href="#accounts/accounts_setup">Accounts Setup <span></span></a>
                             
                             <a class="list-group-item" href="#accounts/casa/1">Wallet Account Settings</a> 
 
                             
                          </div>
                      </section>
     
      <section class="panel"> 
                          <div class="list-group">
                             <a class="list-group-item active" href="#accounts">Credit Queue <span></span></a>
                             <a class="list-group-item" href="#accounts/investments">Investment Queue</a>
                          
                             <a class="list-group-item" href="#accounts/journal">Journal</a>
                             <a class="list-group-item" href="#accounts/calendar">Calendar</a>
                          </div>
                      </section>
             
                        <section class="panel"> 
               	<header class="panel-heading">Reports</header>
                          <div class="list-group">
                             <a class="list-group-item" href="#reports/accounts">Accounts <span></span></a>
                          </div>
                      </section>