<div *ngIf="sub_summary=='1'">
  <section class="panel" style="border:1px solid #eee" *ngIf="!makingPayment">
    <div class="panel-body" style="padding:35px">
      <div class="row">
        <div class="col-md-5">
          <section class="panel" style="border:1px solid #eee">
            <div class="panel-body text-center" style="padding:35px; padding-top:15px">
              <h4 style="margin:0px">{{loan?.LEGAL_NAME}}</h4>
              <img src="assets/attachments/{{loan?.CUSTOMER_TYPE | imagenotfound}}" style=" width: 75px;   height: 75px; border-radius: 50%; margin:10px 0px; ">

              <a [routerLink]="['/loan',loan?.REQUEST_ID]" class="btn btn-pink btn-block">
                View Contract
              </a>
            </div>
            <footer class="panel-footer text-center">
              <div class="row">
                <div class="col-md-6">
                  <h4>{{loan?.REQUEST_PRINCIPAL|money}}</h4>
                  <p>Principal</p>
                </div>
                <div class="col-md-6">
                  <h4>{{loan?.REQUEST_TENOR}} {{loan?.LOAN_DURATION}}</h4>
                  <p>Tenor</p>
                </div>
              </div>
            </footer>
          </section>
        </div>
        <div class="col-md-7">
          <div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary">Loan Terms</span>
                <span class="pull-right">
                  {{loan?.LOAN_ID}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary">Required Credit</span>
                <span class="pull-right">
                  {{loan?.REQUEST_PRINCIPAL | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <span class="pull-left text-primary">Duration</span>
                <span class="pull-right">
                  {{loan?.REQUEST_TENOR}} {{loan?.LOAN_DURATION}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div>

              <div class="form-group">
                <span class="pull-left text-primary">Total Interest</span>
                <span class="pull-right">
                  {{loan?.TOTAL_INTERESTS | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary ">Total Repayment</span>
                <span class="pull-right">
                  {{loan?.TOTAL_REPAYMENT | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
            <div>
              <div>
                <div class="form-group">
                  <span class="pull-left text-primary "># Lenders</span>
                  <span class="pull-right">
                    {{loan?.LENDERS.SUMMARY}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div style="">
                <div class="form-group">
                  <span class="pull-left text-primary ">Total Offered</span>
                  <span class="pull-right">
                    {{loan?.TOTAL_AMOUNT_OFFERED | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div style="">
                <div class="form-group">
                  <span class="pull-left text-primary ">Total Accepted</span>
                  <span class="pull-right">
                    {{getTotalFunded(loan?.PERCENTAGE_FUNDED,loan?.REQUEST_PRINCIPAL) | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="sub_summary=='0'||sub_summary=='4'">

  <div *ngIf="loan?.IS_CANCELLED =='1'">
    <section class="panel">
      <div class="panel-body rBox">
        <div class="text-center">
          <div class="text-center" style="min-height:304px; padding-top:70px">
            <a href="javascript:;" style="font-size:40px">
              <i class="fa fa-meh-o"></i>
            </a>
            <h3>Loan Has Been Cancelled</h3>
          </div>
        </div>
      </div>
      <div class="panel-body rBox" *ngIf="market_status=='0'"></div>
    </section>
  </div>

  <div *ngIf="loan?.IS_CANCELLED !='1'">
    <div class="profile_area animated fadeIn">

      <section class="panel contract_area hideable_area">
        <header class="panel-heading" *ngIf="sub_summary=='0'">

          <span class="tools pull-right">
            <ul class="list-inline">
              <li>
                <a [routerLink]="['../customer-analysis']">Customer Analysis</a>
              </li>
              <li>
                <a [routerLink]="['../contract']">Summary</a>
              </li>
              <li>
                <a [routerLink]="['../checklist']">Checklist</a>
              </li>
              <li *ngIf="loan?.LOAN_STATUS<=2">
                <a [routerLink]="['../repayments']">Schedule</a>
              </li>
              <!-- <li><a [routerLink]="['../chat']">Chat</a></li> -->
              <li>
                <a [routerLink]="['../kyc']">KYC</a>
              </li>
              <!-- <li *ngIf="loan?.DIRECT_DEBIT_RETRIEVAL_REFERENCE != ''">
                <a [routerLink]="['../directdebit']">Direct Debit</a>
              </li> -->
              <li>
                <a [routerLink]="['../more']">More</a>
              </li>
            </ul>
          </span>

          <span>LOAN CONTRACT</span>
        </header>

        <div class="panel-body" *ngIf="toggleDocs">
          <app-loandocument [master]="master"></app-loandocument>
        </div>
        <div class="panel-body" *ngIf="changeProduct">
          <app-changeproduct [master]="master"></app-changeproduct>
        </div>
        <div class="panel-body" *ngIf="editContract">
          <app-loancontractform (uploaded)="someMethod($event)" [master]="master"></app-loancontractform>
        </div>
        <div class="" *ngIf="locationOpen">
          <app-userlocation [latitude]="lat" [longitude]="lng"></app-userlocation>
        </div>
        <div class="panel-body" *ngIf="calllogsOpen">
          <app-loanlogs [master]="master"></app-loanlogs>
        </div>
      </section>

      <div *ngIf="!viewingOffer && !editContract">
        <div *ngIf="loan?.IS_PEER_TO_PEER=='1' && loan?.LOAN_STATUS=='2'">
          <app-loanpeertopeer [parentRouteId]="loan?.REQUEST_ID" [from_loan_contract]=true></app-loanpeertopeer>
        </div>
        <div *ngIf="loan?.SCHEDULE_HAS_BEEN_SAVED=='1'  && loan?.CONTRACT_HAS_CHANGED=='1' && loan?.CONTRACT_DOC_SENT=='0'">
          <section class="panel">
            <div class="panel-body">
              <div class="pull-left" style="padding-right: 20px">
                <img src="assets/images/i.PNG">
              </div>
              <div class="pull-left">
                <h3 style="margin-bottom:0px !important">Contract Changed</h3>
                <p>The contract has been changed but yet to be sent to the customer</p>
              </div>
            </div>
          </section>
        </div>
        <div *ngIf="loan?.SCHEDULE_HAS_BEEN_SAVED=='1'  && loan?.CONTRACT_HAS_CHANGED=='0'  && loan?.CONTRACT_DOC_SENT=='0'">
          <section class="panel">
            <div class="panel-body">
              <div class="pull-left" style="padding-right: 20px">
                <img src="assets/images/i.PNG">
              </div>
              <div class="pull-left">
                <h3 style="margin-bottom:0px !important">Contract Created</h3>
                <p>The contract has been created but yet to be sent to the customer</p>
              </div>
            </div>
          </section>
        </div>
        <section class="panel">
          <div class="panel-body rBox" *ngIf="market_status=='2'">
            <div style="width: 100%;max-width: 450px;margin: 20px auto;">

            </div>
          </div>
          <div class="panel-body rBox" *ngIf="market_status=='0'">
            <div style="width: 100%;max-width: 450px;margin: 20px auto;">

              <p style="border-bottom: 1px solid #d9d9d9; padding-bottom: 4px;">Kindly Review the loan terms based on loan settings conﬁguration</p>

              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">

                <div class="form-group">
                  <span class="pull-left text-primary">Contract ID</span>
                  <span class="pull-right">
                    {{loan?.LOAN_ID}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">

                <div class="form-group">
                  <span class="pull-left text-primary">Comments</span>
                  <span class="pull-right">
                    {{loan?.DESCRIPTION}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">

                <div class="form-group">
                  <span class="pull-left text-primary">Purpose</span>
                  <span class="pull-right">
                    {{loan?.TITLE}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                  <span class="pull-left text-primary">Required Credit</span>
                  <span class="pull-right">
                    {{loan?.REQUEST_PRINCIPAL | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <span class="pull-left text-primary">Duration</span>
                  <span class="pull-right">
                    {{loan?.REQUEST_TENOR}} {{loan?.LOAN_DURATION}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                  <span class="pull-left text-primary">Fees & Charges</span>
                  <span class="pull-right">
                    {{loan?.TOTAL_FEES_CHARGES | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <span class="pull-left text-primary">Total Interest</span>
                  <span class="pull-right">
                    {{loan?.TOTAL_INTERESTS | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                  <span class="pull-left text-primary ">Total Repayment</span>
                  <span class="pull-right">
                    {{loan?.TOTAL_REPAYMENT | number:'.2-2'}}
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div *ngIf="loan?.IS_PEER_TO_PEER=='0'&&showingMore">
                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                  <div class="form-group">
                    <span class="pull-left text-primary ">Repayment Frequency</span>
                    <span class="pull-right">
                      {{loan?.REPAYMENT_FREQUENCY}}
                    </span>
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    <span class="pull-left text-primary ">Repayment Type</span>
                    <span class="pull-right" style="cursor:pointer" (click)="request_step=4">
                      {{loan?.REPAYMENT_TYPE}}
                    </span>
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    <span class="pull-left text-primary ">Monthly Repayment</span>
                    <span class="pull-right">
                      {{loan?.MONTHLY_REPAYMENT | number:'.2-2'}}
                    </span>
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    <span class="pull-left text-primary ">1st Repayment Date</span>
                    <span class="pull-right" style="cursor:pointer" (click)="request_step=5">
                      {{loan?.REPAYMENT_STARTED_WHEN}}
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                  <div class="form-group">
                    <span class="pull-left text-primary ">Net Disbursement</span>
                    <span class="pull-right">
                      <!-- {{loan?.HOW_MUCH_WAS_GIVEN | number:'.2-2'}} -->
                      {{getNet(loan) | number:'.2-2'}}
                    </span>
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    <span class="pull-left text-primary ">Disbursement Date</span>
                    <span class="pull-right">
                      {{loan?.DISBURSEMENT_DATE}}
                    </span>
                    <div class="clearfix"></div>
                  </div>

                </div>
                <div class="hide" style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                  <div class="form-group">
                    <span class="pull-left text-primary ">About the loan</span>
                    <span class="pull-right">
                      {{loan?.TOTAL_REPAYMENT | number:'.2-2'}}
                    </span>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
              <div *ngIf="loan?.IS_PEER_TO_PEER=='0'&&!showingMore" style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                <div class="form-group">
                  <span class="pull-left text-primary ">More Details</span>
                  <span class="pull-right">
                    <a (click)="showingMore = true">View</a>
                  </span>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div>
                <div class="row" *ngIf="loan?.IS_REJECTED!='1' && loan?.LOAN_STATUS < 3 && loan?.PENDING_WALLET_DISBURSE !=1">
                  <div class="col-md-6">
                    <button [disabled]="loading" *ngIf="loan?.IS_PEER_TO_PEER==='1'&&loan?.LOAN_STATUS==='1'&&loan?.ADDED_TO_PAYMENT_QUEUE!='1'"
                      class="btn btn-white btn-block" (click)="confirmRemoveLoan(loan?.REQUEST_ID)">Remove from Loan Market</button>

                    <button [disabled]="loading" *ngIf="loan?.IS_PEER_TO_PEER=='1'&&loan?.LOAN_STATUS=='1'" class="btn btn-white btn-block hide"
                      (click)="removeFromLoanMarket(loan?.REQUEST_ID)">Remove from Loan Market</button>
                  </div>
                  <div class="col-md-6" *ngIf="loan?.SCHEDULE_HAS_BEEN_SAVED!='1'&&(loan?.LOAN_STATUS=='2'||loan?.IS_PEER_TO_PEER!='1')&&loan?.ADDED_TO_PAYMENT_QUEUE!='1'&&loan?.IS_ACCEPTED!='1'">
                    <button type="submit" class="btn btn-pink btn-block" (click)="openOverlay()">{{loan?.SCHEDULE_HAS_BEEN_SAVED=='1'?'Edit Contract':'Create Contract'}}</button>
                  </div>
                  <div class="col-md-6" *ngIf="loan?.SCHEDULE_HAS_BEEN_SAVED=='1'">
                    <button type="submit" class="btn btn-pink btn-block" (click)="openOverlay()">{{loan?.SCHEDULE_HAS_BEEN_SAVED=='1'?'Edit Contract':'Create Contract'}}</button>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </section>

        <!-- Bottom Section -->
        <section class="panel-body" style="background: #fff; padding: 30px 15px">
          <ul class="list-inline btm_section text-center">
            <li class="col-md-4 text-center" style="border-right: 1px solid #ccc" *ngIf="loan?.CONTRACT_DOC_SENT == '0'">
              <h4 class="txt t_l4">
                <span class="text-default">{{loan?.SCHEDULE_HAS_BEEN_SAVED == '1' ? 'Created' : 'Not Created'}}</span>
                <br>
                <small>Contract</small>
              </h4>
            </li>
            <li class="col-md-4 text-center" style="border-right: 1px solid #ccc" *ngIf="loan?.CONTRACT_DOC_SENT == '1'">
              <h4 class="txt t_l4">
                <span class="text-default">{{loan?.IS_ACCEPTED == '1' ? 'Accepted' : 'Not Accepted'}}</span>
                <br>
                <small>Contract</small>
              </h4>
            </li>
            <li class="col-md-4 text-center" style="border-right: 1px solid #ccc">
              <h4 class="txt t_l4">
                <span class="text-success">Application</span>
                <br>
                <small>{{applyMethod[loan?.WHERE_FROM]}}</small>
              </h4>
            </li>
            <li class="col-md-4 text-center">
              <h4 class="txt t_l4">
                <span class="text-danger">{{loan?.DATE_ADDED | amTimeAgo}}</span>
                <br>
                <small>Time Spent</small>
              </h4>
            </li>
          </ul>
        </section>
      </div>

    </div>
  </div>
</div>


<div *ngIf="sub_summary=='2'">
  <section class="panel" style="border:1px solid #eee" *ngIf="!makingPayment">
    <div class="panel-body" style="padding:35px">
      <div class="row">
        <div class="col-md-5">
          <section class="panel" style="border:1px solid #eee">
            <div class="panel-body text-center" style="padding:35px; padding-top:15px">
              <h4 style="margin:0px">{{loan?.LEGAL_NAME}}</h4>
              <img src="assets/attachments/{{loan?.CUSTOMER_TYPE | imagenotfound}}" style=" width: 75px;   height: 75px; border-radius: 50%; margin:10px 0px; ">

              <a class="btn btn-pink btn-block">
                View Contract
              </a>
            </div>
            <footer class="panel-footer text-center">
              <div class="row">
                <div class="col-md-6">
                  <h4>{{loan?.REQUEST_PRINCIPAL|money}}</h4>
                  <p>Principal</p>
                </div>
                <div class="col-md-6">
                  <h4>{{loan?.REQUEST_TENOR}} {{loan?.LOAN_DURATION}}</h4>
                  <p>Tenor</p>
                </div>
              </div>
            </footer>
          </section>
        </div>
        <div class="col-md-7">
          <div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary">Repayment Details</span>
                <span class="pull-right">
                  {{loan?.LOAN_ID}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary">Loan Balance</span>
                <span class="pull-right">
                  {{loan?.repayment.LOAN_BALANCE | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <span class="pull-left text-primary">Total Paid</span>
                <span class="pull-right">
                  {{loan?.payments.TOTAL | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div>

              <div class="form-group">
                <span class="pull-left text-primary">Total Interest</span>
                <span class="pull-right">
                  {{loan?.TOTAL_INTERESTS | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary ">Total Fees Paid</span>
                <span class="pull-right">
                  {{loan?.TOTAL_FEES_AND_CHARGES | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
              <div class="form-group">
                <span class="pull-left text-primary ">Total Fines Paid</span>
                <span class="pull-right">
                  {{loan?.repayment.total_fines_paid | number:'.2-2'}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
</div>



<div *ngIf="overlayOpen">
  <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">

    <div class="col-md-12">
      <a class="dismiss cancel_treat_ close" role="button" (click)="overlayOpen=false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
      <app-loanform [request_id]='loan?.REQUEST_ID' [sub]='1'></app-loanform>
    </div>
  </div>
</div>