<section class="panel">
	<header class="panel-heading">
		Call Logs

	</header>
</section>


<section class="panel">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">


				<div *ngIf="!searchingLenders">
					<div class="row">
						<div class="col-md-4">
							<div class="panel-icon offer_made">
								<p class="count">{{calllogs?.analysis?.total_outgoing}}
									<br>
									<span>Outgoing Calls</span>
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel-icon offer_accepted">
								<p class="count">{{calllogs?.analysis?.total_outgoing_minutes}}
									<br>
									<span>Duration</span>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section class="panel">
	<div class="panel-body">

		<div class="row">
			<div class="col-md-4" *ngFor="let tel of calllogs?.logs">
				<div class="pull-left" style="margin-right: 20px">
					<a style="font-size: 40px">
						<i class="fa fa-mobile"></i>
					</a>
				</div>
				<div class="pull-left">
					<h3 style="margin-top: 0px; margin-bottom: 2px;font-size:15px;">{{tel.number}}</h3>
					<div class="progress progress-xs" style="margin-bottom: 0px">
						<div class="progress-bar" role="progressbar" attr.aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<p>
						<small>{{tel.cachedName}}</small>
					</p>
				</div>
				<!-- <div class="pull-right">
					<a class="btn btn-white">
						<i class="fa fa-phone"></i> Call</a>
				</div> -->
			</div>
		</div>
	</div>
</section>