<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEligibility">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEligibility" aria-expanded="false"
          aria-controls="collapseEligibility">
          Decision Groups
        </a>
      </h4>
    </div>
    <div id="collapseEligibility" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEligibility">
      <div class="panel-body">
        
      </div>
    </div>
  </div>