
.is_active {
    background-color:#FAFAFA;
}
.btn-orange{

        border-color: #df6e2c;
        background: #df6e2c;
        color: #fff;
    }
.nav>li {
    
    float: left;
}
.l_img {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
        }

    .headg{
        letter-spacing: -.051em;
        font-size: 60px;
        color: #000;	
    }
.summ_one {
    border-bottom:1px solid #c1c1c1 !important;
}
.summ_one li {
    padding-top: 0px;
    background: #fff;
    color: #000;
}
.summ_one li.active {
    border-bottom:4px solid #c1c1c1;
}
.summ_one li a {
    color: #000 !important;
}
#popular section,#comments section,#recent section {
    margin-bottom:5px !important;
}
checkbox {
margin:10px;
}
.inline-select-wrapper {
display: inline-block;
margin-bottom: 10px;
}
.l_f {
    margin-bottom: 5px;
border-bottom: 1px solid #eaeaea;
}
.inline-select {
position: relative;
border-right: 1px solid #e0e0e0;
padding-right: 10px;
margin-right: 5px;
background: transparent;
}
.inline-select a.active{
color:#d00000
}
.moreFilter {
    height:0px;
    overflow:hidden;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.moreFilter.active {
    /*padding-left: 15px;*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height:40px;
}
ul.main_fil li {
        border-bottom: 1px solid #eaeaea;
margin-bottom: 10px;
}
ul.sub_fil {
        list-style: none;
margin-bottom: 5px;
overflow: auto;
}
ul.sub_fil li {
    float: left;
    border-bottom:none
}
.vd_bg-black-80 {
background-color: rgba(0,0,0,0.8) !important;
 color: #fff !important;
}
.vd_white {
color: #fff !important;
}
.alert {
padding: 18px;
border: none;
}	
.lh-sm {
color:#fff !important;
}
ul.rp-l {
list-style:none;
margin:0px;
padding:0px;
}
ul.rp-l li{
float:left;
margin-bottom:10px;
}
ul.rp-l li a{
padding:10px 15px;
} 


.radio_list label{
    margin-bottom: 0;
}
.radio_list label input{
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.filter_option .panel-heading{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    background: rgba(240,240,240,.5);
    color: #333;
}

.field_list li{
    font-size: 12px;
    vertical-align: top;
    line-height: 1;
}

.field_list .radio_list label input{
    margin-top: 0;
}
.field_list .list-group-item{
    border: 0;
    padding: 9px 12px;
    padding-right: 32px;
}
