<div class="wrapping" style="" *ngIf="!running_analytics">
  <div class="text-center">
    <div class="panel-icon offer_made">
      <p class="count">{{numberOfRequests}}
        <br>
        <span>Requests</span>
      </p>
    </div>
  </div>
  <div class="text-row">

    <div class="checkbox pull-right">
      <input type="checkbox" name="RUN_FOR_ALL" [(ngModel)]="settings.RUN_FOR_ALL">
    </div>
    <span class="pull-left" style="margin-top: 10px;">
      Include requests previously analysed
    </span>
  </div>
  <div class="button-row text-center">

    <div style="width:90%; margin:0px auto">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-white btn-block">Cancel</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-white btn-block btn-orange" (click)="runAnalytics()">Run Analytics</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="" *ngIf="running_analytics">

  <div class="running-analytics" *ngIf="analytics_done">
    <h2 style="text-align: center; margin-top:32px; margin-bottom: 32px">Analytics Results</h2>
    <div class="" style="width:90%; margin: 0px auto">
      <div class="row">
        <div class="col-md-4">
          <div class="panel-icon offer_made_">
            <!-- <p class="count">{{numberOfRequests}}
                  <br>
                  <span>Requests</span>
                </p> -->
            <img style="width:150px; height:150px;" src="assets/img/naira.png">
            <p>{{ result?.count}} <br> Requests</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-icon offer_made_">
            <!-- <p class="count">{{numberOfRequests}}
                  <br>
                  <span>Requests</span>
                </p> -->
            <img style="width:150px; height:150px;" src="assets/img/naira.png">
            <p>{{ result?.total}} <br> in value</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-icon offer_made_">
            <!-- <p class="count">{{numberOfRequests}}
                  <br>
                  <span>Requests</span>
                </p> -->
            <img style="width:150px; height:150px;" src="assets/img/naira.png">
            <p>{{ result?.success | number:'.2-2'}}<br> success</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-row text-center" style="margin-top: 200px; position: relative;">

      <div style="width:50%; margin:0px auto">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-white btn-block btn-orange" (click)="viewAnalyticsResults()">View Results</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="running-analytics" *ngIf="!analytics_done">
    <img src="assets/images/process.svg" style="max-height: 50%;
    max-width: 50%;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;" />
  </div>

</div>