<div class="row" style="padding-top:50px"> 
	<div class="col-md-12">
		&nbsp;
	</div>
</div>

<div class="row placeholder" *ngIf="loading">
	<div class="col-md-3">
                                   <a href="javascript:;" class="">
                                   <section class="panel chH sd_bt">
                                   &nbsp;
                                   </section>
                                   </a>
                                </div>
    <div class="col-md-3">
                                   <a href="javascript:;" class="">
                                   <section class="panel chH sd_bt">&nbsp;
                                   </section>
                                   </a>
                                </div>
  	<div class="col-md-3">
                                   <a href="javascript:;" class="">
                                   <section class="panel chH sd_bt">&nbsp;
                                   </section>
                                   </a>
                                </div>
    <div class="col-md-3">
                                   <a href="javascript:;" class="">
                                   <section class="panel chH sd_bt">&nbsp;
                                   </section>
                                   </a>
                                </div>
</div>

<div *ngIf="!loading">
<div class="text-center" style="padding:20px 0px;">
<h1>Recent Transactions</h1>
<h5>All recent funding activities</h5>
</div>
<div class="row">
  <div class="col-md-3" *ngFor="let loan of loans">
  <a href="javascript:;" [routerLink]="['/loan',loan.REQUEST_ID]">
    <section class="panel chH" style=" box-shadow: 0px 1px 2px #888888; border: 1px solid #eee">
      
      <div class="panel-body text-center" style="padding-bottom:0;">
        <h3 class="no-margin" style="word-wrap:break-word; min-height:52px; font-size:13px;" >{{loan.LEGAL_NAME}}</h3>
        <div class="" style="margin:10px auto;">
          <img src="assets/attachments/{{loan.CUSTOMER_TYPE | imagenotfound}}" style=" width: 100px;   height: 100px; border-radius: 50%; ">
        </div>
        <div class="">
             <h4 class="" style="margin-top: 25px">{{loan.TOTAL_FUNDED}}</h4>
            <div class="progress progress-xs" style="">
                <div class="progress-bar {{loan.PERCENTAGE_FUNDED|safe}}" role="progressbar" attr.aria-valuenow="{{loan.PERCENTAGE_FUNDED|safe}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small style="display:block; font-size:9px">{{loan.PERCENTAGE_FUNDED}}% funded</small>
        </div>
        <div class="row" style="margin-top:60px">
                                          <div class="col-md-5 text-center" style="border-right:1px solid #eaeaea">
                                              <p class="headline">{{loan.REQUESTED}}<span style="display:block">Requested</span></p>
                                            </div>
                                            <div class="col-md-4 text-center" style="border-right:1px solid #eaeaea">
                                              <p class="headline">{{loan.REQUEST_TENOR}}<span style="display:block">{{loan.LOAN_DURATION}}</span></p>
                                            </div>
                                           <div class="col-md-3 text-center">
                                              <p style="    font-size: 21px;
    margin-top: 10px;"> <i class="fa {{loan.IS_PEER_TO_PEER|peertopeer}}"></i></p>
                                            </div>
                                        </div>
      </div>
    </section>
  </a>
  </div>
  <div class="col-md-3" *ngFor="let number of remaining">
  <section class="panel chH" style=" box-shadow: 0px 1px 2px #888888; border: 1px solid #eee; background-color: #eee">
        
    </section>
  </div>
  <div class="col-md-3">
  <section class="panel chH" style=" box-shadow: 0px 1px 2px #888888; border: 1px solid #eee">
       <div class="panel-body text-center" style="padding-bottom: 120px">
       <div style="padding-top: 50px">
       <h1 style="font-size: 100px">{{count}}</h1>
       </div>
       </div>
       <footer class="panel-footer" style="border: 0px; background-color: none !important;">
       	
       <a [routerLink]="['/credit/requests']" href="" class="btn btn-normal btn-block ld_btn_portfolio">Portfolio</a>

       </footer>
    </section>
  </div>
</div> 

</div>