<section id="main-content">
    <div class="container" style="min-height:600px;">
      <div class="row"  style="margin-top:120px;">
              <div class="col-md-12" style="padding:0;">
                      <div id="ajax_view">
                          <div class="row" >
                              <div class="col-md-8">
                                  <section class="panel panl" style="margin-bottom: 5px">
                                      <div class="panel-body">
                                        <article class="media">
                                            <div class="pull-left thumb">
                                              <img src="assets/images/file.PNG">
                                            </div>
                                            <div class="pull-left" style="margin-top: 5px">
                                              <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Employees</h4>
                                            </div>
                                            <button (click)="overlayOpen=true;showForm=true" class="pull-right btn btn-white wd_btn" style="border-radius: 0">Add New Employee</button>
                                        </article> 
                                        
                                               
                                      </div>
                                  </section>
                                  <section class="panel">
                                    <div class="panel-body" style="padding:0px">
                                        <div *ngIf="employees?.count=='0'"></div>  
                                        
                                        <article class="media hover_toggle_desc" *ngFor="let employee of employees?.all_emp" style="border-bottom: 1px solid #eee;
                                        padding: 15px;">
                                            <div class="pull-left thumb" style="padding-right: 20px">
                                              <img src="assets/images/i.PNG">
                                            </div>
                                            <div class="pull-left" style="margin-top: 5px">
                                              <h5 class="no-margin" style="margin-bottom: 7px">{{employee?.LEGAL_NAME}}</h5>
                                              <p class="no-margin t_lh1 t_l4" style="font-size: 14px">{{employee?.EMAIL}}</p> 
                                            </div>
                                            
                                            
                                            <div class="pull-right text-right hover_toggle">
                                                <button class="pull-right btn btn-white wd_btn hover_show" [disabled]="deleting" (click)="delete(employee)" style="border-radius: 0">Delete <i class="fa fa-spinner fa-spin" *ngIf="deleting"></i></button>
                                                <button class="pull-right btn btn-white wd_btn hover_show" [disabled]="deleting" (click)="update(employee)" style="border-radius: 0">Edit</button>
                                            </div> 
                                        </article>
                                    </div>
                                  </section>
                              </div>
                              <div class="col-md-3 ">
                                <section style="border-radius:10px" class="panel text-center greenb">
                                   
                                  <div class="panel-body" style="padding: 63px 15px;">
                                    
                                    <div>
                                        <h3 style="font-size:34px">{{employees?.count}}
                                            <span class="small" style="font-size: 44%;
                                            display: block;
                                            color: #fff;">Total</span>
                                        </h3> 
                                    </div> 
                                </div>
                                </section>
                                <section class="panel">
                                  <div class="panel-body">
                                      <ul class="list list_border largewidth"> 
                                          <li>
                                              <a class="txt_l4"  [routerLink]="['/operations/roles']">Roles</a>
                                            </li>
                                          
                                      </ul>
                                  </div>
                                </section>
                              </div>
                              <div class="col-md-1">&nbsp;</div>
                            </div>
  
                      </div>
              </div>
      </div>
    </div>
  </section>
  <div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayOpen">
      
               <div class="col-md-12">
                   <a class="dismiss cancel_treat_ close" role="button" (click)="closeModal()">
                     <i class="fa fa-times" aria-hidden="true"></i>
                     </a> 
                 </div>
             <div class=" overpanel-content container" role="document" style="text-align:left;width:600px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
              <app-newempform (saveTheEmployee)="saveEmployee($event)" [roles]="roles" [loading]="loading" [employee]="employee" [isedit]="isedit"></app-newempform>
            </div>
    </div> 