    <section class="panel panl" style="margin-bottom: 5px">
      <div class="panel-body">
          <article class="media">
              <div class="pull-left thumb">
                <img src="assets/images/file.PNG">
              </div>
              <div class="pull-left" style="margin-top: 5px">
                <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Social Accounts</h4>
              </div>              
          </article>                  
      </div>
    </section>

    <article style="background: #fff;padding: 5px;cursor:pointer; margin:0px; border-top:1px solid #eaeaea" class="panel media animated box">
        <div class="panel-body">            
            <div id="uploadedAttachment" class="artcles" style="width:100%;max-width:350px;margin:0 auto;">

                <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;">
                    <a class="pull-left thumb">
                        <img *ngIf="resp.fb.id == null" src="assets/images/fb2.png" width="50px">
                        <img *ngIf="resp.fb.id != null" class="img-circle" src="{{resp.fb.img}}" style="width:50px;">
                    </a>
                    <div class="media-body hover_toggle">
                        <div class="pull-left" style="margin-top: 5px">
                            <a class="text-primary t_l4" href="javascript:;" style="float: none;">Facebook</a>
                            <small class="t_lh1">{{resp.fb.date == '' ? 'Not Added' : resp.fb.date  | date: 'yMMMMd'}}</small>
                        </div>                        
                        
                        <a target="_blank" href="https://fb.com/{{resp.fb.id}}" *ngIf="resp.fb.id != null" class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                        <div class="clearfix"></div>
                    </div>
                </article>

                <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;">
                    <a class="pull-left thumb">
                        <img *ngIf="resp.twitter.id == null" src="assets/images/twitter.png" width="50px">
                        <img *ngIf="resp.twitter.id != null" class="img-circle" src="{{resp.twitter.img}}" style="width:50px;">
                    </a>
                    <div class="media-body hover_toggle">
                        <div class="pull-left" style="margin-top: 5px">
                            <a class="text-primary t_l4" href="javaascript:;" style="float: none;">Twitter</a>
                            <small class="t_lh1">{{resp.twitter.date == '' ? 'Not Added' : resp.twitter.date | date: 'yMMMMd'}}</small>
                        </div>                        
                        <a target="_blank" href="https://twitter.com/intent/user?user_id={{resp.twitter.id}}" *ngIf="resp.twitter.id != null" class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                        <div class="clearfix"></div>
                    </div>
                </article>

                <article class="media x-mod" style="padding: 10px 0;">
                    <a class="pull-left thumb">
                        <img *ngIf="resp.linkedin.id == null" src="assets/images/linkedin.PNG" width="50px">
                        <img *ngIf="resp.linkedin.id != null" class="img-circle" src="{{resp.linkedin.img}}" style="width:50px;">
                    </a>
                    <div class="media-body hover_toggle">
                        <div class="pull-left" style="margin-top: 5px">
                            <a class="text-primary t_l4" href="javascript:;" style="float: none;">LinkedIn</a>
                            <small class="t_lh1">{{resp.linkedin.date == '' ? 'Not Added' : resp.linkedin.date | date: 'yMMMMd'}}</small>
                        </div>                        
                        <a target="_blank" href="https://linkedin.com/{{resp.linkedin.id}}" *ngIf="resp.linkedin.id != null" class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                        <div class="clearfix"></div>
                    </div>
                </article>

            </div>
        </div>
    </article>