<section class="panel">
  <div class="panel-body" *ngIf="!is_done">
      <form #rejectForm="ngForm" novalidate>
          <div class="form-group row" *ngIf="record_type=='1'">
              <div class="col-md-12">
                <label class="no-margin control-label">Action</label>
                <select class="form-control" name="REJECT_ACTION" [(ngModel)]="formdata.REJECT_ACTION">
                  <option [value]="1" *ngIf="has_approvals">Move to level</option>
                  <option [value]="2">Reject Request</option>
                </select>
              </div>
              
            </div>
          <div class="form-group row" *ngIf="has_approvals && formdata.REJECT_ACTION=='1'">
            <div class="col-md-12">
              <label class="no-margin control-label">Choose Level</label>
              <select class="form-control" name="REJECT_TO_LEVEL" [(ngModel)]="formdata.REJECT_TO_LEVEL">
                <option [ngValue]="level" *ngFor="let level of approval_levels">{{level.LEVEL_TITLE}}</option>
              </select>
            </div>
            
          </div>
          <div class="form-group row">
              <div class="col-md-12">
                <label class="no-margin control-label">Comments</label>
                <textarea class="form-control" name="COMMENTS" [(ngModel)]="formdata.COMMENTS"> 
                </textarea>
              </div>
              
            </div>

          <button type="submit" (click)="doRejection(rejectForm.value, rejectForm.valid)" [disabled]="loading" class="btn btn-white pull-right">
            <span *ngIf="!loading">Submit</span>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </form>
  </div>
  <div class="panel-body text-center" *ngIf="is_done">
      <div *ngIf="status.status=='1'">
        <p><a><i class="fa fa-check"></i></a></p>
        <button class="btn btn-white" (click)="closeOverlaY()">CLose</button>
      </div>
  </div>
</section>
