.is_active {
    background-color:#FAFAFA;
}
.btn-orange{ 

        border-color: #df6e2c;
        background: #df6e2c;
        color: #fff;
    }
.nav>li {
    
    float: left;
}
.l_img {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
        }

    .headg{
        letter-spacing: -.051em;
        font-size: 60px;
        color: #000;	
    }
.summ_one {
    border-bottom:1px solid #c1c1c1 !important;
}
.summ_one li {
    padding-top: 0px;
    background: #fff;
    color: #000;
}
.summ_one li.active {
    border-bottom:4px solid #c1c1c1;
}
.summ_one li a {
    color: #000 !important;
}
#popular section,#comments section,#recent section {
    margin-bottom:5px !important;
}
checkbox {
margin:10px;
}
.inline-select-wrapper {
display: inline-block;
margin-bottom: 10px;
}
.l_f {
    margin-bottom: 5px;
border-bottom: 1px solid #eaeaea;
}
.inline-select {
position: relative;
border-right: 1px solid #e0e0e0;
padding-right: 10px;
margin-right: 5px;
background: transparent;
}
.inline-select a.active{
color:#d00000
}
.moreFilter {
    height:0px;
    overflow:hidden;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.moreFilter.active {
    /*padding-left: 15px;*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height:40px;
}
ul.main_fil li {
        border-bottom: 1px solid #eaeaea;
margin-bottom: 10px;
}
ul.sub_fil {
        list-style: none;
margin-bottom: 5px;
overflow: auto;
}
ul.sub_fil li {
    float: left;
    border-bottom:none
}
.vd_bg-black-80 {
background-color: rgba(0,0,0,0.8) !important;
 color: #fff !important;
}
.vd_white {
color: #fff !important;
}
.alert {
padding: 18px;
border: none;
}	
.lh-sm {
color:#fff !important;
}
ul.rp-l {
list-style:none;
margin:0px;
padding:0px;
}
ul.rp-l li{
float:left;
margin-bottom:10px;
}
ul.rp-l li a{
padding:10px 15px;
}
#pivot-bar {
overflow: hidden;
padding: 0;
}
#pivotbar {
overflow: hidden;
padding: 0;
} 
.mod {
padding: 10px 0;
background-color: #fff;
}
#pivot-bar .pivot {
background-color: #EBEBEB;
padding: 5px 5px 4px 10px;
color: #333;
-webkit-box-shadow: inset 0 0 3px #ddd;
-moz-box-shadow: inset 0 0 3px #ddd;
box-shadow: inset 0 0 3px #ddd;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px; 
white-space: nowrap;
}
#pivotbar .pivot {
background-color: #EBEBEB;
padding: 5px 5px 4px 10px;
color: #333;
-webkit-box-shadow: inset 0 0 3px #ddd;
-moz-box-shadow: inset 0 0 3px #ddd;
box-shadow: inset 0 0 3px #ddd;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
white-space: nowrap;
} 
.sub li a {
padding: 4px 15px;
letter-spacing: 0.61px !important;
} 
.sub li a {
padding: 4px 15px;
letter-spacing: 0.61px;
}
#pivot-bar .pivot, #pivot-bar .pivot-reset {
float: left;
font-size: 13px;
margin: 5px 5px 0 0;
}
#pivotbar .pivot, #pivotbar .pivot-reset {
float: left;
font-size: 13px;
margin: 5px 5px 0 0;
}
