<div class="analysis">
  <!-- Stat -->
  <section class="panel ">
    <div class="panel-body" >
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="panel-icon offer_made" style="padding:0;">
                    <img src="assets/attachments/avatar-mini.jpg" style="border-radius: 50%;width:94px;">
                </div>
                <p class="analysis-name">Personal details</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel-icon offer_accepted">
                    <p class="amount">
                      <i class="fa fa-pencil"></i>
                    </p>
                </div>
                <p class="analysis-name">Documents</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel-icon offer_funded">
                    <p class="amount"> {{fqscore}}%
                    </p>
                </div>
                <p class="analysis-name">Fq score</p>
            </div>
        </div>
    </div>
  </section>
  <div *ngIf ="type == 'profile'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.profile < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/user.png">
                </div>
                <p>Profile</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.profile}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
                <li>
                  <span class="t_cool" style="font-size:24px;">Components of profile</span>
                </li>
                <li class="text-left hover_toggle">
                    <span> Name </span>
                    <div class="pull-right progress progress-xs hover_hide">
                      <div [ngClass]="statement.name_analysis.name_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.name_analysis.name_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisName()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>

                <li class="text-left hover_toggle">
                    <span>Age </span>
                    <div class="pull-right progress progress-xs hover_hide">
                      <div [ngClass]="statement.age_analysis.agel_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.age_analysis.age_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisAge()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>

                <li class="text-left hover_toggle">
                    <span>Mobile </span>
                    <div class="pull-right progress progress-xs hover_hide">
                      <div [ngClass]="statement.phone_analysis.mobile_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.phone_analysis.mobile_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisMobile()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>
                <li class="text-left hover_toggle">
                    <span>Email</span>
                    <div class="pull-right progress progress-xs hover_hide ">
                      <div [ngClass]="statement.email_analysis.email_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.email_analysis.email_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisEmail()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>
                <li class="text-left hover_toggle">
                  <span>State of origin </span>
                  <div class="pull-right progress progress-xs hover_hide">
                    <div [ngClass]="statement.state_analysis.state_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.state_analysis.state_analysis +'%' }">
                    </div>
                  </div>
                  <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisOrigin()">
                    <i class="fa fa-pencil"></i> view
                  </a>
              </li>
              <li class="text-left hover_toggle">
                  <span>Gender </span>
                  <div class="pull-right progress progress-xs hover_hide">
                    <div [ngClass]="statement.gender_analysis.gender_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.gender_analysis.gender_analysis +'%' }">
                    </div>
                  </div>
                  <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisGender()">
                    <i class="fa fa-pencil"></i> view
                  </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Identity </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.identity_analysis.identity_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.identity_analysis.identity_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisId()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
            
              <li class="text-left hover_toggle">
                <span> Marital status </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.marital_analysis.marital_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.marital_analysis.marital_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisMarital()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Nok </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.nok_analysis.nok_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.nok_analysis.nok_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisNok()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'address'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.address < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/worldwide-location.png">
                </div>
                <p>Address</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.address}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of address</span>
              </li>
              <li class="text-left hover_toggle">
                <span>Home Address </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.home_analysis.home_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.home_analysis.home_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisAddress()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Office Address </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.office_analysis.office_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.office_analysis.office_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisOffice()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'income'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.income < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/314486-200.png">
                </div>
                <p>Income</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.income}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of income</span>
              </li>

              <li class="text-left hover_toggle">
                <span> Income </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.income_analysis.income_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.income_analysis.income_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisIncome()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Expenses </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.expenses_analysis.expenses_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.expenses_analysis.expenses_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisExpenses()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Ratio </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.ratio_analysis.ratio_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.ratio_analysis.ratio_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisRatio()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'work'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.work < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/organization.png">
                </div>
                <p>Work</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.work}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of work</span>
              </li>
              
              <li class="text-left hover_toggle">
                <span> Allowed Occupation </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.work_analysis.allowed_occupation_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.work_analysis.allowed_occupation_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisOccupation()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Work Details </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.work_analysis.work_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.work_analysis.work_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisWork()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'guarantor'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.guarantor < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/document.png">
                </div>
                <p>Guarantor</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.guarantor}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of guarantor</span>
              </li>
              
              
              <li class="text-left hover_toggle">
                <span> Guarantor </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.guarantors_analysis.guarantor_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" aria-valuenow="40"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.guarantors_analysis.guarantor_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisGuarantor()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'account'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.account < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/77106-200.png">
                </div>
                <p>Account</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.account}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of account</span>
              </li>

              <li class="text-left hover_toggle">
                <span> Account </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.account_analysis.account_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.account_analysis.account_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisAcct()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span> Bvn</span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.account_analysis.bvn_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.account_analysis.bvn_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisBvn()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>

              <li class="text-left hover_toggle">
                <span>Card </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="statement.account_analysis.card_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.account_analysis.card_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisCard()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'education'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.education < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/students-cap_318-62709.jpg">
                </div>
                <p>Education</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.education}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
              <li>
                <span class="t_cool" style="font-size:24px;">Components of education</span>
              </li>

              <li class="text-left hover_toggle">
                <span> Education </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.edu_analysis.edu_analysis +'%' }">
                  </div>
                </div>
                <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisEdu()">
                  <i class="fa fa-pencil"></i> view
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf ="type == 'call'">
    <section class="panel">
      <div class="panel-body" >
        <div style="margin: 0 auto;width:475px;">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-4 document-square" [ngClass]="statement.call_log_analysis < 50? 'document-failed-color':'document-success-color'">
                <div class="img-cont">
                  <img src="assets/img/icons/answer-call-icon_1648773.jpg">
                </div>
                <p>Call logs</p>
                <p style="font-size:25px;margin-top:10px;"> <b>{{statement.call_log_analysis}}%</b></p>
                
              </div>
            </div>
            <div class="col-md-3" >
              <div class="act_btns">
                <a [routerLink]="['/loan/'+request+'/customer-analysis-details']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel" *ngIf="statement">
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <ul class="list list_border sm">
                <li>
                  <span class="t_cool" style="font-size:24px;">Components of call log</span>
                </li>
                <li class="text-left hover_toggle">
                    <span> Call Minutes Outgoing </span>
                    <div class="pull-right progress progress-xs hover_hide">
                      <div [ngClass]="statement.call_logs_analysis.outgoing_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.call_logs_analysis.outgoing_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisOutgoing()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>

                <li class="text-left hover_toggle">
                    <span>Call Minutes InComing </span>
                    <div class="pull-right progress progress-xs hover_hide">
                      <div [ngClass]="statement.call_logs_analysis.incoming_analysis < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': statement.call_logs_analysis.incoming_analysis +'%' }">
                      </div>
                    </div>
                    <a class=" btn btn-xs btn-white pull-right open_button hover_show edged_box" (click)="requestAnalysisIncoming()">
                      <i class="fa fa-pencil"></i> view
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
