<app-main-navigation></app-main-navigation>

<div class="container" style="margin-top: 120px" *ngIf="size>0">
    <div class="row box chat_container">
        <div class="col-md-3 chat_left" style="padding: 0;">
            <div>
                <!-- Search Section -->
                <div class="border_bottom" style="padding: 20px">
                    <div class="search_box" style="padding-top: 5px; padding-bottom: 5px; border-radius: 20px">
                        <input type="text" name="search_text" required="" [(ngModel)]="search_text" placeholder="search" style="max-width: 85%">
                        <img src="assets/images/search.PNG" class="link" (click)="searchChats()">
                        
                    </div>
                </div>

                <!-- List of chats --> 
                <ul class="list list_border no_pad chats" *ngIf="size>0" style="max-height: 320px;
                    overflow-y: scroll;">
                    <li *ngFor="let chat of chats;let i = index">
                        <a (click)="setCurrentSelectedChat(i)" class="link">
                        <article class="media">
                            <div class="pull-left thumb p-thumb">
                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{chat?.FILE_NAME | imagenotfound}}?q=auto">
                            </div>
                            <div class="media-body">
                                <p class="txt t_l4 t_cool">{{chat?.legal_name | limitto: 10}} <span class="badge pull-right">{{chat?.last_post | amTimeAgo}}</span></p>
                                <p class="no-margin" style="font-size: 12px">N{{chat?.request_principal | money}} for {{chat?.REQUEST_TENOR}} {{chat?.LOAN_DURATION}} </p>
                            </div>
                            
                        </article>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 chat_middle" style="padding: 0">
            <div>                
                <!-- Heading Buttons -->
                <div class="border_bottom" style="overflow: hidden; padding: 15px">
                    <div class="pull-left">
                        <ul class="list-inline labels" style="font-size: 16px; margin-bottom: 0">
                              
                            <li>
                                <label><input style="vertical-align: middle;margin-top: 0" (ngModelChange)="changeType($event)" [(ngModel)]="chat_type" name="chat_type" id="inlineCheckbox1" type="radio" [value]="2"> Platform</label>
                            </li>
                            <li>
                                <label><input style="vertical-align: middle;margin-top: 0" (ngModelChange)="changeType($event)" [(ngModel)]="chat_type" name="chat_type" id="inlineCheckbox2" type="radio" [value]="3"> Lender</label>
                            </li>
                            <li>
                                <label><input style="vertical-align: middle;margin-top: 0" (ngModelChange)="changeType($event)" [(ngModel)]="chat_type" name="chat_type" id="inlineCheckbox3" type="radio" [value]="4"> Lender &amp; Platform</label>
                            </li>
                        </ul>
                    </div>                    
                    <div class="pull-right">
                        <div class="search_box" style="padding-top: 5px; padding-bottom: 5px">
                            
                            <select style="border: none; background: none" (ngModelChange)="changeLender()" name="lender" [(ngModel)]="lender_selected">
                                    <option [ngValue]="lender" *ngFor="let lender of lenders">{{lender?.legal_name}}</option>
                                </select>
                        </div>
                    </div>
                </div>
 
                <!-- Chat Messages -->
                <div style="padding: 20px 50px 70px; background: #fff;max-height: 344px;
                overflow-y: scroll;">

                    <div  *ngFor="let p of posts" [ngClass]="{'left': p?.COMMENT_FOR!='1'}">
                        <div class="chat_msg">

                            <!-- Message -->
                            <div class="msg">
                                <div class="msg_comment">
                                        {{p?.POST_CONTENT}}
                                         
                                </div>
                            </div>    
                            
                            <!-- profile -->
                            <div class="profile">
                                <img  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{p?.FILE_NAME|imagenotfound}}?q=auto">
                            </div>

                            <!-- Date -->
                            <span class="time">{{p?.LEGAL_NAME===null?p?.LENDER_NAME:p?.LEGAL_NAME}} | {{p?.DATE_POSTED | amTimeAgo}}</span>
                        </div>
                    </div>

                   

                </div>

                <!-- Text Input -->
                <div *ngIf="chat_type=='2'" class="border_top" style="padding: 20px;padding: 20px;background: #fafafa;">
                    <input type="text" class="form-control" name="reply" [(ngModel)]="reply" placeholder="Type Message..." style="border:none; background: none">
                    <button [disabled]="loading || reply==''" (click)="sendReply()" class="btn btn-danger btn-xs" style="margin-left: 12px;">Send</button>
                </div> 
            </div>
        </div>
        <div class="col-md-3 chat_right" style="padding: 0">
            <div>
                <div class="panel-body text-center" style="padding:50px 30px">
                    <div class="" style="margin:10px auto;">
                        <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{current_channel?.FILE_NAME | imagenotfound}}?q=auto"
                            style=" width: 80px;   height: 80px; border-radius: 50%; ">
                    </div>
                    <h3 class="no-margin" style="word-wrap:break-word; margin:5px 0px; font-size:135%;">{{current_channel?.legal_name}}</h3>
                    <div style="margin-top:30px; font-size: 13px; padding-top: 10px; border-top: 1px solid #d9d9d9;">
                        <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">

                            <div class="form-group">
                                <span class="pull-left text-primary">Contract ID</span>
                                <span class="pull-right">
                                    {{current_channel?.LOAN_ID}}
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                            <div class="form-group">
                                <span class="pull-left text-primary">Required Credit</span>
                                <span class="pull-right">
                                    {{current_channel?.request_principal | number:'.2-2'}}
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <span class="pull-left text-primary">Duration</span>
                                <span class="pull-right">
                                    {{current_channel?.REQUEST_TENOR}} {{current_channel?.LOAN_DURATION}}
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">                            
                            <div class="form-group">
                                <span class="pull-left text-primary">Total Interest</span>
                                <span class="pull-right">
                                    {{current_channel?.TOTAL_INTERESTS | number:'.2-2'}}
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                            <div class="form-group">
                                <span class="pull-left text-primary ">Total Repayment</span>
                                <span class="pull-right">
                                    {{current_channel?.TOTAL_REPAYMENT | number:'.2-2'}}
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-white btn-block edged_box t_cool" routeLink="['../loan/','current_channer?.REQUEST_ID']" style="border-color: #718FC8">View Loan</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 125px; margin-bottom: 20px" *ngIf="size==0">
    <div class="row box chat_container">
        <div class="col-md-3" style="padding: 40px;">            
            <ul class="list list_border no_pad">
                <li>
                    <img style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; " class="" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/avatar-mini.jpg?q=auto">
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                  <a class="btn big_btn btn-orange btn-block wd_btn edged_box">Update</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6" style="padding: 0">
            <p class="t_l1 text-right t_lh1" style="padding: 30px;margin-top: 350px;">
                No<br>Comments
            </p>
        </div>
        <div class="col-md-3" style="padding: 0">
            <div style="padding: 30px; margin-top: 350px;">
                <img style=" width: 80px; height: 80px; border-radius: 50%; border-width: 3px !important; " class="" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/avatar-mini.jpg?q=auto">
            </div>
        </div>
    </div>
</div>