.kyc-title{
    margin-bottom: 50px;
}
.kyc-section{
    padding: 40px;
    background: #fff;
    margin-bottom: 20px;
    border-top: 1px solid red;
}
.la-va{
    padding: 0;
    margin: 0;
}
.la-va li{
    border-bottom: 1px solid #ccc;
    list-style: none;
    font-size: 16px;
    padding: 10px 0;
}
.la-va li:last-child{
    border-bottom: 0;
}
.la-va li:first-child{
    padding-top: 0;
}
.la-va ._label{
    color: #59ace2
}
.la-va .value{
    float: right;
    max-width: 50%;
}
.kyc-gal > a {
    display: inline-block;
    padding: 2px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    line-height: 0;
    border-radius: 4px;
    transition: background-color 0.5s ease-out;
}
.kyc-gal > a img{
    max-width: 13rem;
    border-radius: 4px;
    vertical-align: bottom;
}

.round-profile{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}
.round-profile img{
    width: 100px;
    text-align: center;
    margin-top: 10px;
}