<div style="margin-bottom: 30px;">
				
    <div class="row">
      <div class="col-md-6">
        <!-- <span class="round-profile" style="border: none"><img src="{{kycrecord?.verification.SELFIE_IMG=='null'?'':'https://kyc.creditclan.com/uploads/'+kycrecord?.verification.SELFIE_IMG}}" style="width: 100px"></span> -->
      </div>
      <div class="col-md-6">
        <div class="text-right" style="padding-right: 20px">
          <h4 style="margin-top: 50px; margin-bottom: 5px">{{kycrecord?.verification.ACCOUNT_NAME}}</h4>
          <h4 style="margin-top: 10px; margin-bottom: 5px">{{kycrecord?.KYC_KIND}}</h4>
          <p class="text-muted">Status: {{kycrecord?.IS_TREATED=='1'?'Treated':'Pending'}}</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="kyc-section" style="border-top-color: orange">
    <h4 class="kyc-title">Basic Information</h4>
    <ul class="la-va">
        <li>
            <span class="_label">Previous Address?</span>
            <span class="value">{{kycrecord?.verification.PREVIOUS_ADDRESS}}</span>
          </li>
      <li>
        <span class="_label">Does House Exist?</span>
        <span class="value">{{kycrecord?.verification.ADDRESS_EXISTS=='1'?'Yes':'No'}}</span>
      </li>
      <li>
          <span class="_label">Ownership Status?</span>
          <span class="value">{{kycrecord?.verification.OWNERSHIP_STATUS}}</span>
        </li>
      <li>
        <span class="_label">Building Type</span>
        <span class="value">{{kycrecord?.verification.BUILDING_DETAILS}}</span>
      </li>
      <li>
        <span class="_label">Address Comment</span>
        <span class="value">{{kycrecord?.verification.ADDRESS_COMMENTS}}</span>
      </li>
      <li>
        <span class="_label">House Colour</span>
        <span class="value">{{kycrecord?.verification.HOUSE_COLOR}}</span>
      </li>
      <li>
        <span class="_label">Land Marks</span>
        <span class="value">{{kycrecord?.verification.LAND_MARKS}}</span>
      </li>
    </ul>
  </div>

  <div class="kyc-section" style="border-top-color: green">
    <h4 class="kyc-title">GPS and Location</h4>
    <ul class="la-va">
        <li>
            <span class="_label">Geotagged Address</span>
            <span class="value">{{kycrecord?.verification.GEO_TAGGED_ADDRESS}}</span>
          </li>
       
    </ul>
    <div *ngIf="kycrecord?.verification.GEO_TAGGED_ADDRESS!=null">
        <app-userlocation  [address]="kycrecord?.verification.GEO_TAGGED_ADDRESS" [where]='2'></app-userlocation>
    </div>
  </div>

  <div class="kyc-section" style="border-top-color: #ff003e">
    <h4 class="kyc-title">Photos</h4>
    <div>
      <div class="kyc-gal" *ngIf="kycrecord?.images.count > 0">
          <a *ngFor="let photo of kycrecord?.images.data" href="https://kyc.creditclan.com/uploads/{{photo?.file_name}}" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
            <img src="https://kyc.creditclan.com/uploads/{{photo?.file_name}}"></a>
           
      </div>
      <div class="kyc-gal" *ngIf="kycrecord?.images.count == 0">
          <div class="text-center" style="min-height:304px; padding-top:70px">
              <a href="javascript:;" style="font-size:40px">
                <i class="fa fa-meh-o"></i>
              </a>
              <h3>No record found</h3>
            </div>
           
      </div>
    </div>
  </div>