<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingRCS">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionRWS" href="#collapseRCS" aria-expanded="false"
        aria-controls="collapseRCS">
       Remite Connection Settings
      </a>
    </h4>
  </div>
  <div id="collapseRCS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRCS">
    <div class="panel-body">
      <form #connectionform="ngForm" novalidate>
        <div class="form-group row">
          <div class="col-md-6"><label class="control-label">Merchant  ID</label></div>
          <div class="col-md-6"><input class="form-control" name="MERCHANT_ID" [(ngModel)]="remitaconnection.MERCHANT_ID"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-6"><label class="control-label">API Key</label></div>
          <div class="col-md-6"><input class="form-control" name="API_KEY" [(ngModel)]="remitaconnection.API_KEY"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-6"><label class="control-label">API Token</label></div>
          <div class="col-md-6"><input class="form-control" name="API_TOKEN" [(ngModel)]="remitaconnection.API_TOKEN"></div>
        </div>
        <div class="form-group row">
            <div class="col-md-6"><label class="control-label">Direct Debit Service Name</label></div>
            <div class="col-md-6"><input class="form-control" name="SERVICE_NAME" [(ngModel)]="remitaconnection.SERVICE_NAME"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-6"><label class="control-label">Direct Debit Service ID</label></div>
            <div class="col-md-6"><input class="form-control" name="SERVICE_ID" [(ngModel)]="remitaconnection.SERVICE_ID"></div>
          </div>
          <div class="form-group row">
              <div class="col-md-6"><label class="control-label">Encryption Key</label></div>
              <div class="col-md-6"><input class="form-control" name="ENCRYPTION_KEY" [(ngModel)]="remitaconnection.ENCRYPTION_KEY"></div>
            </div>
            <div class="form-group row">
              <div class="col-md-6"><label class="control-label">Encryption Vector</label></div>
              <div class="col-md-6"><input class="form-control" name="ENCRYPTION_VECTOR" [(ngModel)]="remitaconnection.ENCRYPTION_VECTOR"></div>
            </div>
        <!-- <div class="form-group row">
          <div class="col-md-6"><label class="control-label">Refresh Data Interval</label></div>
          <div class="col-md-6"><input class="form-control" name="REMITA_REFRESH_DAYS" [(ngModel)]="remitaconnection.REMITA_REFRESH_DAYS"></div>
        </div> -->
        <button type="submit" (click)="saveRemitaConnectionSettings(connectionform.value, connectionform.valid)" [disabled]="loading" class="btn btn-white pull-right">
          <span *ngIf="!loading">Submit</span>
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingRWS">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionRWS" href="#collapseRWS" aria-expanded="false"
        aria-controls="collapseRWS">
       Remita Analytics Weight Settings
      </a>
    </h4>
  </div>
  <div id="collapseRWS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRWS">
      <form #analyticsform="ngForm" novalidate>
        <div class="panel-heading">Work Details</div>
        <div class="panel-body">
            <ul class="list list_border sm">

                <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Company Match</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.company_exists" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'company_exists')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
                <li class="text-left sub_list" style="padding-left: 20px">
                  <div class="row">
                    <div class="col-md-3" style="vertical-align: bottom;">
                      <p style="margin:20px 0 0">Included Companies</p>
                    </div>
                    <div class="col-md-9">
                      <ion-range-slider [from]="remita_analytics?.excluded_companies" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'excluded_companies')"></ion-range-slider>
                    </div>
                  </div>
                </li>
                <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Included Companies List</p>
                      </div>
                      <div class="col-md-9">
                        
                      </div>
                    </div>
                  </li>
                
                  
            </ul>
        </div>
        <div class="panel-heading">Salary Details</div>
        <div class="panel-body">
            <ul class="list list_border sm">
                <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Uniform Salary</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.unifrom_salary" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'unifrom_salary')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
              
                  <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Allowed Pay Date</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.allow_pay_date" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'allow_pay_date')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
                  <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Last Pay Date</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.last_pay_date" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'last_pay_date')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
                  <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Salary Increase</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.salary_increase" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'salary_increase')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
              
                  <li class="text-left sub_list" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Salary Decrease</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.salary_decrease" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'salary_decrease')"></ion-range-slider>
                      </div>
                    </div>
                  </li>

              </ul>
        </div>
        <div class="panel-heading">Customer Details</div>
        <div class="panel-body">
            <ul class="list list_border sm">
                <li class="text-left" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Customer Name Match</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.customer_name_match" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'customer_name_match')"></ion-range-slider>
                      </div>
                    </div>
                  </li>


              </ul>
        </div>
        <div class="panel-heading">Customer Bank</div>
        <div class="panel-body">
            <ul class="list list_border sm">
                <li class="text-left" style="padding-left: 20px">
                    <div class="row">
                      <div class="col-md-3" style="vertical-align: bottom;">
                        <p style="margin:20px 0 0">Customer Bank Details Match</p>
                      </div>
                      <div class="col-md-9">
                        <ion-range-slider [from]="remita_analytics?.bank_account_match" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'bank_account_match')"></ion-range-slider>
                      </div>
                    </div>
                  </li>
                  

              </ul>
        </div>
        <div class="panel-body">
            <button type="submit" (click)="saveAnalytics(analyticsform.value, analyticsform.valid)" [disabled]="loading" class="btn btn-white pull-right">
                <span *ngIf="!loading">Submit</span>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
        </div>
      </form>
    
  </div>
</div>