    <section class="panel panl" style="margin-bottom: 5px">
      <div class="panel-body">
          <article class="media">
              <div class="pull-left thumb">
                <img src="assets/images/file.PNG">
              </div>
              <div class="pull-left" style="margin-top: 5px">
                <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Bank Accounts</h4>
              </div>
              <a class="pull-right btn btn-white wd_btn" style="border-radius: 0" (click) = "open('form')">Add</a>
          </article>                  
      </div>
    </section>

    <!-- Main Accounts -->
    <article style="background: #fff;padding: 5px;cursor:pointer; margin:0px; border-top:1px solid #eaeaea" class="panel media animated box" *ngIf="subSection == 'main'">
        <div class="panel-body" >            
            <div id="uploadedAttachment" class="artcles" style="width:100%;max-width:350px;">
                <div *ngFor="let bank of resp">
                    <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;"  *ngIf="bank?.TYPE_OF=='1'">
                        <a class="pull-left thumb">
                            <img src="">
                        </a>
                        <div class="media-body hover_toggle">
                            <div class="pull-left" style="margin-top: 5px">
                                <a class="text-primary t_l4" href="javascript:;" style="float: none;" target="_blank">{{bank['bank_name']}}</a>
                                <small style="font-size: 13px">{{bank['CARD_NAME']}}</small>
                                <small style="font-size: 13px">{{bank['LAST_FOUR_DIGITS']}}</small>
                                <small>{{bank['DATE_ADDED'] | date: 'yMMMMd'}}</small>
                            </div>                        
                            
                            <!-- <a class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                            <div class="clearfix"></div> -->
                        </div>
                    </article> 
                </div>
                
                <div *ngFor="let bank of resp">
              
                    <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;"   *ngIf="bank?.TYPE_OF=='2'&& bank?.CARD_VALIDATED_THROUGH=='1'">
                        <a class="pull-left thumb">
                            <img src="">
                        </a>
                        <div class="media-body hover_toggle">
                            <div class="pull-left" style="margin-top: 5px">
                                <p class="t_cool t_l4">{{bank?.CARD_NAME}}</p>
                                    <small style="font-size: 13px">*********{{bank?.LAST_FOUR_DIGITS}}</small>
                                    <small *ngIf="bank?.CARD_CHECK_ID.status=='success'">
                                        <span>{{bank?.CARD_CHECK_ID.data.cardName}}</span>
                                    </small>
                                    <small *ngIf="bank?.CARD_CHECK_ID.status=='success'">
                                        <span>{{bank?.CARD_CHECK_ID.data.country}}</span>
                                    </small>
                            </div>                        
                            
                            <!-- <a class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                            <div class="clearfix"></div> -->
                        </div>
                    </article>
                    <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;"   *ngIf="bank?.TYPE_OF=='2'&& bank?.CARD_VALIDATED_THROUGH=='2'">
                        <a class="pull-left thumb">
                            <img src="">
                        </a>
                        <div class="media-body hover_toggle">
                            <div class="pull-left" style="margin-top: 5px">
                                <p class="t_cool t_l4">{{bank?.PAYSTACK_CHECK_ID.authorization.bank}}|{{bank?.PAYSTACK_CHECK_ID.authorization.card_type}}</p>
                                    <small style="font-size: 13px">*********{{bank?.LAST_FOUR_DIGITS}}</small>
                                     
                                    <small>
                                        <span>{{bank?.PAYSTACK_CHECK_ID.authorization.country_code}}</span>
                                    </small>
                            </div>                         
                            
                            <!-- <a class="pull-right btn btn-white wd_btn hover_show" style="border-radius: 0">View</a>
                            <div class="clearfix"></div> -->
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </article>

    <!-- form -->
    <div class="panel panel-body box" *ngIf="subSection == 'form'">
        <div>
            <p class="text-right">              
                <a href="javascript:;" (click)="open('main')">Close</a>
            </p>
        </div>

        <div class="panel-body expense">
            <div  style="max-width:80%; margin: 0 auto">
                <div class="panel-body">
                    <div class="artcles">
                        <section class="panel vvi vviwic" style="background:none">
                            <style type="text/css">
                            .form-group {
                                margin-bottom: 10px !important;
                            }
                            
                            hr {
                                margin: 10px 0px !important;
                                border-color: #eaeaea !important;
                            }
                            
                            .control-label {
                                color: #0b426d;
                                font-size: 13px;
                                padding-top: 0px !important;
                            }
                            
                            .form-control {
                                font-size: 12px;
                            }
                            
                            .control-label {
                                margin-bottom: 0px;
                            }
                            
                            .panel-heading .nav a.ftab {
                                color: #618cae;
                            }
                            
                            .panel-heading.nav li .active a.ftab {
                                background: #618cae;
                                color: #fff !important;
                            }
                            
                            .panel-heading .nav li .active a.ftab:hover {
                                background: #618cae;
                                color: #fff !important;
                            }
                            </style>
                            <!-- <div class="form-group row occupation">
                                <div class="col-md-12">
                                    <label class="control-label" style="padding:0;">
                                        Select Bank
                                    </label>
                                    <select id="OCCUPATION_ID" name="OCCUPATION_ID" class="form-control" [(ngModel)]="model.bank">
                                        <option value=""></option>
                                    </select>                                    
                                </div>
                            </div>                            
                            <div class="not_for_un form-group row for_ret ">
                                <div class="col-md-12 ">
                                    <label for="" class="control-label">Account Name</label>
                                    <input type="text" class="form-control" id="YEARS_OF_SERVICE" [(ngModel)]="model.acct_name">
                                </div>
                            </div>
                            <div class="not_for_un form-group institution income row not_for_ret  ">
                                <div class="col-md-12 ">
                                    <label for="" class="control-label">Account Number</label>
                                    <input type="text" class="form-control" id="YEARS_OF_SERVICE" [(ngModel)]="model.acct_number">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:;" (click)="addBank()" class="btn btn-blue btn-primary btn-block" style="padding: 6px 12px">Add Bank <i class="fa fa-spinner fa-spin hide"></i></a>
                                </div>
                            </div> -->
                            <app-newbankform [showTestTransfer]=false (doTheTransfer)="doTransfer()" (saveTheLenderBank)="saveLenderBank()" (testTheTransfer)="testTransfer($event)" (changeTheBankCode)="changeBankCode($event)" (verifyTheAccount)="verifyAccount($event)" [nigerian_banks]="nigerian_banks" [fresponse]="fresponse" [otpConfirmed]="otpConfirmed" [otpHBSFC]="otpHBSFC" [showForm]="showForm" [confirming]="confirming" [loading]="loading" [VERIFY_STATUS]="VERIFY_STATUS" [charge_account]="charge_account" [bank]="bank"></app-newbankform>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>