hr {
    margin: 12px 0 !important;
    border-color: #eaeaea !important;
}
label {
    font-weight: 100;
}
.hover_vis {
    visibility: hidden;
}
.hover_vis_show{
    visibility: visible;
}

article.preview .hover_vis {
    visibility: visible;
}

article.media:hover .hover_vis {
    visibility: visible;
}

article.media:hover .hover_vis_show {
    visibility: hidden;
}


article.media .btn:hover {
    color: #fff !important;
    background-color: #77a1d6;
}

article.media .btn-danger:hover {
    background-color: #F58633;
}

.hover_vis {
    visibility: hidden;
}

article.preview .hover_vis {
    visibility: visible;
}

article.media:hover .hover_vis {
    visibility: visible;
}

article.media .btn:hover {
    color: #fff !important;
    background-color: #77a1d6;
}

article.media .btn-danger:hover {
    background-color: #F58633;
}

.blue_c {
    color: #526598 !important;
}

.blue_c.heading {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 6px;
    text-align: right;
}

.mb10 {
    margin-bottom: 10px;
}
/* credit */

#credit_items {
    position: relative;
}

#credit_items .credit_item_preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}
/* credit bank information */

.b-b-o {
    margin: 0;
    border: none;
    margin-left: -5px;
    padding: 5px 0px
}

._modal .xgv li {
    margin-bottom: 2px;
    padding: 15px;
    background: #fff;
}

.btn-outlined {
    background: transparent;
}

._modal .xgv li,
._modal .content {
    border: 1px solid #ccc;
}
/* reducing the margin bottom of the form-group class in modals */

._modal .form-group {
    margin-bottom: 6px;
}
/* style the left side menu items of the customers listing page */

.customers_menu a {
    margin: -15px;
    padding: 15px;
    display: block;
}

.customers_menu a:hover {
    color: #5294C6;
}



.is_active {
    background-color: #FAFAFA
}

.btn-orange {
    border-color: #df6e2c;
    background: #df6e2c;
    color: #fff
}

.nav>li {
    float: left
}

.l_img {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc
}

.headg {
    letter-spacing: -.051em;
    font-size: 60px;
    color: #000
}

.summ_one {
    border-bottom: 1px solid #c1c1c1!important
}

.summ_one li {
    padding-top: 0;
    background: #fff;
    color: #000
}

.summ_one li.active {
    border-bottom: 4px solid #c1c1c1
}

.summ_one li a {
    color: #000!important
}

#comments section,
#popular section,
#recent section {
    margin-bottom: 5px!important
}

.checkbox {
    margin: 10px
}

.inline-select-wrapper {
    display: inline-block;
    margin-bottom: 10px
}

.inline-select {
    position: relative;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    margin-right: 5px;
    background: 0 0
}

.inline-select a.active {
    color: #d00000
}

.lh-sm,
.vd_bg-black-80,
.vd_white {
    color: #fff!important
}

.moreFilter {
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.moreFilter.active {
    filter: alpha(Opacity=100);
    opacity: 1;
    height: 40px
}

ul.main_fil li {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px
}

ul.sub_fil {
    list-style: none;
    margin-bottom: 5px;
    overflow: auto
}

ul.sub_fil li {
    float: left;
    border-bottom: none
}

.vd_bg-black-80 {
    background-color: rgba(0, 0, 0, .8)!important
}

.alert {
    padding: 18px;
    border: none
}

.media-body p {
    margin-bottom: 0
}

.mtop18 {
    margin-top: 18px;
}

.media-body a p:nth-of-type(1) {
    color: blue;
}

article .btn {
    border-color: #77a1d6;
    color: #77a1d6 !important;
    padding: 2px 10px;
    margin: 6px;
}

article .btn-danger {
    color: #F58633 !important;
    background: none;
    border-color: #F58633
}

.sub_title {
    font-weight: 100;
}

.btn-normal {
    background: #77a1d6;
    color: #fff;
    border-radius: 3px;
}

.btn-reset-cus {
    border-color: #77a1d6;
    color: #77a1d6 !important;
    border-radius: 3px;
}

article .fa-pencil {
    display: none;
}

.all_cus article.media {
    padding: 10px !important;
}

.btn-prev-a,
.btn-next-a {
    color: blue !important;
}

.btn.btn-prev-a,
.btn.btn-next-a {
    background: none;
    color: blue;
    border-color: #77a1d6;
    padding: 5px 20px;
    border-radius: 3px;
}

.xgv li {
    margin-bottom: 2px;
    padding: 15px;
    background: #fff;
}

.btn-outlined {
    background: transparent;
}
/*      .orange{color:#F58633;border-color: #F58633;} */

.orange:hover,
.orange:active {
    background: #F58633;
    border-color: #c77130;
}

.orange {
    color: #fff;
    background: #F58633;
    border-color: #F58633;
}


/* This style is for the sub-section that is loaded when a customer is clicked */

     label{ font-weight: 100; }

     .hover_show{
        visibility: hidden;
     }
     article.preview .hover_show{
        visibility: visible;
     }
     article.media:hover .hover_show{
        visibility: visible;
     }


     article.media .btn:hover{
        color: #fff !important;
        background-color: #77a1d6;
     }

     article.media .btn-danger:hover{
        background-color: #F58633;
     }

     .blue_c{
        color:#526598 !important;
     }
     .blue_c.heading{
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 6px;
        text-align: right;
     }
     .mb10{
        margin-bottom: 10px;
     }

     /* credit */
     #credit_items{
        position: relative;
     }
     #credit_items .credit_item_preview{
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
     }

     /* credit bank information */
     .b-b-o{
        margin: 0;
        border: none;
        margin-left: -5px;
        padding: 5px 0px
     }


    ._modal .xgv li{margin-bottom: 2px;padding:15px;background: #fff;}.btn-outlined{background: transparent;}
    ._modal .xgv li, ._modal .content{ border: 1px solid #ccc; }

    /* reducing the margin bottom of the form-group class in modals */
    ._modal .form-group{
      margin-bottom: 6px;
    }

    /* style the left side menu items of the customers listing page */
    .customers_menu a{
        margin: -15px;
        padding: 15px;
        display: block;
    }
    .customers_menu a:hover{
        color: #5294C6;
    }
.difficulty {
    border:2px solid red;
}