<section class="panel"> 
    
    
      <header class="panel-heading" style="overflow:auto">
          Loan Schedule
          <span class="tools pull-right" *ngIf="loan_status!='5'&&canViewLinks">
            <a (click)="makeLoanPayment()" class="btn btn-white">Make Payment</a>
            <a (click)="breakLoan()" class="btn btn-white">Break Loan</a>
            <!-- <a [routerLink]="['../schedule']">Schedule</a>  -->
            <!-- <a (click)="open_statement(loan?.loan.REQUEST_ID)">Statement</a> -->
  
            <!-- <a  (click)="eir_statement(loan?.loan.REQUEST_ID)">Ledger</a>
            <a (click)="break_loan()">Break Loan</a>
            <a  (click)="open_contract(loan?.loan.REQUEST_ID)">Contract</a> -->
            
        </span>
        </header> 
    
        <div>
          <app-repay [external]=true (initiate_recollection)="initiate_recollection($event)" (hideFunctions)="hideFunctions($event)"></app-repay>


        </div>
</section>
