<section class="panel contract_area hideable_area" style="margin-bottom: 10px">
    <form #fqsoreform="ngForm">
        <header class="panel-heading">
            <span class="tools pull-right">
                <ul class="list-inline">
                    <li><a [routerLink]="['../customer-social-analysis']">Social</a></li>
                    <li><a>Credit bureau</a></li>
                    <li><a [routerLink]="['../contract']">Summary</a></li>
                    <li><a [routerLink]="['../checklist']">Checklist</a></li>
                    <li><a [routerLink]="['../repayments']">Schedule</a></li>
                    <li><a [routerLink]="['../more']">More</a></li>                    
                </ul>
            </span>
            <span>
                <a (click)="saveAnlysisRequest()" class="btn btn-white edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                    Save score
                </a>
            </span>
        </header>
    </form>
</section>
<!-- profile -->
<div  class="profile_area animated fadeIn">
    <section class="panel ">
    <div class="panel-body" >
        <div class="row">
            <div class="col-md-4 text-center">
                <a (click)="displayAnalyticsScore()"><div class="panel-icon offer_made" style="padding:0;">
                    <img src="assets/attachments/avatar-mini.jpg" style="border-radius: 50%;width:94px;">
                </div></a>
                <p class="analysis-name">Personal details</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel-icon offer_accepted">
                    <p class="amount">
                        <a (click)="displayAnalysisDetails()"><i class="fa fa-pencil"></i></a>
                    </p>
                </div> 
                <p class="analysis-name">Documents</p>
            </div>
            <div class="col-md-4 text-center ">
                <div class="panel-icon offer_funded hover_toggle" >
                    <p class="amount hover_hide"> {{fqscore}}%
                    </p>
                    <p class="amount hover_show">
                        <a class=" btn btn-xs btn-white open_button edged_box" (click)="analysisSlider()">
                            <i class="fa fa-pencil"></i> tweak score
                        </a>
                    </p>
                </div>
                <p class="analysis-name hover_hide">CCscore</p>
            </div>
        </div>
    </div>
    </section>
    <section [class.hidden]="currentView != 'personal_details'" class="panel" >
        <div class="panel-body" >
            <div style="margin: 0 auto;width:475px;">
                <div class="row">
                    <div>
                        <h3 class="text-center t_cool" style="font-size:16px;">Review each component for analysis on credit score</h3>
                        <hr>
                    </div>
                    <a [routerLink]="['../customer-analysis-fulldetails/profile']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/user.png">
                            </div>
                            <p>profile</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.profile < 50? 'text_red': 'text-primary'"> <b>{{statement.profile}}%</b></p> 
                        </div>
                    </a>
                    <a [routerLink]="['../customer-analysis-fulldetails/address']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/worldwide-location.png">
                            </div>
                            <p>Address</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.address < 50? 'text_red': 'text_blue'"> <b>{{statement.address}}%</b></p>
                        </div>
                    </a>

                    <a [routerLink]="['../customer-analysis-fulldetails/income']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/314486-200.png">
                            </div>
                            <p>Income</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.income < 50? 'text_red': 'text-primary'"> <b>{{statement.income}}%</b></p>
                        </div>
                    </a>
                    
                </div>
                <div class="row" style="margin-top:20px;">
                    <a [routerLink]="['../customer-analysis-fulldetails/work']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/organization.png">
                            </div>
                            <p>Work</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.work < 50? 'text_red': 'text-primary'"> <b>{{statement.work}}%</b></p>
                        </div>
                    </a>
                    <a [routerLink]="['../customer-analysis-fulldetails/guarantor']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/document.png">
                            </div>
                            <p>Guarantor</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.guarantor < 50? 'text_red': 'text-primary'"> <b>{{statement.guarantor}}%</b></p>
                        </div>
                    </a>
                    <a [routerLink]="['../customer-analysis-fulldetails/account']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/77106-200.png">
                            </div>
                            <p>Account</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.account < 50? 'text_red': 'text-primary'"> <b> {{statement.account}}%</b></p>
                        </div>
                    </a>
                </div>
                <div class="row" style="margin-top:20px;">
                    <a [routerLink]="['../customer-analysis-fulldetails/education']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/students-cap_318-62709.jpg">
                            </div>
                            <p>Education</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.education < 50? 'text_red': 'text-primary'"> <b>{{statement.education}}%</b></p>
                        </div>
                    </a>
                    <a [routerLink]="['../customer-analysis-fulldetails/call']">
                        <div class="col-md-4 square">
                            <div>
                                <img src="assets/img/icons/answer-call-icon_1648773.jpg">
                            </div>
                            <p>Call logs</p>
                            <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.call_log_analysis < 50? 'text_red' : 'text_primary'"> <b>{{statement.call_log_analysis}}%</b></p>
                        </div>
                    </a> 
                </div>
            </div>
            
        </div>
    </section>
<!-- profile -->
    
    <section [class.hidden]="currentView != 'documents'" *ngIf="statement">
    <ul class="frm">
        <li class="title basic_title">Profile
            <a (click)="toogleView('profile')" data-sub="basic" class="pull-right co-panel_ fadeIn" style="color:#000">
                <i class="fa fa-chevron-down"></i>
            </a>
        </li>
        <li class="sub home-address animated" *ngIf="sectionOpen == 'profile'">
            <!-- profile Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Name</span>
                                        <span class="pull-right">{{statement.data.LEGAL_NAME}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Age</span>
                                        <span class="pull-right">{{statement.age}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Mobile</span>
                                        <span class="pull-right">{{statement.data.PHONE}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Email</span>
                                        <span class="pull-right">{{statement.data.EMAIL}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">State of origin</span>
                                        <span class="pull-right">{{statement.state.STATE_NAME}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title home-addresss_title">Home Address
            <a href="javascript:;" data-sub="address" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('home-address')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub home-address animated" *ngIf="sectionOpen == 'home-address'">
            <!-- Address Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Home address</span>
                                        <span class="pull-right">{{statement.data.HOME_ADDRESS}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Distance to office</span>
                                        <span class="pull-right">{{statement.data.DISTANCE_HOME_TO_OFFICE}}km</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Distance to Application Point</span>
                                        <span class="pull-right">{{statement.data.LOCATION_TO_HOME}}km</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf= "statement.addresses.NATURE_OF_ACCOMODATION == '1'">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Ownership status</span>
                                        <span class="pull-right">Owned</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf= "statement.addresses.NATURE_OF_ACCOMODATION == '2'">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Ownership status</span>
                                        <span class="pull-right">Rented</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Years in resident</span>
                                        <span class="pull-right">{{statement.addresses.RESIDENT_YEARS}}yrs</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title office-address_title">Office Address
            <a href="javascript:;" data-sub="address" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('office-address')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub office-address animated" *ngIf="sectionOpen == 'office-address'">
            <!-- Address Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Office Address</span>
                                        <span class="pull-right">{{statement.data.WORK_ADDRESS}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Distance to office</span>
                                        <span class="pull-right">{{statement.data.DISTANCE_HOME_TO_OFFICE}}km</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Distance to Application Point</span>
                                        <span class="pull-right">{{statement.data.LOCATION_TO_OFFICE}}km</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title income_title">Income
            <a href="javascript:;" data-sub="income" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('income')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub income animated" *ngIf="sectionOpen == 'income'">
            <!-- Income Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Income</span>
                                        <span class="pull-right">#{{statement.data.NET_MONTHLY_INCOME}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Monthly Telephone Expenses</span>
                                        <span class="pull-right">#{{statement.data.MONTHLY_TEL_INTERNET}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Monthly Transport Expenses</span>
                                        <span class="pull-right">#{{statement.data.MONTHLY_TRANSPORT}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Monthly rent Expenses</span>
                                        <span class="pull-right">#{{statement.data.MONTHLY_RENT_EXPENSES}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Monthly Call Expenses</span>
                                        <span class="pull-right">#{{statement.data.MONTHLY_CALL_EXPENSES}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title ratio_title">Ratio
            <a href="javascript:;" data-sub="income" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('ratio')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub ratio animated" *ngIf="sectionOpen == 'ratio'">
            <!-- Income Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Total Monthly expense/income ratio</span>
                                        <span class="pull-right">{{statement.ratio_analysis.total_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Monthly Deductions to monthly income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.monthly_deduction}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Annual rent/annual income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.rent_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">School fees/income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.sch_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">feeding/income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.feeding_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">transportation/income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.tfare_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="pull-left text-primary">interet/income</span>
                                        <span class="pull-right">{{statement.ratio_analysis.internet_ratio}}%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title work_title">Work
            <a href="javascript:;" data-sub="work" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('work')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub work animated" *ngIf="sectionOpen == 'work'">
            <!-- Work Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Company</span>
                                        <span class="pull-right">{{statement.occupation.COMPANY_OF_WORK_ID}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Employment type</span>
                                        <span class="pull-right">{{statement.work_analysis.occupation_name}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                            
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Work Sector</span>
                                        <span class="pull-right">{{statement.work_analysis.work_sector_title.DESCRIPTION}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">number of years in current employment</span>
                                        <span class="pull-right">{{statement.work_analysis.work_yr}}yrs</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title address_title">Guarantor
            <a href="javascript:;" data-sub="guarantor" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('guarantor')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub guarantor animated" *ngIf="sectionOpen == 'guarantor'">
            <!-- Guarantor Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">No of Guarantors</span>
                                        <span class="pull-right">{{statement.guarantors_analysis.no_of_guarantor}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">response time</span>
                                        <span class="pull-right">{{statement.guarantors_analysis.average_respond_time}}days</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title address_title">Account
            <a href="javascript:;" data-sub="account" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('account')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub account animated" *ngIf="sectionOpen == 'account'">
            <!-- Account Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <!-- empty state -->
                                <div *ngIf="!statement.account_info">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Account</span>
                                            <span class="pull-right">No account info given</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="statement.account_info">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Account Bank</span>
                                            <span class="pull-right">{{statement.account_info.bank_name}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Account Name</span>
                                            <span class="pull-right">{{statement.account_info.CARD_NAME}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">No of accounts provided</span>
                                            <span class="pull-right">{{statement.account_analysis.accounts}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- empty state -->
                                <div *ngIf="!statement.card_info">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Bank Card</span>
                                            <span class="pull-right">No card info given</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="statement.card_info">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Card Bank</span>
                                            <span class="pull-right">{{statement.card_info.bank_name}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Card Name</span>
                                            <span class="pull-right">{{statement.card_info.CARD_NAME}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title address_title">Education
            <a href="javascript:;" data-sub="education" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('education')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub education animated" *ngIf="sectionOpen == 'education'">
            <!-- Education Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Schools</span>
                                        <span class="pull-right">{{statement.data.EDUCATION_INSTITUTION}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">years since graduation</span>
                                        <span class="pull-right">{{statement.edu_analysis.grad_yr}}yrs</span>
                                        <div class="clearfix"></div>
                                    </div>
                            
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9; margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">Qualification</span>
                                        <span class="pull-right">{{statement.edu_analysis.qualification.EDUCATION_LEVEL}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #d9d9d9; margin-bottom: 10px;">
                                    <div class="form-group">
                                        <span class="pull-left text-primary">No of update</span>
                                        <span class="pull-right">{{statement.data.EDUCATION_UPDATE_COUNT}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="title address_title" style="margin-bottom: 35px;">Call Logs
            <a href="javascript:;" data-sub="call_log" class="pull-right co-panel hide" style="color:#000"><i class="fa fa-chevron-up"></i></a>
            <a (click)="toogleView('call_log')" data-sub="address" class="pull-right co-panel_ " style="color:#000"><i class="fa fa-chevron-down"></i></a>
        </li>
        <li class="sub call_log animated" *ngIf="sectionOpen == 'call_log'">
            <!-- call log Preview -->
            <div class="_profile_edit_toogle collapse in">
                <div class="panel-body bio">
                    <div class="bio-d" style="overflow:hidden">
                        <div class="pro_head" style="    padding-top: 15px;">
                            <div style="width: 100%;max-width: 450px;margin: 20px auto; padding-top: 10px;">
                                <!-- empty state -->
                                <div *ngIf ="!statement.data.USER_CALL_LOGS">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Call Logs</span>
                                            <span class="pull-right">no record</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf ="statement.data.USER_CALL_LOGS">
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">Call cost monthly</span>
                                            <span class="pull-right">#{{statement.call_logs_analysis.call_cost_in_naira}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">No of incoming inter call monthly</span>
                                            <span class="pull-right">{{statement.call_logs_analysis.incoming_int_calls}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">frequent incoming timebelt</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.incoming_highest_timebelt =='1'">6am -12pm</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.incoming_highest_timebelt =='2'">12pm - 6pm</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.incoming_highest_timebelt =='3'">6pm - 12am</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.incoming_highest_timebelt =='4'">12am - 6am</span>
                                            <div class="clearfix"></div>
                                        </div>
                                
                                    </div>
                                    <div style="border-bottom: 1px solid #d9d9d9; margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">No of outgoing inter call monthly</span>
                                            <span class="pull-right">{{statement.call_logs_analysis.frequent_int_calls}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 10px;">
                                        <div class="form-group">
                                            <span class="pull-left text-primary">frequent outgoing timebelt</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.highest_timebelt =='1'">6am -12pm</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.highest_timebelt =='2'">12pm - 6pm</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.highest_timebelt =='3'">6pm - 12am</span>
                                            <span class="pull-right" *ngIf= "statement.call_logs_analysis.highest_timebelt =='4'">12am - 6am</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </section>
</div>
