<section class="panel" style="margin-bottom:7.5px">
    <header class="panel-heading">
        Analytics Result
        <span class="tools pull-right">


            <div class="btn-group">
                <a [routerLink]="['../contract']">Contract</a>
                <a [routerLink]="['../repayments']">Repayment</a>
                <a [routerLink]="['../approvals']">Workflow</a>
                <!-- <a  [routerLink]="['../comments']" class="btn btn-white btn-xs btd" type="button">Comment</a> -->
                <a [routerLink]="['../guarantors']">Guarantors</a>

            </div>
        </span>
    </header>
</section>
<section class="panel " *ngIf="!topBarHidden">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <a (click)="displayAnalyticsScore()">
                    <div class="panel-icon offer_made" style="padding:0;">
                        <img src="assets/attachments/avatar-mini.jpg" style="border-radius: 50%;width:94px;">
                    </div>
                </a>
                <p class="analysis-name">Profile</p>
            </div>
            <div class="col-md-4 text-center ">
                <div class="panel-icon offer_funded">
                    <p class="amount"> 80
                    </p>
                </div>
                <p class="analysis-name">Data Points</p>
            </div>
            <div class="col-md-4 text-center ">
                <div class="panel-icon offer_funded hover_toggle">
                    <p class="amount"> {{scores?.aggregate_score|number:'.2-2'}}%
                    </p>
                    <!-- <p class="amount hover_show">
                        <a class=" btn btn-xs btn-white open_button edged_box" (click)="analysisSlider()">
                            <i class="fa fa-pencil"></i> tweak score
                        </a>
                    </p> -->
                </div>
                <p class="analysis-name">Aggregate Score</p>
            </div>
        </div>
    </div>
</section>
<section *ngIf="currentView == 'master'" class="panel">
    <div class="panel-body">
        <div style="margin: 0 auto;width:475px;">
            <div class="row">
                <div>
                    <h3 class="text-center t_cool" style="font-size:16px;">Review each component for analysis on aggregate score</h3>
                    <hr>
                </div>
                <a (click)="currentView='creditclan_analytics'; topBarHidden=true; ">
                    <div class="col-md-4 square">
                        <div>
                            <img src="assets/img/icons/user.png">
                        </div>
                        <p>CreditClan</p>
                        <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.profile < 50? 'text_red': 'text-primary'">
                            <b>{{scores?.creditclan_analytics|number:'.2-2'}}%</b>
                        </p>
                    </div>
                </a>
                <a (click)="currentView='ease_of_repayment'">
                    <div class="col-md-4 square">
                        <div>
                            <img src="assets/img/icons/worldwide-location.png">
                        </div>
                        <p>Ease Of Repayment</p>
                        <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.address < 50? 'text_red': 'text_blue'">
                            <b>{{scores?.ease_of_payment|number:'.2-2'}}%</b>
                        </p>
                    </div>
                </a>

                <a [routerLink]="['../customer-analysis-fulldetails/income']">
                    <div class="col-md-4 square">
                        <div>
                            <img src="assets/img/icons/314486-200.png">
                        </div>
                        <p>Credit Bureau</p>
                        <p style="font-size:18px;margin-top:10px;" [ngClass]="statement.income < 50? 'text_red': 'text-primary'">
                            <b>{{scores?.credit_bureau|number:'.2-2'}}%</b>
                        </p>
                    </div>
                </a>

            </div>

        </div>

    </div>
</section>
<div *ngIf="currentView=='creditclan_analytics'">
    <app-creditclananalytics [scores]='scores' (adjustWeights)='adjustWeights($event)' (hideTopBar)='hideTopBar($event)' [analytics_data]='analytics_data'></app-creditclananalytics>
</div>