.panel {
	margin-bottom: 5px !important;
}
h4 {
	margin: 0px;
}
.pad0 {
	padding:0px !important;
}
article.pad0 {
    padding:0px !important;
}

.nav>li {
    float: left;
}
.nav_ > li{
    padding: 0 47px;
    border-right: 1px solid #ccc;
}
.nav_ > li:last-child{
    border-right: none;
}
.nav_ li.active {
	background:#f2f2f2 !important
}

.nav>li>a {
    padding:0 !important;
}



.add_butt .panel-body{
	padding-bottom: 22px;
}
.add_butt .media>.pull-left {
    min-width: 55px;
}
.add_butt .thumb{
    text-align: center;
}



.list li {
    padding: 12px;
    border-bottom-color: #E6E7E8;
}


#no-padding-right li{
    padding-right: 0;
}

.shalamar li a{
    padding-left: 15px;
    overflow-wrap: break-word;
    display: inline-block;
    width: 100%;
}

.shalamar li a span{
    margin-left: -15px;
    float: left;
}