<app-main-navigation class="customers_active"></app-main-navigation>
<section id="main-content">
	<div class="container" style="min-height:850px;width:70%;">
		<div class="row"  style="margin-top:120px;">
            <div class="col-md-12" style="padding:0;">
                        <div id="ajax_view">
                        	
                        	<router-outlet></router-outlet>
                        </div>
              
                    </div>
            </div>
		
    </div>
    <div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="action == '1'">
            
                <div class="col-md-12">
                  <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </div>
            
                <div class=" overpanel-content container" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">
            
                    <div class="modl text-center">
                      
                        <div class="modl_title" style="margin-bottom: 50px">
                            <h2><span class="text-danger">Take Ownership</span><br>
                              <small class="modl_sub">This implies you are the account officer of the customer.</small>
                              
                            </h2>
                        </div>
            
            
                        <div style="width: 500px; margin: 0 auto 25px">
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="modl_prof">
                                        <div><img class="img-circle"  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507989748/{{currentUser.photo | imagenotfound}}">
                                        </div>
                                        <h4 class="t_l3">{{currentUser?.legal_name}}</h4>
                                    </div>
                                </div> -->
                                <div class="col-md-12 text-center">
                                    <div class="modl_prof">
                                        <div><img class="img-circle"  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{ownershipCustomer?.FILE_NAME | imagenotfound}}">
                                        </div>
                                        <h4 class="t_l3">{{ownershipCustomer?.LEGAL_NAME}}</h4>
                                    </div>
            
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        
                                        <div class="form-group">
                                            <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="TRANSFER_ALL_ACCOUNT" [(ngModel)]="TRANSFER_ALL_ACCOUNT">
                                                Also take owner of all previous transactions up to date
                                            </label>
                                        </div>
                                        </div>
                
                                    </div>
                                </div>
                                
                        </div>
                        
            
                        <div style="width: 200px; margin: 0 auto">                
                            <div style="margin-bottom: 30px">
                                <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px" (click)="confirmOwner(currentUser,customer)" [disabled]="loading||is_done=='1'"><strong *ngIf="is_done=='0'">Confirm</strong>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                                    <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                                </button>
                            </div>
                        </div>
            
            
            
                    </div>
            
            
                </div>
            </div>
            <div class="overlay_ app_overlay animated ln_mdl" style="overflow:hidden" *ngIf="action == '2'">
            
                <div class="col-md-12">
                  <a class="dismiss cancel_treat_ close" role="button" (click)="closeChildModal()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </div>
            
                <div class=" overpanel-content container" role="document" style="background:rgba(255, 255, 255, 0.95); height:100%; text-align:left;width:650px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden">
            
                    <div class="modl text-center">
                      
                        <div class="modl_title" style="margin-bottom: 20px">
                            <h2><span class="text-danger">Change Ownership</span><br>
                              <small class="modl_sub">This implies you are changing the account officer of the customer.</small>
                              
                            </h2>
                        </div>
            
            
                        <div style="width: 500px; margin: 0 auto 25px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modl_prof">
                                        <div><img class="img-circle"  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507989748/{{ownershipCustomer?.ACCOUNT_OFF_PHOTO | imagenotfound}}">
                                        </div>
                                        <h4 class="t_l3">{{ownershipCustomer?.ACCOUNT_OFF}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modl_prof">
                                        <div><img class="img-circle"  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{ownershipCustomer?.FILE_NAME | imagenotfound}}">
                                        </div>
                                        <h4 class="t_l3">{{ownershipCustomer?.LEGAL_NAME}}</h4>
                                    </div>
            
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-612">
                                        
                                        <div class="form-group">
                                            <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="TRANSFER_ALL_ACCOUNT" [(ngModel)]="TRANSFER_ALL_ACCOUNT">
                                                Also take owner of all previous transactions up to date
                                            </label>
                                        </div>
                                        </div>
                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <app-empsearch (lenderChosen)="chooseLender($event)"></app-empsearch>
                
                                    </div>
                                </div>
                        </div>
                        
            
                        <div style="width: 200px; margin: 0 auto">                
                            <div style="margin-bottom: 30px">
                                <button class="text-center txt t_l4 btn-block" [ngClass]="{'btn-danger': is_done=='0', 'btn-success': is_done=='1'}" style="padding-top: 12px; padding-bottom: 12px" (click)="confirmChangeOwner(currentUser,customer)" [disabled]="loading||is_done=='1'||!chosen_lender"><strong *ngIf="is_done=='0'">Confirm</strong>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading && is_done=='0'"></i>
                                    <i class="fa fa-check" *ngIf="!loading && is_done=='1'"></i>
                                </button>
                            </div>
                        </div>
            
            
            
                    </div>
            
            
                </div>
            </div>
            
</section>