.banks .media{
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0;
}
.banks .media .thumb img{
	max-width: 60px; 
	height: auto;
}
.banks .media:last-child{
	border-bottom: none;
}

.banks .media .tick{
	width: 30px;
    margin-top: 8px;
    margin-right: 13px;
}

#ln_prof_child .panl{
	display: none;
}
#ln_prof_child article.media:hover{
	background: none;
}
#ln_prof_child .ln_prf_hide{
	display: none;
}