 /* Dashboard Style Update */



/* navigation styles*/
.requests_active .requests_active,
.customers_active .customers_active,
.invest_active .invest_active,
.schedule_active .schedule_active,
.ops_active .ops_active,
.settings_active .settings_active,
.chat_active .chat_active,
.reports_active .reports_active{
	color: orange;
	font-weight: bold;
}


/**
 * Checkbox Five
 */
.checkboxFive {
	width: 25px;
	position: relative;
	display: inline-block;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}


.panl .panel-body{
	outline: 1px solid #E6E7E8;
}

.panel-body .no-outline{
	outline: none;
}


/* text */
.txt{
	border: 0;
	padding: 0;
	margin: 0;
	font-weight: normal;
}


/* color */
.t_cool{ color: #718FC8;}
.t_hot{color: #F58634;}
.t_dull{color: #727376;}


/* margin-bottom */
.t_m1{margin-bottom: 2px;}
.t_m2{margin-bottom: 5px;}
.t_m3{margin-bottom: 7.5px;}


/* size */
.t_l1{font-size: 40px}
.t_l2{font-size: 25px}
.t_l3{font-size: 20px}
.t_l4{font-size: 16px}
.t_l5{font-size: 10px}
.t_l0{font-size: 12px;}


/* Background Color */
.b_grey{ background-color: #FAFAFA}


/* Line Height */
.t_lh1{ line-height: 1 }


/* List */
.list {padding: 0; margin: 0}
.list > li {padding: 15px; padding-left: 0; font-size: 14px}
.list.list_border > li {border-bottom: 1px solid #ccc}
.list.list_border > li:last-child{border-bottom: none}
.list.no_pad > li {padding-right: 0; padding-left: 0}

/* Ellipsis Text */
.truncate {
  /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Edged Box */
.egded-box, .edged_box{
	border-radius: 0;
}

/* float Items */
.float_items > *{
	float: left;
}
.float_items{
	overflow: hidden;
} 

/* Wide Button */
.wd_btn{
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.box{
	border: 1px solid #E6E7E8;
}


.hover_show{
	display: none;
}
.hover_toggle:hover > .hover_hide{
	display: none;
}
.hover_toggle:hover > .hover_show{
	display: block;
	visibility: visible;
}


.hover_toggle_desc:hover .hover_hide{
	display: none;
}
.hover_toggle_desc:hover .hover_show{
	display: block;
	visibility: visible;
}


/* Updated frame design */
#customer_details > *{
    float: left;
}
#customer_details > div:first-child{
    max-width: 640px; 
    min-height: 450px;
    float: left;
    padding-right: 5px
}


/* Hover styles for orange buttons */
.btn-orange:hover{
	color: #fff;
}

article.media .btn-orange, article.media .btn-orange:hover{
	color: #fff !important;
	background-color: #df6e2c !important;
	border-color: #df6e2c;
}


/* custom search box with button */
.search_box{
	background: #FAFAFA; 
	border: 1px solid #ccc;
	padding: 12px; 
}

.search_box input{
	border: none; 
	background: none; 
	font-size: 16px; 
	width: 100%; 
	max-width: 92%;
}

.search_box img{
	vertical-align: top;
}


/* Big button */
.big_btn{
	background: #FFF; 
	border: 1px solid #ccc;
	padding: 12px; 
	border-color: #718FC8; 
	margin-top: 5px; 
	cursor: pointer;
}


/* modal interaction */
.modl .modl_title h2{
	margin-bottom: 25px;
}
.modl .modl_title h2 > span{
/*	letter-spacing: 1px
*/}
.modl .modl_title .modl_sub{
	display: block; 
	margin-top: 5px;
	font-size: 16px;
}
.modl .modl_prof{
	display: inline-block;
}
.modl .modl_prof img{
	width:100px; 
	height:100px; 
}
.modl .modl_prof .t_l3 > small{
	font-size: 14px; 
	display: block; 
	margin-top: 5px;
}

.modl .modl_foot{
	background: #fff; 
	padding: 30px 15px;
}


/* mason - Panels */
.mason{
	display: block;
    padding: 204px 0;
    text-align: center;
    background-color: #fff
}
.mason.colored, .mason:hover{
	background-color: #FAFAFA;
}
.mason.br0{
	border-right: none;
}
.mason.pd0{
	padding: 10px 0;
}
.mason2{
	padding: 93px 0;
}


/* Label and value */
.label-value > li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* form label */
.sharp_form .control-label{
	color: #0b426d;
    font-size: 13px;
    padding-top: 0px !important;
    font-weight: bold;
}

.sharp_form .form-control{
	border-radius: 0;
}

/* reset font weight */
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
   font-weight: inherit;
}

/* Remove hover from the article */
.no_article_hover article.media:hover{
	background-color: transparent;
}

/* Adjust the font weight of label */
.labels label{
	font-weight: normal;
}

/* Cards */
.crd_theme_o{
    padding-bottom:33px; 
    height: 238px; 
    border: 1px solid #E6E7E8; 
    margin-bottom: 5px
}
.crd_theme{
    padding-bottom:33px; 
    height: 238px; 
    margin-bottom: 5px; 
    color: #fff; 
    background: #718FC8;
}

.crd_top{
    padding:15px 0px; 
    margin-top: 60px; 
    margin-bottom: 30px
}


/* Stacked boxes */
.stacked_boxes{
   background: #FFF; 
   border: 1px solid #ccc;
   padding: 12px;
   border-bottom: none;
}
.stacked_boxes_parent .stacked_boxes:last-child {
  border-bottom: 1px solid #ccc;
}

/*rating*/
.sm_rating .rating{
  float: none !important;
  font-size: inherit !important;
  line-height: 1;
  margin-left: 0 !important;
}
.sm_rating .rating label{
  font-size: 15px !important;
  float: none !important;
  margin: 0 !important;
}
/* borders */
.border_bottom{
	border-bottom: 1px solid #E6E7E8;
}
.border_top{
	border-top: 1px solid #E6E7E8;
}
.border_right{
	border-right: 1px solid #E6E7E8;
}
.border_left{
	border-left: 1px solid #E6E7E8;
}
