<div class="profile_area animated fadeIn">

    <section class="panel contract_area hideable_area" style="margin-bottom: 10px">
        <header class="panel-heading">
            <span class="tools pull-right">
                <ul class="list-inline">
                    <li>
                        <a [routerLink]="['../contract']">Summary</a>
                    </li>
                    <li>
                        <a [routerLink]="['../repayments']">Schedule</a>
                    </li>
                    <li>
                        <a [routerLink]="['../more']">More</a>
                    </li>
                </ul>
            </span>
            <span>Analysis</span>
        </header>
    </section>

    <section class="panel" *ngIf="view == 'main'">
        <div>
            <p class="text-right" style="padding: 10px 20px">
                <a href="javascript:;" (click)="open('form')">Edit</a>
            </p>
        </div>

        <div class="panel-body">
                <div class="anl_list">
                        <h3 class="t_l4 t_cool ">Credit Check</h3>
                        <ul>
                          
                            <li class="text-left ">
                                <span> Score</span>
                                <p class="pull-right"> {{analysis?.guarantors.HOW_MANY}}</p>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="anl_list">
                            <h3 class="t_l4 t_cool ">Verifications</h3>
                            <ul>
                                <li class="text-left ">
                                    <span>Has verified address</span>
                                    <p class="pull-right"> {{analysis?.HAS_VERIFIED_ADDRESS=='1'?'Yes':'No'}}</p>
                                </li>
                                <li class="text-left ">
                                    <span> Work details verified</span>
                                    <p class="pull-right"> {{analysis?.WORK_DETAILS_VERIFIED=='1'?'Yes':'No'}}</p>
                                </li>
                                <li class="text-left ">
                                    <span> Salary Verified</span>
                                    <p class="pull-right">
                                        <strong> {{analysis?.WORK_DETAILS_VERIFIED=='1'?'Yes':'No'}}</strong>
                                    </p>
                                </li>
            
                            </ul>
                        </div>
            <div class="anl_list">
                <h3 class="t_l4 t_cool ">Guarantors</h3>
                <ul>
                    <li class="text-left ">
                        <span>Is Guarantor Provided</span>
                        <p class="pull-right"> {{analysis?.IS_GUARANTOR_VERIFIED=='1'?'Yes':'No'}}</p>
                    </li>
                    <li class="text-left ">
                            <span>Is Guarantor Verified</span>
                            <p class="pull-right"> {{analysis?.guarantors.IS_PROVIDED=='1'?'Yes':'No'}}</p>
                        </li>
                    <li class="text-left ">
                        <span> No of guarantors</span>
                        <p class="pull-right"> {{analysis?.guarantors.HOW_MANY}}</p>
                    </li>
                    <li class="text-left ">
                        <span> Guarantor strength</span>
                        <p class="pull-right">
                            <strong> {{analysis?.guarantors.STRENGTH_}}</strong>
                        </p>
                    </li>

                </ul>
            </div>
            

            <div class="anl_list">
                <h3 class="t_l4 t_cool ">Collaterals</h3>
                <ul>
                    <li class="text-left ">
                        <span> Collateral Provided?</span>
                        <p class="pull-right">{{analysis?.collaterals.IS_PROVIDED=='1'?'Yes':'No'}}</p>
                    </li>
                    <li class="text-left ">
                        <span> How easy to liquidate</span>
                        <p class="pull-right">{{analysis?.collaterals.STRENGTH_}}</p>
                    </li>
                    <li class="text-left ">
                        <span> Total Collateral Value</span>
                        <p class="pull-right">{{analysis?.collaterals.TOTAL_COLLATERAL_CURRENT_VALUE}}</p>
                    </li>
                    <li class="text-left ">
                        <span> Est Liquidation Value</span>
                        <p class="pull-right">
                            <strong>{{analysis?.collaterals.TOTAL_COLLATERAL_EST_LIQUIDATION_VALUE}}</strong>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="anl_list">
                    <h3 class="t_l4 t_cool ">Insurance</h3>
                    <ul>
                        <li class="text-left ">
                            <span> Insurance Firm</span>
                            <p class="pull-right">{{analysis?.IS_FIRM_NAME}}</p>
                        </li>
                        
                    </ul>
                </div>
                <div class="anl_list">
                        <h3 class="t_l4 t_cool ">Financial Evaluation</h3>
                        <ul>
                            <li class="text-left ">
                                <span>Cashflow Analysis</span>
                                <p class="pull-right"> {{analysis?.CASHFLOW_ANALYSIS_DONE=='1'?'Performed':'Not Performed'}}</p>
                            </li>
                            <li class="text-left ">
                                <span> Income Cover</span>
                                <p class="pull-right"> {{analysis?.INCOME_COVER_RATING_}}</p>
                            </li>
                            <li class="text-left ">
                                <span> % of disposable income</span>
                                <p class="pull-right">
                                    <strong> {{analysis?.PERCENT_OF_DISPOSE_INCOME}}</strong>
                                </p>
                            </li>
        
                        </ul>
                    </div>
        

            <div class="anl_list">
                <h3 class="t_l4 t_cool ">Analyst Remark</h3>
                <ul>
                    <li class="text-left ">
                        <span> Rating</span>
                        <p class="pull-right">{{analysis?.ANALYST_REMARK_}}</p>
                    </li>
                    <li class="text-left ">
                        <span> Recommended Interest</span>
                        <p class="pull-right">{{analysis?.RECOMMENDED_INTEREST_RATE}}%/{{analysis?.RIRD}}</p>
                    </li>
                    <li class="text-left ">
                        <span> Recommended Principal</span>
                        <p class="pull-right">N{{analysis?.RECOMMENDED_PRINCIPAL}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="panel" *ngIf="view == 'form'">
        <div>
            <p class="text-right" style="padding: 10px 20px">
                <a href="javascript:;" (click)="close()">Close</a>
            </p>
        </div>
        <div class="panel-body">
            <form #f="ngForm" novalidate>
                    <div class="anl_list anl_form">
                            <h3 class="t_l4 t_cool ">Credit Check</h3>
                            <ul>
                     
                                <li class="text-left ">
                                    <span> Score</span>
                                    <div class="pull-right">
                                            <input type="text" name="credit_score" [(ngModel)]="analysis_form.credit_score" [value]="analysis?.credit_score">
                                            
                                    </div>
                                    
                                </li>
        
                            </ul>
                        </div>
                        <div class="anl_list anl_form">
                                <h3 class="t_l4 t_cool ">Verifications</h3>
                                <ul>
                                    
                                    <li class="text-left ">
                                        <span> Has verified address</span>
                                        <div class="pull-right">
                                            <ul class="list-inline">
                                                <li *ngFor="let yn of yesno">
                                                    <label>
                                                        <input type="radio" name="is_address_verified" [(ngModel)]="analysis_form.is_address_verified"
                                                            [value]="yn.value"> {{yn.display}}</label>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="text-left ">
                                            <span> Work details Verified</span>
                                            <div class="pull-right">
                                                <ul class="list-inline">
                                                    <li *ngFor="let yn of yesno">
                                                        <label>
                                                            <input type="radio" name="is_work_details_verified" [(ngModel)]="analysis_form.is_work_details_verified"
                                                                [value]="yn.value"> {{yn.display}}</label>
                                                    </li>
                
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="text-left ">
                                                <span> Salary Verified</span>
                                                <div class="pull-right">
                                                    <ul class="list-inline">
                                                        <li *ngFor="let yn of yesno">
                                                            <label>
                                                                <input type="radio" name="is_salary_verified" [(ngModel)]="analysis_form.is_salary_verified"
                                                                    [value]="yn.value"> {{yn.display}}</label>
                                                        </li>
                    
                                                    </ul>
                                                </div>
                                            </li>
            
                                </ul>
                            </div>
                <div class="anl_list anl_form">
                    <h3 class="t_l4 t_cool ">Guarantors</h3>
                    <ul>
                        
                        <li class="text-left ">
                            <span> Is Guarantor Provided</span>
                            <div class="pull-right">
                                <ul class="list-inline">
                                    <li *ngFor="let yn of yesno">
                                        <label>
                                            <input type="radio" name="is_guarantor_provided" [(ngModel)]="analysis_form.is_guarantor_provided"
                                                [value]="yn.value"> {{yn.display}}</label>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="text-left " *ngIf="analysis_form.is_guarantor_provided=='1'">
                                <span> Is Guarantor Verified</span>
                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li *ngFor="let yn of yesno">
                                            <label>
                                                <input type="radio" name="is_guarantor_verified" [(ngModel)]="analysis_form.is_guarantor_verified"
                                                    [value]="yn.value"> {{yn.display}}</label>
                                        </li>
    
                                    </ul>
                                </div>
                            </li>
                        <li class="text-left " *ngIf="analysis_form.is_guarantor_provided=='1'">
                            <span> No of guarantors</span>
                            <div class="pull-right">
                                    {{analysis?.guarantors.HOW_MANY}}
                            </div>
                        </li>
                        <li class="text-left " *ngIf="analysis_form.is_guarantor_provided=='1'">
                            <span> Guarantors Strength</span>
                            <div class="pull-right">
                                    <!-- <input type="text" name="strength" [(ngModel)]="analysis_form.strength" [value]="analysis?.guarantors.STRENGTH"> -->
                                    <ul class="list-inline">
                                            <li *ngFor="let str of strengths">
                                                <label>
                                                        <input type="radio" name="strength" [(ngModel)]="analysis_form.strength"
                                                        [value]="str.value"> {{str.display}}</label>
                                            </li>
                                             
                                        </ul>
                            </div>
                            
                        </li>

                    </ul>
                </div>
                <div class="anl_list anl_form">
                        <h3 class="t_l4 t_cool ">Collateral</h3>
                        <ul>
                            <li class="text-left ">
                                <span> Any Collateral</span>
                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li *ngFor="let yn of yesno">
                                            <label>
                                                <input type="radio" name="is_collateral_provided" [(ngModel)]="analysis_form.is_collateral_provided"
                                                    [value]="yn.value"> {{yn.display}}</label>
                                        </li>
    
                                    </ul>
                                </div>
                            </li>
                            <li class="text-left " *ngIf="analysis_form.is_collateral_provided=='1'">
                                    <span> Liquidity Strength</span>
                                    <div class="pull-right">
                                        <ul class="list-inline">
                                            <li *ngFor="let str of strengths">
                                                <label>
                                                        <input type="radio" name="collateral_liquidity_strength" [(ngModel)]="analysis_form.collateral_liquidity_strength"
                                                        [value]="str.value"> {{str.display}}</label>
                                            </li>
                                             
                                        </ul>
                                    </div>
                            </li>
                            <li class="text-left " *ngIf="analysis_form.is_collateral_provided=='1'">
                                <span> Total Collateral Value</span>
                                <div class="pull-right">
                                        {{analysis?.collaterals.TOTAL_COLLATERAL_CURRENT_VALUE}}
                                        
                                </div>
                            </li>
                            <li class="text-left " *ngIf="analysis_form.is_collateral_provided=='1'">
                                    <span> Current Estimated Liquidation Value</span>
                                    <div class="pull-right">
                                            {{analysis?.collaterals.TOTAL_COLLATERAL_EST_LIQUIDATION_VALUE}}
                                    </div>
                                </li>
                        </ul>
                    </div>
                <div class="anl_list anl_form">
                    <h3 class="t_l4 t_cool ">Insurance Firm</h3>
                    <ul>
                        <li class="text-left ">
                            <span> Insurance FIrm</span>
                            <div class="pull-right">
                                <ul class="list-inline">
                                    <li>
                                            <select name="insurance_firm_id" class="form-control" [(ngModel)]="analysis_form.insurance_firm_id">
                                                    <option *ngFor="let firm of insurance_firms" [value]="firm.FIRM_ID">{{firm.DESCRIPTION}}</option>
                                                  </select>
                                    </li> 
                                </ul>
                            </div>
                        </li>
                        <div class="anl_list anl_form">
                                <h3 class="t_l4 t_cool ">Financial Analysis</h3>
                                <ul>
                                    <li class="text-left ">
                                        <span> Cashflow Analysis</span>
                                        <div class="pull-right">
                                            <ul class="list-inline">
                                                <li *ngFor="let yn of yesno">
                                                    <label>
                                                        <input type="radio" name="cash_flow" [(ngModel)]="analysis_form.cash_flow"
                                                            [value]="yn.value"> {{yn.display}}</label>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="text-left " *ngIf="analysis_form.cash_flow=='1'">
                                            <span> Income Cover Rating</span>
                                            <div class="pull-right">
                                                <ul class="list-inline">
                                                    <li *ngFor="let str of strengths">
                                                        <label>
                                                                <input type="radio" name="income_cover_rating" [(ngModel)]="analysis_form.income_cover_rating"
                                                                [value]="str.value"> {{str.display}}</label>
                                                    </li>
                                                     
                                                </ul>
                                            </div>
                                    </li>
                                    <li class="text-left " *ngIf="analysis_form.cash_flow=='1'">
                                        <span> % of Disposable Income</span>
                                        <div class="pull-right">
                                                <input type="text" name="percent_dispose_income" [(ngModel)]="analysis_form.percent_dispose_income" [value]="analysis?.PERCENT_OF_DISPOSE_INCOME">
                                        </div>
                                    </li>
            
                                </ul>
                            </div>
                       
                    </ul>
                </div>
  
        

                <div class="anl_list anl_form">
                    <h3 class="t_l4 t_cool ">Analyst Remark</h3>
                    <ul>
                        <li class="text-left ">
                            <span> Rating</span>
                            <div class="pull-right">
                                <ul class="list-inline">
                                        <ul class="list-inline">
                                                <li *ngFor="let str of strengths">
                                                    <label>
                                                            <input type="radio" name="analyst_remark" [(ngModel)]="analysis_form.analyst_remark"
                                                            [value]="str.value"> {{str.display}}</label>
                                                </li>
                                                 
                                            </ul>
                                </ul>
                            </div>
                        </li>
                        <li class="text-left ">
                            <span> Recommended Interest</span>
                            <div class="pull-right">
                                    <div class="input-group ">
                                            <input type="text" name="recommended_interest_rate" [(ngModel)]="analysis_form.recommended_interest_rate" [value]="analysis?.RECOMMENDED_INTEREST_RATE">
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="sel_cur">{{interest_duration}}</span> <span class="caret"></span></button>
                                                      <ul class="dropdown-menu pull-right">
                                                          <li *ngFor="let d of loan_durations;let i=index;"><a (click)="changeDuration(i,2)">{{d.INTEREST_DURATION}}</a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                            </div>
                        </li>
                        <li class="text-left ">
                            <span> Recommended Principal</span>
                            <div class="pull-right">
                                    <div class="input-group ">
                                            <input type="text" name="recommended_principal" [(ngModel)]="analysis_form.recommended_principal" [value]="analysis?.RECOMMENDED_PRINCIPAL">
                                               
                                                  
                                                  <div class="input-group-btn">
                                                      <button  type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="sel_cur">{{loan_currency}}</span> <span class="caret"></span></button>
                                                      <ul class="dropdown-menu pull-right">
                                                          <li *ngFor="let c of countries"><a href="javascript:;" (click)="changeCurrency(c)">{{c.currency[0]}}</a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>

</div>