<form #analyticsform="ngForm" novalidate>
  <ul class="list list_border sm">
    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Profile</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.customer_profile" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'customer_profile')"></ion-range-slider>
        </div>
      </div>
    </li>
    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">customer profile</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.profile" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'profile')"></ion-range-slider>
        </div>
      </div>
    </li>

    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">address</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.address" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'address')"></ion-range-slider>
        </div>
      </div>
    </li>
    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">income</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.income" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'income')"></ion-range-slider>
        </div>
      </div>
    </li>
    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">work</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.work" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'work')"></ion-range-slider>
        </div>
      </div>
    </li>
    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Guarantor</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.guarantor" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'guarantor')"></ion-range-slider>
        </div>
      </div>
    </li>

    <li class="text-left" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Account</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.account" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'account')"></ion-range-slider>
        </div>
      </div>
    </li>

    <li class="text-left" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Education</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.education" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'education')"></ion-range-slider>
        </div>
      </div>
    </li>

    <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Call logs</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.call_log" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'call_log')"></ion-range-slider>
        </div>
      </div>
    </li>

    <!-- <li class="text-left sub_list" style="padding-left: 20px">
      <div class="row">
        <div class="col-md-3" style="vertical-align: bottom;">
          <p style="margin:20px 0 0">Linkedln</p>
        </div>
        <div class="col-md-9">
          <ion-range-slider [from]="analytics_settings?.linkedln" [min]="0" [max]="10" (onChange)="updateProfilePercentage(simpleSlider_, $event, 'linkedln')"></ion-range-slider>
        </div>
      </div>
    </li> -->
  </ul>
  <button type="submit" (click)="saveAnalytics(analyticsform.value, analyticsform.valid)" [disabled]="loading" class="btn btn-white pull-right">
    <span *ngIf="!loading">Submit</span>
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
  </button>
</form>