<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingGen">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGen" aria-expanded="true" aria-controls="collapseGen">
        General Settings
      </a>
    </h4>
  </div>
  <div id="collapseGen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGen">
    <div class="panel-body">
      <div class="panel-body">
        <form #f="ngForm" novalidate>
          <div class="form-group row hide">
            <div class="col-md-6">
              <label class="no-margin control-label">Category</label>
              <select class="form-control" name="LOAN_TYPE" [(ngModel)]="product.LOAN_TYPE">
                <option [value]="0">select</option>
                <option [value]="1">Retail</option>
                <option [value]="2">Commercial</option>
                <option [value]="3">Staff</option>
                <option [value]="9">CP</option>
                <option [value]="10">Lease</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="no-margin control-label">Type</label>
              <select class="form-control" [(ngModel)]="product.LOAN_SUBTYPE_ID" name="LOAN_SUBTYPE_ID">
                <option [value]="1">Debt Consolidation </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label class="no-margin control-label">Min amount</label>
              <div class="input-group btn-block">
                <input type="text" class="form-control" name="LOAN_AMOUNT" [(ngModel)]="product.LOAN_AMOUNT">
                <input type="hidden" name="LOAN_DURATION_TYPE" [(ngModel)]="product.LOAN_DURATION_TYPE">
                <input type="hidden" name="LOAN_CURRENCY" [(ngModel)]="product.LOAN_CURRENCY">
                <input type="hidden" name="LOAN_INTEREST_TYPE" [(ngModel)]="product.LOAN_INTEREST_TYPE">
                <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                <div class="input-group-btn hide">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <span class="sel_cur">{{loan_currency}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li *ngFor="let c of countries">
                      <a href="javascript:;" (click)="changeCurrency(c)">{{c.currency[0]}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="no-margin control-label">Max Amount</label>
              <div class="input-group ">
                <input type="text" class="form-control" name="MAX_AMOUNT" [(ngModel)]="product.MAX_AMOUNT">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <span class="sel_cur">{{loan_currency}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li *ngFor="let c of countries">
                      <a href="javascript:;" (click)="changeCurrency(c)">{{c.currency[0]}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" id="loan_duration_container">
            <div class="col-md-6">
              <label class="no-margin control-label">Min Tenor</label>
              <div class="input-group btn-block">
                <input type="text" class="form-control btn-block" name="LOAN_DURATION" [(ngModel)]="product.LOAN_DURATION">
                <div class="input-group-btn hide">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <span class="sel_cur">{{loan_duration}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li *ngFor="let d of loan_durations;let i=index;">
                      <a (click)="changeDuration(i,1)">{{d.LOAN_DURATION}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="no-margin control-label">Max Tenor</label>
              <div class="input-group ">
                <input type="text" class="form-control" name="MAX_LOAN_DURATION" [(ngModel)]="product.MAX_LOAN_DURATION">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <span class="sel_cur">{{max_loan_duration}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <ul class="dropdown-menu pull-right">
                      <li *ngFor="let d of loan_durations;let i=index;">
                        <a (click)="changeMaxDuration(i,1)">{{d.LOAN_DURATION}}</a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" id="loan_interval_container">
            <div class="col-md-6">
              <label class="no-margin control-label">Loan Interval</label>
              <div class="input-group btn-block">
                <input type="text" class="form-control btn-block" name="LOAN_INTERVAL" [(ngModel)]="product.LOAN_INTERVAL">
              </div>
            </div>
            <div class="col-md-6">
              <label class="no-margin control-label">Duration Interval</label>
              <div class="">
                <input type="text" class="form-control" name="DURATION_INTERVAL" [ngModel]="product.DURATION_INTERVAL">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="no-margin control-label col-md-6">How many days per year</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="DAYS_PER_YEAR" [(ngModel)]="product.DAYS_PER_YEAR"> </div>
          </div>
          <div class="form-group row">
            <label class="no-margin control-label col-md-6">Minimum no of days</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="MIN_LOAN_DURATION_DAYS" [(ngModel)]="product.MIN_LOAN_DURATION_DAYS"> </div>
          </div>
          <div class="form-group row">
            <label class="no-margin control-label col-md-6">Maximum no of days</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="MAX_LOAN_DURATION_DAYS" [(ngModel)]="product.MAX_LOAN_DURATION_DAYS"> </div>
          </div>
          <div class="form-group row">
            <label class="no-margin control-label col-md-6">Base Duration Type</label>
            <div class="col-md-6">
              <select class="form-control" name="BASE_DURATION_TYPE" [(ngModel)]="product.BASE_DURATION_TYPE">
                <option [value]="0">Both</option>
                <option [value]="1">Days</option>
                <option [value]="2">Months</option>
              </select>
            </div>
          </div>
          <div class="form-group row hide">
            <div class="col-md-12">
              <label class="no-margin control-label">Title</label>
              <label class="pull-right item-text-counter2">25</label>
              <input type="text" value="Salary Advance" class="form-control" name="LOAN_TITLE" [(ngModel)]="product.LOAN_TITLE"> </div>
          </div>
          <div class="form-group row hide">
            <div class="col-md-12">
              <label class="no-margin control-label">Description</label>
              <label class="pull-right item-text-counter2">320</label>
              <textarea class="form-control" name="LOAN_DESCRIPTION" [(ngModel)]="product.LOAN_DESCRIPTION" rows="5"></textarea> </div>
          </div>
          <div class="form-group row hide">
            <div class="col-md-12">
              <ul>
                <li class="text-left">
                  <span> Borrower must accept contract </span>
                  <div class="pull-right">
                    <input type="checkbox" name="MUST_ACCEPT_CONTRACT" [(ngModel)]="product.MUST_ACCEPT_CONTRACT">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <button type="submit" (click)="save(f.value, f.valid)" [disabled]="loading" class="btn btn-white pull-right">
            <span *ngIf="!loading">Submit</span>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>