<div style="position: fixed; width: 100%; z-index: 5;">

    <!-- Top Menu -->
    <header class="header bg" style="">
        <div class="container-fluid">
            <a class="logo bold pull-left" style="margin-right:15px" (click)="overlayOpen=true">
                <img src="assets/img/CC_small_colour_1.png" style="width: 35px">
            </a>


            <!-- Right side Icon Links -->
            <div class="nav notify-row pull-right" id="top_menu" style="margin-top:0px !important">
                <ul class="nav top-menu " style=" margin-top: 0;">
                    <li class="">
                        <a class="i" [routerLink]="['/credit/creditdashboard']" title="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    

                    <li class="dropdown" style="margin-top: 5px">
                        <a data-toggle="dropdown" class="dropdown-toggle " href="#">
                            <img alt="" class="tiny" src="assets/img/avatar-mini.png">
                            <span class="username" style="color:#fff;">{{currentUser?.legal_name}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li>
                                <a [routerLink]="['/savings']">Savings</a>
                            </li>
                            <li>
                                <a [routerLink]="['/requests/pending']">Loans</a>
                            </li>
                            <li>
                            <li>
                                <a [routerLink]="['/password']">Change Password</a>
                            </li>
                            <li>
                                <a [routerLink]="['/security']">Change Security</a>
                            </li>
                            <li>
                                <a [routerLink]="['/helpdesk']">Help Desk</a>
                            </li>
                            <li>
                                <a [routerLink]="['/documentation']">Documentation</a>
                            </li>
                            <li>
                                <a [routerLink]="['/setup']">Getting Started</a>
                            </li>
                            <li *ngIf="test_mode">
                                <a [routerLink]="['/helpdesk']">Web Preview</a>
                            </li>
                            <li *ngIf="test_mode">
                                <a href="javascript:;" (click)="webussd = !webussd">USSD Preview</a>
                            </li>
                            <li *ngIf="test_mode">
                                <a [routerLink]="['/getting-started']">Mobile Preview</a>
                            </li>
                            <li>
                                <a [routerLink]="['/login']">
                                    <i class="fa fa-key"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

    </header>

    <!-- Sub Menu -->
    <div *ngIf="!is_company_staff && isloan" class="sub text-center" style="clear:both;background:#fff;color:#fff; padding:10px 0px;box-shadow: 0px 2px 6px #ccc;position:relative !important">
        <ul class="nav nav_" style="display: inline-block;">
           
            <li>
                <a [routerLink]="['/settings']" class="ops_active">Operations</a>
            </li>

            <li>
                <a [routerLink]="['/newsettings']" class="ops_active">settings</a>
            </li>
           
        </ul>
    </div>
   
    

</div>
<div *ngIf="emailopen =='welcome_email'">
   <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">

       <div class="col-md-12">
           <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
               <i class="fa fa-times" aria-hidden="true"></i>
           </a>
       </div>
       <div class=" overpanel-content container" role="document" 
       style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
               overflow:hidden; border-radius: 5px;">
           <app-welcome-email></app-welcome-email>
       </div>
   </div>
</div>

<div *ngIf="emailopen =='offer_letter'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
            <app-offer-letter></app-offer-letter>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='phone_otp'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
            <app-phone-otp></app-phone-otp>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='reset_pin'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
            <app-rest-pin></app-rest-pin> 
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='direct_debit'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
            <app-direct-debit-email></app-direct-debit-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='validate_work'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-validation-work-email></app-validation-work-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='loan_rejection'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-loan-rejection-email></app-loan-rejection-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='payment_received'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-payment-received></app-payment-received>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='borrower_received_email'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-borrower-received-offer-email></app-borrower-received-offer-email>
        </div> 
    </div>
 </div>

 <div *ngIf="emailopen =='lender_make_offer'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-lender-make-offer></app-lender-make-offer>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='borrower_accepted'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-borrower-accpected-offer-letter></app-borrower-accpected-offer-letter>
        </div>
    </div> 
 </div>

 <div *ngIf="emailopen =='withdrawal_email'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
                <app-welcome-email></app-welcome-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='send_to_market'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-sent-to-market></app-sent-to-market>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='guarantor_email'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
               <app-guarantor-request-email></app-guarantor-request-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='card_request_email'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
               <app-card-request-email></app-card-request-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='bank_account_confirmation'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-bank-account-confirmation-email></app-bank-account-confirmation-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='request_attachment'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-request-for-attachments></app-request-for-attachments>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='bvn_verification'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-bvn-verification-email></app-bvn-verification-email>
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='repayment_email'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-repayment-reminder-email></app-repayment-reminder-email> 
        </div>
    </div>
 </div>

 <div *ngIf="emailopen =='loan_disbursed'">
    <div class="overlay_ app_overlay animated" style="overflow:auto;background:#fff;">
 
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="emailopen=''">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class=" overpanel-content container" role="document" 
        style="text-align:left; padding-top:0px;padding-left:0px;padding-right:0px;
                overflow:hidden; border-radius: 5px;">
              <app-loan-disbursed-email></app-loan-disbursed-email>
        </div>
    </div>
 </div>