<div *ngIf="repayments?.COUNT==0">
  <div class="text-center" style="padding-top: 20px; padding-bottom:100px">
    <a  href="javascript:;" style="font-size:70px"><i class="fa fa-meh-o"></i></a>
       <h4 style="margin-bottom: 0px; text-align: center;">No record</h4> 
       
  </div>
</div>
<div class="carousel" *ngIf="repayments?.COUNT!=0" style="min-height:210px">
    <div (mouseenter)="showingSummary=!showingSummary" *ngIf="!showingSummary">
        <p class="t_l4 t_cool" style="margin-bottom: 20px">Due Repayments</p>
        <article class="media" *ngFor="let repayment of repayments?.RESULT">
            <a class="pull-left thumb p-thumb">
              <img src="assets/attachments/{{repayment.CUSTOMER_TYPE | imagenotfound}}" style=" width: 30px;   height: 30px; border-radius: 50%; ">
            </a>
            <div class="media-body" style="float: left">
                <a class="p-head t_l0 txt" style="color: #000">2 days</a><br />
                <a class="p-head t_l0">{{repayment?.HOW_MUCH_REMAINING | number:'.2-2'}}</a>
                <p class="truncate">{{repayment?.LEGAL_NAME}}</p>
            </div>
        </article>
    </div>
    <div *ngIf="showingSummary" (mouseleave)="showsum()" style="min-height:195px;">        
        <div class="text-center" style="padding:15px 0px; margin-top: 50px">
          <p class="txt t_l3 t_lh1">{{repayments?.COUNT}}</p>
          <p class="txt t_dull">Due Repayments</p>
        </div>
        <div class="text-center"><a class="btn btn-white btn-full egded-box">View Schedule</a></div>
    </div>
  </div>
