<div class="row">
    <div class="col-md-12">

        <!-- Header -->
        <section class="panel panl" style="margin-bottom: 5px">
            <div class="panel-body">
                <article class="media">
                    <div class="pull-left thumb">
                        <img src="assets/images/file.PNG">
                    </div>
                    <div class="pull-left" style="margin-top: 5px">
                        <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Verification</h4>
                    </div>
                </article>
            </div>
        </section>

        <!-- Main Navigation -->
        <div *ngIf='mainSection'>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0;">
                    <a class="box mason" href="javascript:;" (click)="open('bvn')" style=" border-right-color: transparent; padding: 120px 0"><span class="txt t_l2">BVN Details</span></a>
                    <a class="box mason mason2" href="javascript:;"  [routerLink]="['/customer/',userType,userId,'social']" style="border-top: 0; border-right-color: transparent; padding: 65px 0">
                        <span class="txt t_l2">Social</span></a>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <div>
                        <a class="box mason mason2" href="javascript:;"  (click)="open('address')" style="padding: 65px 0; border-bottom: 0"><span class="txt t_l2">Address</span></a>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 0">
                            <a class="box mason text-left" href="javascript:;" style="
                              text-align: left;                         
                              border-right-color: transparent;
                              padding: 15px;
                              padding-bottom: 225px;"  (click)="alert('empty')">
                                <span class="txt t_l2">Income</span></a>
                        </div>
                        <div class="col-md-6" style="padding-left: 0">
                            <a class="box mason text-right" href="javascript:;" style="
                              text-align: right;                         
                              padding: 15px;
                              padding-top: 225px;"  [routerLink]="['/customer/',userType,userId,'social']">
                                <span class="txt t_l2">Social</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Hidden Section -->
        <section class="panel" *ngIf="subSection == 'bvn'">
            <header class="panel-heading">BVN
                <span class="tools pull-right">
                    <a href="javascript:;" (click)="close()">Close</a>
                </span>
            </header>
            <div class="panel-body">
                <div id="uploadedAttachment" class="artcles" style="width:100%;max-width:350px;margin:0 auto;">
                    
                    <div class="bvn_image" style="border-bottom: none; padding-bottom: 0">
                        <div class="artcles expense" style="max-width:350px;">
                            <ul> 
                                <li>
                                    <article class="media" style="padding-bottom: 20px">
                                        <div class="pull-right thumb">
                                            <a>
                                                <img class="img-circle" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507989748/{{cust['FILE_NAME']}}" style="width:70px; height:70px">
                                            </a>
                                        </div>
                                    </article>
                                </li>                                               
                                <li class="text-left black_c sub_title ">
                                    <span> BVN</span>
                                    <p class="no-margin black_c pull-right" style="">1234456</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Name</span>
                                    <p class="no-margin black_c pull-right" style="">Femi Bejide</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Address</span>
                                    <p class="no-margin black_c pull-right" style="">296, Herbert Macaulay Road, Sabo, Yaba.</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Bank</span>
                                    <p class="no-margin black_c pull-right" style="">Guarantee Trust Bank</p>
                                </li>                      
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="bvn_image" style="border-bottom: 0">
                                <a class="btn btn-white pull-right egded-box wd_btn">Retry</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="panel" *ngIf="subSection == 'address'">
            <header class="panel-heading">Address
                <span class="tools pull-right">
                    <a href="javascript:;" (click)="close()">Close</a>
                </span>
            </header>

            <div class="artcles expense" style="max-width:350px; margin: 0 auto; padding: 40px 0" *ngIf="cust.HAS_HOME_ADDRESS == 1">
                <div class="panel-body">
                    <ul>                                                
                        <li class="text-left black_c sub_title ">
                            <span> Home Country</span>
                            <p class="no-margin black_c pull-right" style="">{{cust.HOME_COUNTRY}}</p>
                        </li>
                        <li class="text-left black_c sub_title ">
                            <span> Home Address</span>
                            <p class="no-margin black_c pull-right" style="">{{cust.HOME_ADDRESS}}</p>
                        </li>
                        <li class="text-left black_c sub_title ">
                            <span> Home LGA</span>
                            <p class="no-margin black_c pull-right" style="">{{cust.HOME_LGA}}</p>
                        </li>
                        <li class="text-left black_c sub_title ">
                            <span> Home State</span>
                            <p class="no-margin black_c pull-right" style="">{{cust.HOME_STATE}}</p>
                        </li>                        
                    </ul>
                </div>
            </div>

            <div *ngIf="cust.HAS_HOME_ADDRESS == 0">
                <div style="padding: 90px 0">
                    <div class="text-center">
                        <a href="javascript:;" style="font-size:40px">
                            <i class="fa fa-meh-o"></i></a>
                        <h3 style="margin-bottom: 26px; text-align: center;">No Address</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="panel" *ngIf="subSection == 'income'">
            <header class="panel-heading">Income
                <span class="tools pull-right">
                    <a href="javascript:;" (click)="close()">Close</a>
                </span>
            </header>
            
            <div class="panel-body expense">
                <div *ngIf="cust.OCCUPATION_ID == 1 || cust.OCCUPATION_ID == 2 ||  cust.OCCUPATION_ID == 4"  style="max-width:350px;">
                    <div class="panel-body">
                        <div class="artcles">
                            <ul>
                                <li class="text-left black_c sub_title ">
                                    <span> Occupation</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.DESCRIPTION}}</p>
                                </li>                                          
                                <li class="text-left black_c sub_title ">
                                    <span> Monthly Income</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.NET_MONTHLY_INCOME}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Gross Annual Income</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.GROSS_ANNUAL_INCOME}}</p>
                                </li>                                
                                <li class="text-left black_c sub_title ">
                                    <span> Work Sector</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_SECTOR_D}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Job Grade</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.OCC}}</p>
                                </li>                                    
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="artcles">
                            <ul>
                                <li class="text-left black_c sub_title ">
                                    <span> Company Name</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.COMPANY_OF_WORK_ID}}</p>
                                </li>                        
                                <li class="text-left black_c sub_title ">
                                    <span> Work Start Date</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_START_DATE}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Work End Date</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_END_DATE}}</p>
                                </li>

                                <li class="text-left black_c sub_title ">
                                    <span> Work Address</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_ADDRESS}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Work State</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_STATE}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Work Country</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_COUNTRY}}</p>
                                </li>
                                <li class="text-left black_c sub_title ">
                                    <span> Work City</span>
                                    <p class="no-margin black_c pull-right" style="">{{cust.WORK_CITY}}</p>
                                </li>                  
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>

        <section class="panel" *ngIf="subSection == 'social'">

            <header class="panel-heading">Social
                <span class="tools pull-right">
                    <a href="javascript:;" (click)="close()">Close</a>
                </span>
            </header>

            <div class="panel-body">
                
            </div>
        </section>
    </div>
</div>
