<!-- Navigation -->
<div class="cvr" (click)="open_loan(loan?.REQUEST_ID)">

  <div class="nxt">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>

  <div class="media cnt">
      <div class="pull-left thumb p-thumb">
          <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{loan?.FILE_NAME | imagenotfound}}?q=auto" style="border-radius: 50%">
      </div>
      <div class="media-body">
          <p class="t_l4 t_cool" style="margin-bottom: 0px;"><strong>{{loan?.LEGAL_NAME}}</strong></p>
          <p class="no-margin" style="font-size: 9px">N{{loan?.REQUEST_PRINCIPAL|money}} for {{loan?.REQUEST_TENOR}} {{loan?.LOAN_DURATION}}</p>
      </div>
  </div>

</div>
