.btn-pink {
    border-radius: 0px !important;
    color: #fff !important;
    background: #f1a437 !important;
    border-color: #f1a437 !important;
}
.panel-footer h4 {
    font-size: 13px !important;
}
.staricon {
    font-size: 0.5em !important;
}