article.media:hover {
	background:#eaeaea;
}
.inline-select-wrapper {
    display: inline-block;
    margin-bottom: 10px;
} 
.inline-select {
    position: relative;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    margin-right: 5px;
    background: transparent;
}
.inline-select a.active{
    color:#d00000
}
 .fat{
        padding:8px 12px;
      }
	  .searchFilter {
		height:0px;
		overflow:hidden;
		-webkit-transition-property: height;
		-moz-transition-property: height;
		-o-transition-property: height;
		transition-property: height;
		-webkit-transition-duration: .3s;
		-moz-transition-duration: .3s;
		-o-transition-duration: .3s;
		transition-duration: .3s;
	}
	.nob {
		border:0 !important
	}
	.btd {
		border-top:0 !important;
		border-bottom: 0 !important;
	}
	.searchFilter.active {
		/*padding-left: 15px;*/
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		height:40px;
	}
      .more{
        display: none;
      }
	  .moreFilter {
		height:0px;
		overflow:hidden;
		-webkit-transition-property: height;
		-moz-transition-property: height;
		-o-transition-property: height;
		transition-property: height;
		-webkit-transition-duration: .3s;
		-moz-transition-duration: .3s;
		-o-transition-duration: .3s;
		transition-duration: .3s;
	}
	.moreFilter.active {
		/*padding-left: 15px;*/
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		height:40px;
	}
.media p {
	margin-bottom: 2px;
}
.panel {
	margin-bottom: 5px;

}
.bio-graph-info a.img {
	border: 8px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    /* width: 30px; */
    /* height: 30px; */
    background: aliceblue;
    padding: 12px;
    font-size: 20px;

}
.borbot {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.panel {
	margin-bottom: 10px !important;
}
.panel-icon {
    background: rgba(255,255,255,0.9);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* float: left; */
    margin-right: 15px;
    text-align: center; 
    padding-top: 18px;
}
.panel-icon .count {
    font-size: 24px;
    padding: 12px 0 0 0;
    line-height: 1;
}
.panel-icon .count span {
    display: block;
    font-size: 11px;
    margin-top: 3px;
}
.offer_made {
   border: 1px solid #373454;
   color: #373454;
}
.offer_accepted {
    border: 1px solid #ACD9F7;
    color: #ACD9F7;
}
.offer_funded {
    border: 1px solid #6FA960;
    color: #6FA960;
}
.weather-category ul li { 
    width: 49% !important; 
}
.twt-category { 
    margin-top: 0px !important; 
}
.twt-footer { 
    margin-top: 50px !important; 
}



.lndrs{
    height: 260px;
    position: absolute;
    left: 0;
    right: 0;
}

.lndrs .lndr_foot{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.lndrs .headline{
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.lndrs .headline span{
  font-size: 10px;
  display: block;
}

.list li {
    padding-right: 0;
}

.selected_inv article.media:hover{
    background-color: transparent;
}