<section id="main-content">
  <div class="container" style="min-height:850px;width:70%;">
    <div class="row">
            <div class="col-md-12" style="padding:0;">
                        <div id="ajax_view">
                          <div class="row" style="padding-top:50px"> 
                <div class="col-md-12">
                  &nbsp;
                </div>
              </div>
              <div class="row">
              <div class="col-md-4">
                  
                <section class="panel"> 
               	<header class="panel-heading">Menu</header>
               		<div class="list-group">
               			<a class="list-group-item"  [routerLink]="['/operations/banks']">Banks <span></span></a>
               		</div>
                </section>
     
      			<section class="panel"> 
                          <div class="list-group">
                             <a class="list-group-item active" href="#accounts">Queued Disbursement<span></span></a>
                            <a class="list-group-item "  [routerLink]="['/operations/journal']">Journal<span></span></a>
                          </div>
                      </section>
             
                        <section class="panel"> 
               	<header class="panel-heading">Reports</header>
                          <div class="list-group">
                             <a class="list-group-item" href="#reports/accounts">Accounts <span></span></a>
                          </div>
                      </section>
                
              </div>
              <div class="col-md-8">
              <div *ngIf="!preloading&&!loanformvisible" style="background:#FFFFFF;padding:15px; min-height: 500px;padding-top: 200px">
                                         <div class="text-center">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                                             <h3>No disbursements found</h3> 
                                             
                                        </div>
                                        </div>
             	<article *ngIf="preloading" class="media" style="margin: 5px 0px;background: #fff;padding: 5px;cursor:pointer;margin-bottom:0px">
	 				 	<div class="pull-left thumb p-thumb">
	 				 	<div class="sd_bt">&nbsp;</div>
	 				 	</div>
	 				 </article>

              <div *ngIf="!preloading&&loanformvisible">
                 <article *ngFor="let disburse of disbursements" class="media" style=" margin: 5px 0px;background: #fff;padding: 5px;cursor:pointer; margin-bottom:0px">
                   <div *ngIf="disburse.CUSTOMER_TYPE=='1'" class="pull-left thumb p-thumb">
                    <a [routerLink]="['/customer',disburse.PEOPLE_CUSTOMERS_ID]">
                    <img src="assets/attachments/{{disburse.FILE_NAME || disburse.CUSTOMER_TYPE | imagenotfound}}" style="width:50px; height:50px">
                            </a> 

                        </div>
                        <div *ngIf="disburse.CUSTOMER_TYPE=='2'" class="pull-left thumb p-thumb">
                    <a [routerLink]="['/customer',disburse.PEOPLE_CUSTOMERS_ID]">
                    <img src="assets/attachments/{{disburse.FILE_NAME || disburse.CUSTOMER_TYPE | imagenotfound}}" style="width:50px; height:50px">
                            </a> 

                        </div>
                                                 <span class="tools pull-right">
                                                  <a style="color:#fff" *ngIf="disburse.IS_TOP_UP==''||disburse.IS_TOP_UP=='0'" class="label label-warning">Disbursement</a>
                                                 
                <a (click)="openSec(disburse.PAYMENT_QUEUE_ID)"><span class="tools pull-right" style="
    padding: 5px;
    border: 1px solid #eaeaea;
    border-radius: 50px;
">
                                    <i class="fa fa-chevron-down" style="padding:5px"></i>
                                </span></a>
                                </span>
                                                 <div class="media-body">
                                                  <p class="">{{disburse.REQUEST_ID}}</p>
                                                  <p class="">{{disburse.HOW_MUCH_WAS_GIVEN | number:'.2-2'}}</p>
                                                  <p class="">{{disburse.LEGAL_NAME}}</p>
                                                 </div>
                                                 <div class="clearfix"></div>
                                                 <div class="media-body" *ngIf="secOpen==disburse.PAYMENT_QUEUE_ID">
                                                   <div class="panel-body"> 
     
                                     
                                            
                                            <ul style="font-size:10px">
                                  
                  <li class="text-left black_c sub_title " style="margin:10px 0px">
                                     Required Finacing
                                         <p class="no-margin black_c sub_title pull-right" style="">{{disburse.HOW_MUCH_WAS_GIVEN | number:'.2-2'}}</p>
                                         
                                    </li>
                                     <li class="text-left black_c sub_title " style="margin:10px 0px">
                                     Equity Contribution
                                         <p class="no-margin black_c sub_title pull-right" style="">{{disburse.TOTAL_SECURITY_DEPOSIT | number:'.2-2'}}</p>
                                         
                                    </li>
                                    <li class="text-left black_c sub_title " style="margin:10px 0px">
                                     Upfronted Interests
                                         <p class="no-margin black_c sub_title pull-right" style="">{{disburse.UPFRONTED_INTERESTS | number:'.2-2'}}</p>
                                         
                                    </li>
                                    <li class="text-left black_c sub_title " style="margin:10px 0px">
                                     Upfronted Periodic Fees
                                         <p class="no-margin black_c sub_title pull-right" style="">{{disburse.UPFRONTED_FEES | number:'.2-2'}}</p>
                                         
                                    </li>
                                    <li class="text-left black_c sub_title " style="margin:10px 0px">
                                    <span *ngIf="disburse.ALL_FEES_AND_CHARGES_PAID=='1'">Fees and Charges Paid</span>
                                    <span *ngIf="disburse.ALL_FEES_AND_CHARGES_PAID!='1'">Discounted Fees and Charges</span>
                                    <p class="no-margin black_c sub_title pull-right" style="">{{disburse.DISCOUNTED_FEES_CHARGES}}</p>
                                         
                                    </li>
                                   
                </ul>
                      <div class="row">
                      <div class="col-md-12">
                      <button class="btn btn-white btn-block" (click)="processDisbursement(disburse)">Pay</button>
                      </div>
                      </div>
                                        </div>
                                                 </div>
                                              </article>
              </div>
              </div>
              </div>
            </div>
      </div>
    </div>
 </div>
 </section>
 <div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="disbursing">
 
          <div class="col-md-12">
              <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
                <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
     <section class="panel" style="overflow:hidden;">
                <div style="padding:24px 20px; overflow: auto;">
                  <div class="text-center borrower-info">
                  <a [routerLink]="['/customer',disbursement.PEOPLE_CUSTOMERS_ID]" class="pull-left" style="margin-right: 25px">
                    <img src="assets/attachments/{{disbursement.FILE_NAME || disbursement.CUSTOMER_TYPE | imagenotfound}}" style="width:50px; height:50px">
                            </a> 
                    <div class="borrower-text pull-left" style="text-align:left">
                      <p class="" style="margin-bottom: 0px">{{disbursement.LEGAL_NAME}}</p>
                      <p class="" style="font-weight: bold">{{disbursement.HOW_MUCH_WAS_GIVEN | number:'.2-2'}}</p>
                      
                    </div>
                  </div>
                </div>
                <div class="paytype-switch" style="width: 100%;position: relative;z-index: 10;background: white; overflow: auto">
                  <a class="paystack-switch-confirm {{paytype=='confirm'?'active':''}}" (click)="switchpay('confirm')">Confirm Payment</a>
                  <a class="paystack-switch-make {{paytype=='make'?'active':''}}" (click)="switchpay('make')">Make Payment</a>
                </div>
                <div *ngIf="makingFinalPayment">
                  <div class="panel-body" style="padding-bottom: 0px">
                   <div class="text-center" style="padding: 20px 0px; padding-bottom: 0px" *ngIf="makingFinalPayment&&!paymentHasBeenProcessed">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-hourglass fa-spin"></i></a>
                                          <span style="display: block;">processing payment...</span>
                                            
                                        </div>
                     <div class="text-center" style="padding: 20px 0px;padding-bottom: 0px" *ngIf="makingFinalPayment&&paymentHasBeenProcessed&&paymentConfirmed">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-check"></i></a>
                                          <span style="display: block;">Payment Successful</span>
                                          <button type="button" class="btn btn-white" (click)="paymentProcessDone()">Close</button>
                                        </div>
                      <div class="text-center" style="padding: 20px 0px;padding-bottom: 0px" *ngIf="makingFinalPayment&&paymentHasBeenProcessed&&!paymentConfirmed">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-info"></i></a>
                                          <span style="display: block;">Payment Unsuccessful</span>
                                          <button type="button" class="btn btn-white" (click)="paymentProcessDone()">Close</button>
                                        </div>
                  </div>
                </div>
                <div class="otp-form animated fadeIn" *ngIf="makingFinalPayment&&otpHBR">
                  <div class="panel-body">
                         <h6><p>{{fresponse}}</p></h6>
                       <div class="form-group row">
                                                                
                                                                <label class="control-label col-md-6">OTP</label>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control" id="CONFIRM_OTP_CODE" [(ngModel)]="otp.CONFIRM_OTP_CODE" name="CONFIRM_OTP_CODE" value="">
                                                                         
                                                                    </div>
                                                            </div>
                                                <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <button [disabled]="loading" class="btn btn-block btn-white" (click)="confirmOTPForTransfer()">Submit <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                                        </div> 
                                                       
                                                      </div>        
                                                <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <button [disabled]="loading" (click)="cancelPayment_()" class="btn btn-block btn-danger">Cancel</button>
                                                        </div> 
                                                       
                                                      </div>
                                                <div class="form-group row f-net-error" *ngIf="!otpConfirmed&&otpHBSFC">
                                                            <div class="col-md-12">
                                                                <div class="error  alert alert-block alert-danger fade in f-net-error_" style="margin:10px 0px !important">
                                                                {{otpErrorMessage}}
                                                            </div>
                                                            
                                                            </div>
                                                            </div>
                  </div> 
                </div>
                <div *ngIf="!makingFinalPayment">
                  <div class="panel-body animated" *ngIf="paytype=='confirm'">
                  <form [formGroup]="complexForm" (ngSubmit)="doPaymentConfirm(complexForm.value)">
                    <h4>Transaction Details</h4>
                    <p>Please confirm that the payment has been made.</p>
                    <div class="form-group"  [ngClass]="{'has-error':!complexForm.controls['LENDER_BANK_ACCOUNT_ID'].valid && complexForm.controls['LENDER_BANK_ACCOUNT_ID'].touched}" style="margin-bottom:15px">
                      <label for="exampleInputEmail1">Disbursement Bank</label>
                      <select class="form-control"  [formControl]="complexForm.controls['LENDER_BANK_ACCOUNT_ID']" name="LENDER_BANK_ACCOUNT_ID" id="LENDER_BANK_ACCOUNT_ID" >
                        <option value="0"></option>
                        <option *ngFor="let bank of banks"  [ngValue]="bank" >{{bank.LENDER_ACCOUNT_NAME}}|{{bank.LENDER_ACCOUNT_NUMBER}}</option>
                      </select>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['SECURITY_QUESTION_ANSWER'].valid && complexForm.controls['SECURITY_QUESTION_ANSWER'].touched}" style="margin-bottom:15px">
                                        <label for="exampleInputEmail1">{{security_question}}</label>
                                        <input  [formControl]="complexForm.controls['SECURITY_QUESTION_ANSWER']"  type="password" class="form-control" id="SECURITY_QUESTION_ANSWER" name="SECURITY_QUESTION_ANSWER">
                                        <div *ngIf="otpError" class="error alert alert-block alert-danger fade in" style="margin:10px 0px !important">
                                                 Wrong answer.
                                                </div>
                                    </div>
                   <div class="row">
                                      <div class="col-md-12">
                                        <button class="btn btn-block btn-white"  [disabled]="!complexForm.valid" type="submit">Confirm Payment<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                      </div> 
                                    </div>
                  </form>
                </div>
               <div class="panel-body animated" *ngIf="paytype=='make'">
                  <div *ngIf="!choosingPayProcess">
                    <div *ngIf="!disbursement.BORROWER_ACCOUNT_DETAILS||addingAccount">
                    <div *ngIf="!addingAccount" style="background:#FFFFFF;padding:15px">
                                         <div class="text-center">
                                          <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                                             <h3>No accounts found</h3> 
                                             <button class="btn btn-white" (click)="addingAccount=!addingAccount">Add Account<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                        </div>
                                        </div>
                    <form *ngIf="addingAccount" [formGroup]="newAccountForm" (ngSubmit)="doAddNewBorrowerAccount(newAccountForm.value)">
                      <div class="form-group"  [ngClass]="{'has-error':!newAccountForm.controls['BANK_ID'].valid && newAccountForm.controls['BANK_ID'].touched}" style="margin-bottom:15px">
                    <label for="exampleInputEmail1">Account Bank</label>
                    <select class="form-control"  [formControl]="newAccountForm.controls['BANK_ID']" name="BANK_ID" id="BANK_ID" >
                      <option value="0"></option>
                      <option *ngFor="let nb of nigerian_banks"  [ngValue]="nb" >{{nb.BANK_NAME}}</option>
                    </select>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error':!newAccountForm.controls['LENDER_ACCOUNT_NUMBER'].valid && newAccountForm.controls['LENDER_ACCOUNT_NUMBER'].touched}" style="margin-bottom:15px">
                                      <label for="exampleInputEmail1">Account Number</label>
                                      <input  [formControl]="newAccountForm.controls['LENDER_ACCOUNT_NUMBER']"  type="text" class="form-control" id="LENDER_ACCOUNT_NUMBER" name="LENDER_ACCOUNT_NUMBER">
                                      <div class="error phone_error alert alert-block alert-danger fade in hide" style="margin:10px 0px !important">
                                               
                                              </div>
                                  </div>
                    <div class="form-group" *ngIf="newaccountconfirmed&&VERIFY_STATUS">
                                                            
                                                            <label class="control-label">Account Name</label>
                                                              <input [formControl]="newAccountForm.controls['LENDER_BANK_ACCOUNT_NAME']"  type="text" disabled="" class="form-control" id="LENDER_BANK_ACCOUNT_NAME" name="LENDER_BANK_ACCOUNT_NAME">
                                                        </div>
                      <div class="form-group" *ngIf="!newaccountconfirmed&&VERIFY_STATUS">
                      <div class="error alert alert-block alert-danger fade in" style="margin:10px 0px !important">
                                 Account could not be confirmed.              
                                              </div></div>
                       
                      <div class="row" *ngIf="!continuetosave">
                                    <div class="col-md-12">
                                      <button class="btn btn-block btn-white" [disabled]="!newAccountForm.valid" type="submit">Add Account<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                    </div> 
                                  </div>
                      <div class="form-group row" *ngIf="newaccountconfirmed&&VERIFY_STATUS">
                                    <div class="col-md-12">
                                      <button class="btn btn-block btn-white" [disabled]="loading" type="button" (click)="saveBorrowerAccount()">Use Account<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                    </div> 
                                  </div>
                      <div class="row" *ngIf="newaccountconfirmed&&VERIFY_STATUS">
                                    <div class="col-md-12">
                                      <button class="btn btn-block btn-white" [disabled]="loading" type="button" (click)="doNotUseAccount()">Cancel</button>
                                    </div> 
                                  </div>
                    </form>
                  </div>
                  <div *ngIf="disbursement.BORROWER_ACCOUNT_DETAILS && !addingAccount">
                    <h4>Borrower Account
                    <span class="tools pull-right">
                  <button class="btn btn-white btn-xs" (click)="addNewCustomerAccount()"><i class="fa fa-plus"></i></button>
                    </span>
                    </h4>
                    <div class="beachacc" *ngFor="let acc of disbursement.BORROWER_ACCOUNT_DETAILS">
                      <div class="beachacc-details" (click)="setAsConnectedAccountId(acc.ACCOUNT_CARD_ID,disbursement.REQUEST_ID,disbursement.PAYMENT_QUEUE_ID)">
                        <p style="margin-bottom: 0px">{{acc.BANK_NAME}}</p>
                        <p style="margin-bottom: 0px">{{acc.CARD_NAME}}</p>
                        <p>{{acc.LAST_FOUR_DIGITS}}</p>
                      </div>
                      <div class="beachacc-status" *ngIf="acc.ACCOUNT_CARD_ID==disbursement.CONNECTED_ACCOUNT_ID"><a><i class="fa fa-check-square"></i></a></div>
                      
                    </div>
                   
                  <div class="form-group row">
                                    <div class="col-md-6">
                                      <button class="btn btn-block btn-white" [disabled]="loading" type="button" (click)="payBorrower()">Make Payment<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                    </div> 
                                    <div class="col-md-6">
                                      <button class="btn btn-block btn-white" [disabled]="loading" type="button" (click)="cancelPayment()">Cancel Payment</button>
                                    </div> 
                                  </div> 
                  </div>
                  </div>
                  <div *ngIf="choosingPayProcess">
                      <div class="row" *ngIf="!payProcessChosen">
                        <div class="col-md-6">
                        <button class="btn btn-white btn-pay-wallet" (click)="payWithWallet()">
                        <i class="fa fa-briefcase"></i>
                        <span style="text-align: center; display: block; font-size: 15px">
                        Wallet
                        </span>
                        </button>
                        </div>
                        <div class="col-md-6">
                        <button class="btn btn-white btn-pay-bank" (click)="payWithBank()">
                        <i class="fa fa-bank"></i>
                        <span style="text-align: center; display: block; font-size: 15px">
                        Bank
                        </span>
                        </button>

                        </div>
                      </div>
                      <div class="row" *ngIf="payProcessChosen&&walletChosen">
                      <div class="col-md-12">
                       <form [formGroup]="walletPaymentForm" (ngSubmit)="confirmBorrowerHasBeenPaid(walletPaymentForm.value)">
                        <h4>Pay with Wallet</h4>
                        <h4>Wallet Balance</h4>
                        <h1></h1>
                        <div class="form-group" [ngClass]="{'has-error':!walletPaymentForm.controls['SECURITY_QUESTION_ANSWER'].valid && walletPaymentForm.controls['SECURITY_QUESTION_ANSWER'].touched}" style="margin-bottom:15px">
                                      <label for="exampleInputEmail1">{{security_question}}</label>
                                      <input  [formControl]="walletPaymentForm.controls['SECURITY_QUESTION_ANSWER']"  type="password" class="form-control" id="SECURITY_QUESTION_ANSWER" name="SECURITY_QUESTION_ANSWER">
                                     <div *ngIf="otpError" class="error alert alert-block alert-danger fade in" style="margin:10px 0px !important">
                                                 Wrong answer.
                                                </div>
                                  </div>
                        <div class="form-group row">
                                    <div class="col-md-6">
                                      <button class="btn btn-block btn-white"[disabled]="!walletPaymentForm.valid||loading"  type="submit">Confirm Payment<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                    </div> 
                                    <div class="col-md-6">
                                <button class="btn btn-block btn-white" [disabled]="loading"  type="button" (click)="cancelPayment()">Cancel Payment</button>
                                    </div> 
                                  </div>
                        </form>
                        </div> 
                      </div>
                      <div class="row" *ngIf="payProcessChosen&&bankChosen">
                      <div class="col-md-12">
                      <form [formGroup]="bankPaymentForm" (ngSubmit)="payBorrowerWithBank(bankPaymentForm.value)">
                      <div class="form-group" style="margin-bottom:15px">
                    <label for="exampleInputEmail1">Borrower Account</label>
                    </div>
                      <div class="beachacc" *ngIf="disbursement.CONNECTED_ACCOUNT">
                      <div class="beachacc-details">
                        <p style="margin-bottom: 0px">{{disbursement.CONNECTED_ACCOUNT.BANK_NAME}}</p>
                        <p style="margin-bottom: 0px">{{disbursement.CONNECTED_ACCOUNT.CARD_NAME}}</p>
                        <p>{{disbursement.CONNECTED_ACCOUNT.LAST_FOUR_DIGITS}}</p>
                      </div>
                      
                      
                    </div>  
                     <div class="form-group"  [ngClass]="{'has-error':!bankPaymentForm.controls['LENDER_BANK_ACCOUNT_ID'].valid && bankPaymentForm.controls['LENDER_BANK_ACCOUNT_ID'].touched}" style="margin-bottom:15px">
                    <label for="exampleInputEmail1">Disbursement Bank</label>
                    <select class="form-control"  [formControl]="bankPaymentForm.controls['LENDER_BANK_ACCOUNT_ID']" name="LENDER_BANK_ACCOUNT_ID" id="LENDER_BANK_ACCOUNT_ID" >
                      <option value="0"></option>
                      <option *ngFor="let bank of banks"  [ngValue]="bank" >{{bank.LENDER_ACCOUNT_NAME}}|{{bank.LENDER_ACCOUNT_NUMBER}}</option>
                    </select>
                  </div>
                  <div *ngIf="otpError" class="error alert alert-block alert-danger fade in" style="margin:10px 0px !important">
                                                 {{otpErrorMessage}}
                                                </div>
                        <div class="form-group row">
                                    <div class="col-md-6">
                                      <button class="btn btn-block btn-white" [disabled]="!bankPaymentForm.valid||loading" type="submit">Pay<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                                    </div> 
                                    <div class="col-md-6">
                                      <button class="btn btn-block btn-white" [disabled]="loading" type="button" (click)="cancelPayment()">Cancel Payment</button>
                                    </div> 
                                  </div> 
                                  </form>
                                  </div>
                      </div>
                  </div>

               </div>
                </div>
            </section>
        </div>
        </div>  