<app-main-navigation></app-main-navigation>
<div class="container" style="margin-top:120px;">
  <div class="row">
    <div class="col-md-9">
      <section class="panel panl" style="margin-bottom: 5px">
        <div class="panel-body">
          <article class="media">
            <div class="pull-left">
              <h4 class="no-margin">Investor Settings</h4>
            </div>
            <!-- <a href="javascript:;" aria-expanded="false" class="pull-right">Toggle</a> -->
          </article>
        </div>
      </section>

      <div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingGen">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGen" aria-expanded="true" aria-controls="collapseGen">
                  General Settings
                </a>
              </h4>
            </div>
            <div id="collapseGen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGen">
              <div class="panel-body">
                <div class="panel-body">
                  <form #f="ngForm" novalidate>
                    <div class="form-group row">
                      <label class="no-margin control-label col-md-6">Minimum funding before disbursement(%)</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="MINIMUM_FUNDING_BEFORE_DISBURSE" [(ngModel)]="general_settings.MINIMUM_FUNDING_BEFORE_DISBURSE"> </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-12">
                        <ul>
                          <li class="text-left">
                            <span> <label>Use platform rate</label></span>
                            <div class="pull-right">
                              <input type="checkbox" name="USE_PLATFORM_RATE" name="USE_PLATFORM_RATE" [(ngModel)]="general_settings.USE_PLATFORM_RATE">
                              <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label class="control-label">What records do lenders see?</label>
                        

                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <ul>
                          <li class="text-left" *ngFor="let ac of lender_see_records" style="margin-bottom:15px">
                            <span> {{ac.display}}</span>
                            <div class="pull-right">
                              <input type="radio" name="LENDER_SEE_RECORDS" [value]="ac.value" [(ngModel)]="general_settings.LENDER_SEE_RECORDS">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="no-margin control-label col-md-6">Minimum Investment</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="MINIMUM_INVESTMENT" [(ngModel)]="general_settings.MINIMUM_INVESTMENT"> </div>
                    </div>
                    <div class="form-group row">
                      <label class="no-margin control-label col-md-6">Maximum Investment</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="MAXIMUM_INVESTMENT" [(ngModel)]="general_settings.MAXIMUM_INVESTMENT"> </div>
                    </div>
                    <div class="form-group row">
                      <label class="no-margin control-label col-md-6">Investment Interval</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="INVESTMENT_INTERVAL" [(ngModel)]="general_settings.INVESTMENT_INTERVAL"> </div>
                    </div>
                    <div class="form-group row">
                        <label class="no-margin control-label col-md-6">Maximum Investment Percentage</label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" name="MAXIMUM_INVESTMENT_PERCENT" [(ngModel)]="general_settings.MAXIMUM_INVESTMENT_PERCENT"> </div>
                      </div>
                      <div class="form-group row">
                        <label class="no-margin control-label col-md-6">Maximum Investment Percentage Applies Above</label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" name="MAXIMUM_INVESTMENT_PERCENT_APPLIES_ABOVE" [(ngModel)]="general_settings.MAXIMUM_INVESTMENT_PERCENT_APPLIES_ABOVE"> </div>
                      </div>
                      <div class="form-group row">
                          <label class="no-margin control-label col-md-6">No of lenders that can be targetted</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="LIMIT_LENDERS_TARGETED" [(ngModel)]="general_settings.LIMIT_LENDERS_TARGETED"> </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                              <ul>
                                <li class="text-left">
                                  <span> Request documents</span>
                                  <div class="pull-right">
                                    <input type="checkbox" name="REQUEST_DOCUMENTS" name="REQUEST_DOCUMENTS" [(ngModel)]="general_settings.REQUEST_DOCUMENTS">
                                   
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                    <button type="submit" (click)="saveGeneralSettings(f.value, f.valid)" [disabled]="loading" class="btn btn-white pull-right">
                      <span *ngIf="!loading">Submit</span>
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMF">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMF" aria-expanded="false"
                  aria-controls="collapseMF">
                  Management Fee
                </a>
              </h4>
            </div>
            <div id="collapseMF" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMF">
              <div class="panel-body">
                <div class="panel-body toc-panel">
                  <form #manage="ngForm" novalidate>
                    <div class="form-group row">
                      <label class="control-label col-md-6">Fee type</label>
                      <div class="col-md-6">
                        <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                        <select name="FEE_TYPE" [(ngModel)]="management_fee.FEE_TYPE" class="form-control">
                         
                          <option [value]="2">Backend</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">


                      <label class="col-md-6">
                        Percentage Value
                      </label>
                      <div class="col-md-6">

                        <input name="FEE_PERCENT_VALUE" [(ngModel)]="management_fee.FEE_PERCENT_VALUE" type="text" class="form-control">

                      </div>
                    </div>
                    <div class="form-group row">


                      <label class="col-md-6">
                        Flat Value
                      </label>
                      <div class="col-md-6">

                        <input name="FEE_FLAT_VALUE" [(ngModel)]="management_fee.FEE_FLAT_VALUE" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row hide">
                      <label class="control-label col-md-6">Account</label>
                      <div class="col-md-6">
                        <select name="MANAGEMENT_FEE_ACCOUNT" [(ngModel)]="management_fee.MANAGEMENT_FEE_ACCOUNT" class="form-control">
                          <option *ngFor="let account of companyaccounts" [value]="account.ACCOUNT_ID">{{account.GL_NAME}}</option>
                        </select>
                      </div>
                    </div>
                    <button type="submit" (click)="saveManagementFee(manage.value, manage.valid)" [disabled]="loading" class="btn btn-white pull-right">
                      <span *ngIf="!loading">Submit</span>
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingIR">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIR" aria-expanded="false"
                  aria-controls="collapseIR">
                  Repayment
                </a>
              </h4>
            </div>
            <div id="collapseIR" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingIR">
              <div class="panel-body">
                <div class="panel-body toc-panel">
                  <form #repayments="ngForm" novalidate>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <ul>
                          <li class="text-left">
                            <span> <label>Pay investor as borrower repays</label></span>
                            <div class="pull-right">
                              <input type="checkbox" name="PAY_INVESTOR_IMMEDIATELY" name="PAY_INVESTOR_IMMEDIATELY" [(ngModel)]="repayment_settings.PAY_INVESTOR_IMMEDIATELY">
                              <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button type="submit" (click)="saveRepayment(repayments.value, repayments.valid)" [disabled]="loading" class="btn btn-white pull-right">
                      <span *ngIf="!loading">Submit</span>
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTC">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTC" aria-expanded="true" aria-controls="collapseTC">
                  Terms and Condition
                </a>
              </h4>
            </div>
            <div id="collapseTC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTC">
              <div class="panel-body">
                  <form #tcs="ngForm" novalidate>
                       
                  <div class="form-group">
                        <input type="hidden" name="LOAN_PRODUCT_ID" [(ngModel)]="product.LOAN_PRODUCT_ID">
                        <app-ngx-editor  [config]="editorConfig" name="INVESTOR_TERMS_AND_CONDITIONS"  [(ngModel)]="tc.INVESTOR_TERMS_AND_CONDITIONS"></app-ngx-editor>
                  </div>
                  <button type="submit" (click)="saveTC(tcs.value, tcs.valid)" [disabled]="loading" class="btn btn-white pull-right"><span *ngIf="!loading">Submit</span> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                      </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="panel-body text-center b_grey crd_theme">
        <div class="text-center crd_top" style="margin-top: 5px; margin-bottom: 15px;">
          <p class="t_lh1">
            <img src="assets/images/phone_blue.PNG">
          </p>
        </div>
        <a class="btn btn-white btn-full egded-box wd_btn" style="display: inline">Back</a>
      </div>

      <section class="box panel">
        <div class="panel-body">
          <ul class="list list_border">
            <li>
              <a class="txt_l4" href="javascript:;">Mobile App</a>
            </li>
            <li>
              <a class="txt_l4" href="javascript:;">Backend</a>
            </li>
            <li>
              <a class="txt_l4" href="javascript:;">USSD</a>
            </li>
            <li>
              <a class="txt_l4" href="javascript:;">Investors</a>
            </li>
          </ul>
        </div>
      </section>
    </div>


  </div>
</div>