<section class="panel" *ngIf="type=='1'" style="margin-bottom: 10px">
    <div class="twt-feed">
        <h1 class="bor_name" style="color:#000000"><a [routerLink]="['./profile']">{{borrower?.LEGAL_NAME}}</a></h1>
        <p>{{borrower?.EMAIL}}</p>
        <a href="javascript:;" (click)="enlargeProfileImg()" style="position: relative;" class="hover_toggle">
            <img src="assets/images/search.PNG" class="hover_show bor_id_mag">
            <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{borrower?.FILE_NAME | imagenotfound}}?q=auto"
                alt="">
        </a>
    </div>

    <div class="weather-category twt-category">
        <ul>
            <li class="active col-md-6">
                <h5>{{borrower?.NOL}}
                    <span>Loans</span>
                </h5>            
            </li>
            <li class="active col-md-6">
                <h5>{{borrower?.NOLL}}
                    <span>Ongoing</span>
                </h5>            
            </li>
        </ul>
    </div>
</section>
<section class="panel" *ngIf="type=='2'" style="margin-bottom: 10px">
    <div class="twt-feed">
        <h1 class="bor_name" style="color:#000000;font-size:14px"><a [routerLink]="['./profile']">{{investment?.LEGAL_NAME}}</a></h1>
        <p style="color:#000">{{investment?.EMAIL}}</p>
        <a href="javascript:;" (click)="enlargeProfileImg()" style="position: relative;" class="hover_toggle">
            <img src="assets/images/search.PNG" class="hover_show bor_id_mag">
            <img style="width:75px; height:75px" src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{investment?.FILE_NAME | imagenotfound}}?q=auto"
                alt="">
        </a>
    </div>

    <div class="weather-category twt-category" style="margin-top:30px">
        <ul>
            <li class="active">
                <p>{{investment?.BID_PRINCIPAL|money}}</p>                
            </li>
            <li class="active">
                <p>&nbsp;</p>                
            </li>
            <li class="active">
                <p>{{investment?.BID_TENOR}} {{investment?.LOAN_DURATION}}</p> 
            </li>
        </ul>
    </div>
</section>