<section class="panel" *ngIf="!showingRecords">
    <div class="panel-body" style="padding:0px">
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="showingRecords=!showingRecords">
                <i aria-hidden="true" class="fa fa-times"></i>
            </a>
        </div>
        <div class="panel-body">
            <img [src]="record.LINK" style="width:100%" height="500px" (error)="assets/img/not-found.jpg">
        </div>
    </div>
</section>
<section *ngIf="showingRecords" class="">


    <!-- Old Header -->
    <!-- <div class="panel-body">
        <article class="media">
            <div class="pull-left thumb">
                <a>
                    <img src="http://app.creditclan.com/creditclan_demo/pub/attachments/avatar-mini.jpg" class="img-circle" style="width:70px; height:70px">
                </a>
            </div>
            <div class="pull-left">
                <h4 class="no-margin blue_c" style="color: blue; word-wrap:break-word">{{cust?.LEGAL_NAME}}</h4>
                <p class="no-margin">Manged By: {{cust?.ACCOUNT_OFFICER_NAME}}</p>
            </div>
            <a [routerLink]="['/customer/update/',userType,userId]" class="pull-right btn btn-white">Update</a>
        </article>
    </div> -->

    <section class="panel panl" style="margin-bottom: 5px">
      <div class="panel-body">
          <article class="media">
              <div class="pull-left thumb">
                <img src="assets/images/file.PNG">
              </div>
              <div class="pull-left" style="margin-top: 5px">
                <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Attachments</h4>
              </div>

              <a class="pull-right btn btn-white wd_btn " style="border-radius: 0">Button</a>
          </article>                  
      </div>
    </section>

    <article style="background: #fff;padding: 5px;cursor:pointer; margin:0px; border-top:1px solid #eaeaea" class="panel media animated box">

        <!-- Hidden Section -->
        <div class="panel-heading hide">
            <h5 class="pull-left text-primary" style="margin: 0">Attachment</h5>
            <div class="pull-right">
                <div>
                    <div class="inline-select-wrapper">
                        <div class="inline-select">
                        </div>
                    </div>
                    <div class="inline-select-wrapper hide_t hide_s" style="margin-bottom: 0">
                        <div class="inline-select">
                            <div class="btn-group">
                                <button class="btn btn-white btn-xs" type="button">All</button>
                                <button data-toggle="dropdown" class="btn btn-xs btn-white dropdown-toggle" type="button" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="javascript:;">All</a></li>
                                    <li><a href="javascript:;">Legal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="inline-select-wrapper" style="margin-bottom: 0">
                        <div class="inline-select" style="border:none;">
                            <!-- <button class="btn btn-white btn-outlined-blue btn-xs" id="btnToggleAttachmentAdd">Add</button> -->
                            <a class="btn btn-white btn-blue white_c btn-xs" (click)="toogleForm()">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- // Hidden section -->

        <div class="panel-body">
            <div id="uploadAttachmentForm" *ngIf="openForm" style="margin-bottom: 20px;border-bottom: 1px solid #d9d9d9;">
                <div style="width:100%;margin:0px auto; max-width: 300px; margin-top:30px">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">Description</label>
                            <textarea class="form-control " placeholder="" id="txtComment" name=""></textarea>
                            <label class="pull-right item-text-counter2">160</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div style=" background:rgba(243,243,243,1.00); padding:5px; width:auto">
                                <a href="javascript:void(0)" style="cursor:pointer;border-radius:0px" class="staff-education_add"><i class="fa fa-file" style="padding-right:5px"></i><span class="bst_">Choose file</span></a>
                                <input type="hidden" name="ATTACHMENT_ID_" id="ATTACHMENT_ID_" value="">
                                <input class="uploadType" type="hidden" value="8000">
                                <input type="file" class="att-add-file" style="display:none">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <a href="javascript:;" data-c="" class="btn btn-white btn-block btn-save-upload">Save</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="uploadedAttachment" class="artcles" style="width:100%;max-width:350px;margin:0 auto;">
                <article class="media x-mod" style="border-bottom: 1px solid #d9d9d9;padding: 10px 0;" *ngFor="let record of records">
                    <a class="pull-left thumb">
                        <img src="assets/images/file2.PNG">
                    </a>
                    <div class="media-body">
                        <div class="pull-left">
                            <a class="text-primary" href="{{record.LINK}}" style="float: none; font-size: 14px" target="_blank">{{record.FILE_NAME != '' ? record.FILE_NAME : '--' }}</a>
                            <small>Added : {{record.DATE_ADDED}}</small>
                        </div>

                        <div class="pull-right">
                            <a *ngIf="record.MODAL_CLASS!='image'" target="_blank" href="{{record.LINK}}" class="btn-white {{record.MODAL_CLASS}}" style="border:0">
                                <img src="assets/images/download.PNG">
                            </a>
                            <a *ngIf="record.MODAL_CLASS=='image'" (click)="openAtt(record)" class="btn-white" style="border:0">
                                <img src="assets/images/download.PNG">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
                <div class="" style="overflow:auto;padding: 30px 0 15px 15px;">
                    <span class="tools pull-right">
                        <a (click)="prevRecords()"  class="btn" *ngIf="show_prev">Prev</a>
                        <a (click)="nextRecords()"  class="btn" *ngIf="show_next">Next &gt;&gt;</a>
                      </span>
                </div>
            </div>
        </div>
    </article>
</section>
