<section id="main-content">
    <div class="container" style="min-height:600px; width:70% !important">
        <div class="row" style="margin-top:120px;">
            <div class="col-md-12" style="padding:0;">
                <div id="ajax_view">
                    <div class="row">
                        <div class="col-md-8">
                            <app-walletdetails (openWalletStatement)="openWalletStatement()" [loading]="loading" [state]="state"></app-walletdetails>
                        </div>


                        <div class="col-md-3 ">

                            <section style="border-radius:10px" class="panel text-center hide" [ngClass]="{'greenb': state?.cu>0, 'blueb':  state?.cu<0}">
                                <div class="panel-body" style="padding: 63px 15px;">
                                    <div>
                                        <h3 style="font-size:34px">{{state?.LENDER_WALLET_BALANCE}}
                                          <span class="small" style="font-size: 44%;
                                          display: block;
                                          color: #fff;">Balance</span>
                                      </h3>
                                      <h3 style="font-size:34px">{{state?.LENDER_WALLET_BOOK_BALANCE}}
                                        <span class="small" style="font-size: 44%;
                                        display: block;
                                        color: #fff;">Book Balance</span>
                                    </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button (click)="back()" class="btn btn-white">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="panel-body text-center b_grey crd_theme">
                                <div class="text-center crd_top" style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 0">
                                  <p class="t_lh1"><img src="assets/images/naira_blue.PNG"></p>
                                </div>
                                <div style="margin-bottom: 25px">
                                    <p class="txt t_l2 t_lh1"><strong>{{state?.LENDER_WALLET_BALANCE|number:'.2-2'}}</strong></p>
                                    <p class="txt t_l4">Company Balance</p>
                                    <p class="txt t_l2 t_lh1">{{state?.LENDER_WALLET_BOOK_BALANCE|number:'.2-2'}}</p>
                                    <p>Book Balance</p>
                                </div>
                                
                                <a class="btn btn-white btn-full egded-box wd_btn" style="display: inline" (click)="back()" >Back</a>
                            </div>

                            <section class="box panel">
                                <div class="panel-body">              
                                    <ul class="list list_border">
                                        <li>
                                            <a class="txt_l4" [routerLink]="['/operations/customer_wallet']">Customer Wallet</a>
                                        </li>                      
                                        <li>
                                          <a class="txt_l4" href="javascript:;" (click)="overlayWithdrawal=true">Withdrawal</a>
                                        </li>
                                        <li>
                                          <a class="txt_l4" (click)="fundPlatformWallet=true">Fund</a>
                                        </li>
                                        <li>
                                          <a class="txt_l4" [routerLink]="['/operations/banks']">Bank Accounts</a>
                                        </li>                                     
                                    </ul>
                                </div>
                            </section>


                        </div>
                        <div class="col-md-1">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayOpen">
    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:1000px;min-height:500px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <!-- <app-payment [record_type]="record_type" [schedule_type]="schedule_type" [disburse]="disburse" [security_question]="state?.security_question.QUESTION"></app-payment> -->
        <app-ledger (dateChanged)="handledateChanged($event)" [ledger]="ledger" [transactions]="transactions" [account_details]="account_details"></app-ledger>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayWithdrawal">
    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="overlayWithdrawal=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:400px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
        <!-- <app-wallettransfer [otpError]="otpError" [api_message]="api_message" [security_question]="security_question" [paymentConfirmed]="paymentConfirmed" [paymentHasBeenProcessed]="paymentHasBeenProcessed" [makingFinalPayment]="makingFinalPayment" [loading]="loading" [banks]="banks" (doWalletTransfer)="doWalletTransfer($event)" [ledger]="ledger" [account_details]="account_details"></app-wallettransfer> -->
        <app-withdrawal (confirmWithdrawal)="confirmWithdrawal($event)" [fundingQueued]="fundingQueued" [withdrawalDone]='withdrawalDone' (doInitiateFuning)="doInitiateWithdrawal($event)" [otpMessage]="otpMessage" [lender_banks]="lender_banks" [otpSent]="otpSent" [otpError]="otpError" [legal_name]="currentUser?.legal_name" [icon]="currentUser?.icon" [wallet]="ledger"></app-withdrawal>
    </div>
</div>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="fundPlatformWallet">
    <div class="col-md-12">
        <a class="dismiss cancel_treat_ close" role="button" (click)="fundPlatformWallet=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class=" overpanel-content container" role="document" style="text-align:left;width:800px; overflow:hidden; border-radius: 5px;">
        <h3>Ebills ID : MAFC</h3> 
        <section class="panel">
            <header class="panel-heading">How to fund your wallet through Ebills</header>
            <div class="panel-body">
                <ul class="ebills_instruction">
                    <li>Log in to your internet banking portal1</li>
                    <li>Select the NIBBSS Ebills payment option, you will be taking to the EBills payment portal</li>
                    <li>Pick Flutterwave from the Billers List</li>
                    <li>Enter the EBills ID above followed by a dash and the amount you want to fund(no spaces)</li>
                    <li>To fund five hundred thousand for example use <strong>MAFC-500000</strong></li>
                    <li>Complete the payment by clicking the submit button on the EBills and Internet Banking pages</li>
                </ul>
            </div>
         </section>
    </div>
</div>

