<form #f="ngForm" novalidate="">
 <div class="form-group row"> 
 	<label class="control-label col-md-6">Loan type</label>
 	<div class="col-md-6">
 		<select  class="form-control" name="LOAN_PURPOSE" (ngModelChange)="changeLoanProducts($event)" [(ngModel)]="model.LOAN_PURPOSE_CHANGE">
 		<option *ngFor="let purpose of loan_purpose" [value]="purpose.value">  
 			{{purpose.display}}
 		</option>
 		</select>
 	</div>
 </div>
<div class="form-group row">
                                      <label class="control-label col-md-6">Loan Product</label>
                                       <div class="col-md-6">
                                         <select  class="form-control" name="LOAN_PRODUCT_ID_CHANGE" [(ngModel)]="model.LOAN_PRODUCT_ID_CHANGE">
                                <option *ngFor="let product of loan_products" [value]="product.LOAN_PRODUCT_ID">  
                                {{product.LOAN_TITLE}}
                                </option>
                            </select> 
                                        </div>
                                   </div>
<div class="row">
                     <div class="col-md-12">
                     <hr>
                        <button [disabled]="loading" (click)="changeALoanProduct()" class="btn btn-white btn-blue btn-block" style="padding: 6px 12px;">Change Loan Product</button>
                        
                      </div>
                 </div> 
</form>
