.external {
    min-height:850px !important;
    width:70% !important;
}
.internal {
    width:100% !important;
    margin: 0px !important;
}
.mtop {
    margin-top: 130px;
}
.pad0 {
    padding:0px;
}
.pright {
    padding-right:7.5px !important;
}