<div *ngIf="!preloading">
  <section class="panel">
      <div class="panel-body">
          <article class="media">
              <div class="pull-left thumb">
                  <a>
                  <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507989748/{{cust['FILE_NAME'] == null ? 'avatar-mini.jpg' : cust['FILE_NAME']}}" class="img-circle" style="width:70px; height:70px">
                  </a>
              </div>
              <div class="pull-left" style="margin-top: 5px">
                <h4 class="no-margin blue_c" style="color: blue; word-wrap:break-word; margin-bottom: 10px">{{cust["LEGAL_NAME"]}}</h4>
                <!-- <p class="no-margin">Date Started: {{cust["DATE_ADDED"]}}</p>
                <p class="no-margin">Manged By: {{cust["ACCOUNT_OFFICER_NAME"]}}</p> -->
                <p class="no-margin t_lh1" >{{cust["CUSTOMER_TYPE_"]}}</p> 
                <p class="no-margin t_lh1">Individual</p> 
                <p *ngIf="cust?.IS_SUSPENDED=='1'" class="no-margin t_lh1">Suspended till {{cust?.SUSPENDED_TILL}}</p> 
              </div>
              <a [routerLink]="['/customer/',userType,userId,'settings']" class="pull-right btn btn-white wd_btn btn-orange" style="border-radius: 0; color: #fff">Settings</a>
              <button (click)="deleteCustomer(userId)" class="pull-right btn btn-white" style="border-radius: 0">Delete</button>
              <button *ngIf="showresendemail && customer?.CUSTOMER_TYPE=='1'" (click)="resendWelcomeMail(userId)" class="pull-right btn btn-white" style="border-radius: 0;">Resend Welcome Mail</button>
          </article>

          <div>
            <ul class="nav nav_" style="margin-top: 35px">
               <li><a [routerLink]="['/customer/',userType,userId]">Summary</a></li>
               <li *ngIf="customer?.CUSTOMER_TYPE=='1'"><a [routerLink]="['/customer/',userType,userId,'loans']">Loans</a></li>
               <li *ngIf="enable_peer=='1'&&customer?.CUSTOMER_TYPE=='1'"><a  [routerLink]="['/customer/',userType,userId,'investments']">Investments</a></li>
               <li><a [routerLink]="['/customer/',userType,userId,'schedule']">Schedule</a></li>
               <li *ngIf="customer?.CUSTOMER_TYPE=='2'"><a [routerLink]="['/customer/',userType,userId,'people']">People</a></li>
               <li *ngIf="customer?.CUSTOMER_TYPE=='2'"><a [routerLink]="['/customer/',userType,userId,'interest']">Interest Settings</a></li>
               <li *ngIf="customer?.CUSTOMER_TYPE=='2'"><a [routerLink]="['/customer/',userType,userId,'users']">Users</a></li>
            </ul>
          </div>
      </div>
  </section>
 
  <div class="row">
      <div class="col-md-8 hover_toggle" style="padding-right: 0">

          <div class="panel panel-body box hover_hide" style="position: relative; padding-bottom: 155px">

      			<article class="media pad0" style="height: 40px; overflow: hidden;">
              <div class="pull-left thumb">
                  <img src="assets/images/profile2.PNG" width="35px">
              </div>
              <div class="pull-left">
                <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">Profile Info</p>
                <p class="txt t_dull">Primary Contact Info</p>
              </div>
          	</article>

          	<div style="margin-top: 119px"></div>
  			            
	          <ul class="list list_border shalamar" style="position: absolute; bottom: 0; right: 15px; width: 53%">
	              <li>
	                <a class="txt_l4"><span>M:</span> +234 {{cust["PHONE"]}}</a>
	              </li>
	              <li>
	                <a class="txt_l4"><span>E:</span> {{cust["EMAIL"]}}</a>
	              </li>
	              <li>
	                <a class="txt_l4"><span>A:</span> {{cust["HOME_ADDRESS"]}}</a>
	              </li>
	          </ul>
          </div>

          <div class="panel panel-body box hover_show" style="position: relative;">

            <div style="margin-top: 45px"></div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507989748/avatar-mini.jpg" class="img-circle" style="width:64px; height:auto">
                    <ul class="list list_border" id="no-padding-right">
                        <li>
                          <p class="txt t_l3">View Profile Data</p>
                        </li>
                        <li>
                          <a class="txt_l4 t_dull">Secure Access</a>
                        </li>
                        <li>
                          <a class="txt_l4 t_dull">Secure Access</a>
                        </li>
                        <li>
                          <a [routerLink]="['/customer/update/',userType,userId]" class="pull-right btn btn-orange wd_btn" style="border-radius: 0">Update</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>


      </div>
      <div class="col-md-4" style="padding-left: 5px">

      		<div class="add_butt">

    	        <section class="panel box hover_toggle">
                <div class="panel-body b_grey hover_hide">
                    <article class="media pad0" style="height: 40px; overflow: hidden;">
                        <div class="pull-left thumb">
                            <img src="assets/images/file3.PNG" width="35px">
                        </div>
                        <div class="pull-left">
                          <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">N{{cust_meta.loans ? cust_meta.loans : 0}}</p>
                          <p class="txt t_dull">Loans</p>
                        </div>
                    </article>
                </div>
      				  <div class="panel-body b_grey hover_show">
      			       <a [routerLink]="['/customer/',userType,userId,'loans']" class="btn btn-white btn-block egded-box" style="height: 40px; line-height: 25px">View Loans</a>
      			    </div>
    			    </section>

    			    <section class="panel box hover_toggle">
      				  <div class="panel-body b_grey hover_hide">
      		          <article class="media pad0" style="height: 40px; overflow: hidden;"  *ngIf="enable_peer=='1'">
      		              <div class="pull-left thumb">
      		                  <img src="assets/images/naira.PNG" width="40px">
      		              </div>
      		              <div class="pull-left">
      		                <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">N{{cust_meta.funding ? cust_meta.funding  : 0}}</p>
      		                <p class="txt t_dull">Investments</p>
      		              </div>
      		          </article>
      			    </div>
                <div class="panel-body b_grey hover_show" *ngIf="enable_peer=='1'">
                   <a [routerLink]="['/customer/',userType,userId,'investments']" class="btn btn-white btn-block egded-box" style="height: 40px; line-height: 25px">View Investments</a>
                </div>
    	    	  </section>

    	    	  <section class="panel box hover_toggle">
                <div class="panel-body b_grey hover_hide">
                    <article class="media pad0" style="height: 40px; overflow: hidden;">
                        <div class="pull-left thumb">
                          <a style="font-size: 31px;vertical-align: top;"><i class="fa fa-credit-card"></i></a>
                        </div>
                        <div class="pull-left">
                          <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">0 Accounts</p>
                          <p class="txt t_dull">or Cards</p>
                        </div>
                    </article>
                </div>
    				    <div class="panel-body b_grey hover_show">
      			       <a [routerLink]="['/customer/',userType,userId,'bank']" class="btn btn-white btn-block egded-box" style="height: 40px; line-height: 25px">View Accounts</a>
      			    </div>
      			  </section>

    	    	  <section class="panel box hover_toggle">
        				<div class="panel-body b_grey hover_hide">
        		          <article class="media pad0" style="height: 40px; overflow: hidden;">
        		              <div class="pull-left thumb">
        		                  <img src="assets/images/fb.PNG" width="37px">
        		              </div>
        		              <div class="pull-left">
        		                <p class="txt t_l3 t_lh1" style="word-wrap:break-word;">Social</p>
        		                <p class="txt t_dull">{{cust_meta.added_social}}</p>
        		              </div>
        		          </article>
        			    </div>
                  <div class="panel-body b_grey hover_show">
                     <a class="btn btn-white btn-block egded-box" [routerLink]="['/customer/',userType,userId,'social']" style="height: 40px; line-height: 25px">View Social</a>
                  </div>
        	    </section>

	    	  </div>

      </div>
  </div>
</div> 
