
<section class="panel ">
  <div class="panel-body" >
      <div class="row">
          <div class="col-md-4 text-center">
            <div class="panel-icon offer_made" style="padding:0;">
              <img src="assets/attachments/avatar-mini.jpg" style="border-radius: 50%;width:94px;">
            </div>
            <p class="analysis-name">Social Analytics</p>
          </div>
          <div class="col-md-4 text-center">
              <div class="panel-icon offer_accepted">
                  <p class="amount">
                    <a><i class="fa fa-pencil"></i></a>
                  </p>
              </div> 
              <p class="analysis-name">Details</p>
          </div>
          <div class="col-md-4 text-center">
              <div class="panel-icon offer_funded">
                  <p class="amount"> 53%
                  </p>
              </div>
              <p class="analysis-name">CCscore</p>
          </div>
      </div>
  </div>
</section>
<div *ngIf ="type == 'linkedln'">
  <section class="panel">
    <div class="panel-body" >
      <div style="margin: 0 auto;width:475px;">
        <div class="row">
          <div class="col-md-9">
            <div class="col-md-4 document-square">
              <div class="img-cont">
                <img src="assets/img/icons/Linkedin-icon.png">
              </div>
              <p>Linkedln</p>
              <p style="font-size:25px;margin-top:10px;"> <b>{{socialAnalysis?.analytics.final_score}}%</b></p>
              
            </div>
          </div>
          <div class="col-md-3" >
            <div class="act_btns">
              <a [routerLink]="['/loan/'+request+'/customer-social-analysis']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="panel">
    <div class="panel-body" >
      <div class="row">
        <div class="col-md-12">
            <ul class="list list_border sm" *ngIf="availability=='0'">
              <li>
                <span class="t_cool text-center" style="font-size:22px;">No linkedln profile</span>
              </li>
            </ul>
          <ul class="list list_border sm" *ngIf="availability=='1'">
            <li>
              <span class="t_cool" style="font-size:24px;">Components of Linkedln</span>
            </li>
            <li class="text-left hover_toggle">
                <span> Profile </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="socialAnalysis?.analytics.profile.total_score < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': socialAnalysis?.analytics.profile.total_score +'%' }">
                  </div>
                </div>
                <a (click)="requestSocialAnalysisLkdProfile()" class=" btn btn-xs btn-white pull-right open_button hover_show edged_box">
                  <i class="fa fa-pencil"></i> view
                </a>
            </li>

            <li class="text-left hover_toggle">
                <span>Work </span>
                <div class="pull-right progress progress-xs hover_hide">
                  <div [ngClass]="socialAnalysis?.analytics.company.total_score < 50? 'progress-bar progress-bar-danger':'progress-bar progress-bar-success'" role="progressbar" 
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': socialAnalysis?.analytics.company.total_score +'%' }">
                  </div>
                </div>
                <a (click)="requestSocialAnalysisLkdWork()" class=" btn btn-xs btn-white pull-right open_button hover_show edged_box">
                  <i class="fa fa-pencil"></i> view
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<div *ngIf ="type == 'facebook'">
  <section class="panel">
    <div class="panel-body" >
      <div style="margin: 0 auto;width:475px;">
        <div class="row">
          <div class="col-md-9">
            <div class="col-md-4 document-square">
              <div class="img-cont">
                <img src="assets/img/icons/facebook.png">
              </div>
              <p>Facebook</p>
              <p style="font-size:25px;margin-top:10px;"> <b>10%</b></p>
              
            </div>
          </div>
          <div class="col-md-3" >
            <div class="act_btns">
              <a [routerLink]="['/loan/'+request+'/customer-social-analysis']" class="btn btn-white btn-block edged_box t_cool" style="border-color: rgba(248, 73, 3, 0.849);background-color: rgba(248, 73, 3, 0.849);color:white;">
                Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="panel">
    <div class="panel-body" >
      <div class="row">
        <div class="col-md-12">
          <ul class="list list_border sm">
            <li>
              <span class="t_cool" style="font-size:24px;">Components of Facebook</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
