<section class="panel">
    <header class="panel-heading" *ngIf="schedule_type==true && showSwitch">
      Investor Schedule
      <span class="tools pull-right">
        <ui-switch (ngModelChange)="onChange($event)" [(ngModel)]="schedule_type"></ui-switch>
      </span>
    </header>
    <header class="panel-heading" *ngIf="schedule_type==false">
      Borrower Schedule  
      <button class="btn btn-xs btn-white pull-right" (click)="exporting=!exporting">Export</button>
      <span class="tools pull-right">
        
        <ui-switch  *ngIf="showSwitch" (ngModelChange)="onChange($event)" [(ngModel)]="schedule_type"></ui-switch>
      </span>
    </header>
    <div class="panel-body" *ngIf="exporting" >
        <div class="form-inline">
             
            <div class="form-group">
                <label class="">Date Range</label> 
            </div>
            <div class="input-group">
                <input type="text" name="PIETPDATE" class="form-control" [(ngModel)]="pie_perf.PIETPDATE" ngui-datetime-picker date-only="true" />
                <span class="input-group-addon">To</span>
                <input type="text" name="PIETPDATE_" class="form-control" [(ngModel)]="pie_perf.PIETPDATE_" ngui-datetime-picker date-only="true"
                />
            </div>
            
            <button (click)="downloadRepayments()" [disabled]="pie_perf.PIETPDATE==''||pie_perf.PIETPDATE_==''" class="btn btn-primary btn-tp edged_box">Submit <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
        </div>
    </div>
    <div class="panel-body" *ngIf="record_type=='1'&&schedule_type==false">
      <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
    </div>
    <div class="panel-body" *ngIf="record_type=='2'&&schedule_type==false  && showSwitch" >
      <angular2-fullcalendar [options]="calendarOptions_"></angular2-fullcalendar>
    </div>
    <div class="panel-body" *ngIf="record_type=='1'&&schedule_type==true  && showSwitch">
      <angular2-fullcalendar [options]="calendarOptions__"></angular2-fullcalendar>
    </div>
    <div class="panel-body" *ngIf="record_type=='2'&&schedule_type==true  && showSwitch">
      <angular2-fullcalendar [options]="calendarOptions___"></angular2-fullcalendar>
    </div>
  </section>
