.user-img-blk {
    background: #6E6F71;
    padding: 20px 0;
    width: 80px;
    color: #fff;
    height: 80px;
}
.user-img-blk span{
  font-size: 32px;
}
.post {
	background:transparent;
	border:0;
	padding:0;
}
.img-holder {
    float: left;
    width: 15%;
    margin-right: 25px;
	margin-top:15px;
}
.content-holder {
    float: left;
    background: #fff;
    padding: 0px 15px 0;
    border: 1px solid #d9d9d9;
    width: 100%;
}
.commentList {
	padding-bottom:5px !important;
	padding-top:5px !important;
}
.mtop5 {
	margin-top:5px;
}
.nob {
	border:0 !important
}
.btd {
	border-top:0 !important;
	border-bottom: 0 !important;
}