<section class="panel panel" style="margin-bottom: 5px">
  <div class="panel-body">
      <article class="media">
          <div class="pull-left thumb">
              <img src="assets/images/file.PNG">
          </div>
          <div class="pull-right">
            <h5>Code : <span style="color:orange;">{{result?.referral_code.REFERRAL_CODE}}</span></h5>
          </div>
          <div class="pull-left" style="margin-top: 5px">
              <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Referrals</h4>
          </div>
      </article>
  </div>
</section>
<div class="row">
    <div class="col-md-12">
        <section class="panel" style="background:none">
            <!-- Empty State -->
            <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="result?.count== '0'">
                <div class="text-center" style="min-height:400px;padding-top:120px;background:#fff; text-align:center">
                    <a href="javascript:;" style="font-size:40px"><i class="fa fa-meh-o"></i></a>
                    <h3>No Referrals found</h3>
                        
                </div>
            </div>
            <div class="panel-body all_cus" style="min-height:370px; padding:0px" *ngIf="result?.count!= '0'">
                    <article *ngFor="let customer of result?.data" id="{{customer?.PEOPLE_CUSTOMERS_ID+'_item'}}" class="media" style="margin: 5px 0px;background: #fff;padding: 5px;cursor:pointer; margin-bottom:0px">
                        <div class="pull-left thumb p-thumb">
                            <a >
                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{customer?.FILE_NAME | imagenotfound}}?q=auto" style="width:50px; height:50px">
                            </a>
                        </div>

                        <div [attr.data-target]="customer?.PEOPLE_CUSTOMERS_ID+'_preview_pane'" [attr.data-parent]="customer?.PEOPLE_CUSTOMERS_ID+'_item'" style="position: relative;">
                            <a (click)="showCustomerPreview($event, customer.PEOPLE_CUSTOMERS_ID)"class=" btn btn-white pull-right open_button hover_vis edged_box wd_btn"><i class="fa fa-pencil"></i> view</a>
                            <a class=" btn btn-danger pull-right close_button hide" data-action="close"><i class="fa fa-pencil"></i> close</a>

                        </div>


                        <div class="media-body">
                            <a>
                                <p class="">{{customer.LEGAL_NAME}}</p>
                            </a>
                            <!-- Preview of the content when clicked -->
                            <div>
                                <div *ngIf="openedTab == customer.PEOPLE_CUSTOMERS_ID" class="animated slideInDown">
                                    <div class="panel-body rBox">
                                        <div style="width: 100%;max-width: 450px;margin: 20px auto;">
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                <div class="form-group" style="margin-bottom: 3px">
                                                    <span class="pull-left text-primary">Contact</span>
                                                    <span class="pull-right">{{customer.EMAIL}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="pull-right">{{customer.PHONE}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <span class="pull-left text-primary">Total Loan</span>
                                                        <span class="pull-right">{{customer.LOANS ? customer.LOANS : '0'}}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a [routerLink]="['/customer/', customer.PEOPLE_CUSTOMERS_ID]" class="pull-right btn-white wd_btn btn-orange btn-block text-center" style="padding: 6px 12px;color:#fff;">View Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
        </section>
    </div>
</div>

