<section class="panel">
    <header class="panel-heading">New Account </header>
     
    <div class="panel-body">
        <form [formGroup]="newAccountForm" (ngSubmit)="saveLenderAccount(newAccountForm.value)">
        <div class="row">
        <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!newAccountForm.controls['GL_CATEGORY'].valid && newAccountForm.controls['GL_CATEGORY'].touched}">
                  <label class="control-label">GL Category</label>
                  <select  [formControl]="newAccountForm.controls['GL_CATEGORY']" class="form-control" id="GL_CATEGORY">
                                  <option value="0"></option>
                                                                              <option *ngFor="let type of types" [value]="type.value">{{type.display}}</option>
                                                                                  
                                                                            </select>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':!newAccountForm.controls['GL_PARENT'].valid && newAccountForm.controls['GL_PARENT'].touched}">
                    <label class="control-label">Parent GL</label>
                    <select [formControl]="newAccountForm.controls['GL_PARENT']" class="form-control" id="GL_PARENT" name="GL_PARENT" tabindex="-1" aria-hidden="true">
                      <option value="0"></option>
                      <option *ngFor="let parent of parents" [value]="parent.ACCOUNT_ID">{{parent.GL_NAME}}</option>                            
                                                </select>
                </div>
              
            </div>
         
            
         </div>
         <div class="row">
         <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error':!newAccountForm.controls['GL_NAME'].valid && newAccountForm.controls['GL_NAME'].touched}">
                <label class="control-label">GL Name</label>
                <input [formControl]="newAccountForm.controls['GL_NAME']" class="form-control" id="GL_NAME" name="GL_NAME" value="">
            </div>
              
            </div>
            <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':!newAccountForm.controls['GL_TYPE'].valid && newAccountForm.controls['GL_TYPE'].touched}">
                    <label class="control-label">GL Type</label>
                    <select [formControl]="newAccountForm.controls['GL_TYPE']" class="form-control" id="GL_TYPE">
                                   <option value="0"></option>
                                   
                                   <option *ngFor="let cat of categories" [value]="cat.value">{{cat.display}}</option>
                                       
                                 </select>
                </div>
                
              </div>
            
         </div>
      
                          <div class="row" >
                              <div class="col-md-6">
                                &nbsp;
                              </div>
                              <div class="col-md-6">
                                  <button class="btn btn-block btn-white" [disabled]="!newAccountForm.valid" type="submit">Add Account
                                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                              </div>
                            </div>
         </form>
    </div>
  </section>