<app-main-navigation></app-main-navigation>
<section id="main-content">
	<div class="container" style="min-height:850px;width:70%;">
        <div class="row" style="padding-top:50px">
            <div class="col-md-12">
                <ul class="breadcrumb mbot0" style="background:none !important; padding-left:0px">
                    <li><a href="http://app.creditclan.com/creditclan_demo/summary">Jude Nnadozie</a></li>
                    <li><a href="#customers">Customers</a></li>
                    <li><a href="#customers/view/6761">Joshua Audu</a></li>
                </ul>
            </div>
        </div>                    
        <div class="row">
            
            <div class="col-md-9" style="padding-right: 5px">
                <section class="">
                    <!-- <div class="tbs">
                        <div class="row" style="margin-top:0px;">
                            <div class="col-md-12">
                                <div class="l_f">
                                    <div class="inline-select-wrapper">
                                        <div class="inline-select">
                                            <a class="active tbda" data-act="1" data-hsh="tbd_profile" [routerLink]="['/customer/',userType,userId]">Profile</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper">
                                        <div class="inline-select">
                                            <a [routerLink]="['/customer/',userType,userId,'loans']" class=" tbda" data-act="3" data-hsh="tbd_loans" data-id="L0Tjio01fPrpcgWZ1KVjt3fS6MrxfBc93lhtGJozELQ3Srx+jgSVVZj8jOBepgzwUM0t8O6ymTWWJaHG3Pv1MQ==" data-bid="AYBrVa9Z0o740UWSGDKNt8MZhzkI545EV3ZdUZqcF7xR1IbNpWGgCtE1vhYuTNrFKHZ9+6q2SbuWfiMg1S/mIw==">Loans</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper">
                                        <div class="inline-select">
                                            <a [routerLink]="['/customer/',userType,userId,'investments']" class="tbda" data-act="2" data-hsh="tbd_investments" data-id="ZmFJKb37INF5+zF/NMA72Q07f4PdmTqq8rdN5GJuvEz9+aDypi1B4KY2QB+TU9M2R/P5IgvGjtnSlyKG34kd4w==">Investments</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper hide">
                                        <div class="inline-select">
                                            <a href="javascript:;" class=" tbda" data-act="4" data-hsh="tbd_repayments" data-id="ha2jxqV13uTkF/an0Fp2iYvngN4/eJzC/Gi5iHiab84URw/zJhhFaQHGrXrstWF8XI14ngvxFS4lzF7p/NAukA==" data-bid="QSlsdQPxMqZ48vkoPkEyztUJi3rk1zgM+COgbCjP59sBqfZ2Ix0w1TKWY9jqv4nJDHFFGnoboFjAcGLMV0GBwg==">Repayments</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper hide">
                                        <div class="inline-select">
                                            <a href="javascript:;" class=" tbda" data-act="5" data-hsh="tbd_payments" data-id="QwKcNR+kKhPNbhK8JoDCNqe0NgVDX7fP20TIBU88mhwh4LvOwyEiRc5gXSmWiGA+vJ4mFlpKmNIO0Cls4yKyIA==" data-bid="uxd9zDOskWa5IW05hV8nAJ7ZcJaY752ZDKMRdMlk3/75sueoRwbOtomgK/4opy3X3w2E5nqaMQs9w3MKy8lacA==">Payables</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper hide">
                                        <div class="inline-select">
                                            <a href="javascript:;" class=" tbda" data-act="6" data-hsh="tbd_email" data-id="ZPruTp0JMToDudsxMRnELvqYOSdfk/TQXGpj+V9WHCXMNcurr9+gC2v4AgKEPpB4kkU4cEdjI/rZE33h1DNIFQ==" data-bid="oyaF3iC8UDxLfD6lquPJsBfiHRZMuBoruuxoIJOV8tNJ77Ir8endiX37CAirYYUcouv+RH7AGlOZjmhL+rupaA==">Send Email</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper hide">
                                        <div class="inline-select">
                                            <a href="javascript:;" class=" tbda" data-act="7" data-hsh="tbd_email" data-id="GtCK6oyWxxahPvf4JNq7t5YKHxJXcTJIhd5djyUHXEArZz0ZgMHvU5bBPnrRr96k3iIog7ATagz80O3oS++bZw==" data-bid="ZG+5xbIanDG7Op05y75CCf6ZgHVpqZNcs4ZaoQMSea5xZppxZ3CCaEzAsEeZO/zj1T/Rc9MB1HgANa21auiDdg==">Account Officer</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper">
                                        <div class="inline-select">
                                            <a [routerLink]="['/customer/',userType,userId,'settings']" class=" tbda" data-act="8" data-hsh="tbd_casa" data-id="ooMctX7fXSJZd7i87Nwe6neT2pv5dViKbRMnSGM5Ift5hsSdCZkqv3/d6wwS2G22LzOd4eun1qiNiZ1k/qRTEg==" data-bid="lUS0nP9j4bQRNYmEDXLMieohnS0PPpB6pn9SUhTWXgdQ29wWHjx7cb1b+rmQxF8KuxoPfqQuKrZvfQ4Y2MDGTQ==">Account Settings</a>
                                        </div>
                                    </div>
                                    <div class="inline-select-wrapper">
                                        <div class="inline-select">
                                            <a href="javascript:;" class="tbda" data-id="zcM7AY0prllWf6o2n9OuUitvuM/pym/CHJZj2PJ7utpCRNtlZpqTkI9ND+nUuLm77grDpDOfDO3SFCTlNXC0eA==" data-customer_id="6761" data-act="reqcred" data-hsh="tbd_reqcred">KYC</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="tbds">
                        <!-- <div class="tbd_investments tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_loans tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_repayments tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_payments tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_email tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_casa tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqdoc tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqatt tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqcred tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqtrkr tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqauditlog tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqmsg tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqfin tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_reqmessage tbd">
                            <div id="ajax_view">
                            </div>
                        </div>
                        <div class="tbd_new_contract tbd">
                            <div id="ajax_view">
                            </div>
                        </div> -->
                        <div class="tbd_profile tbd active">
                          <router-outlet></router-outlet>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3" style="padding-left:0px">

                <div class="panel-body text-center b_grey" style="padding-bottom:33px; height: 238px; border: 1px solid #E6E7E8; margin-bottom: 5px">
                    <div class="text-center" style="padding:15px 0px; margin-top: 60px; margin-bottom: 30px">
                      <p class="txt t_l2 t_lh1 t_hot">N100.2K</p>
                      <p class="txt t_dull">Wallet Balance</p>
                    </div>
                    <a class="btn btn-white btn-full egded-box" style="display: inline">View History</a>
                 </div>

                 <section class="panel" style="border: 1px solid #E6E7E8">
                  <div class="panel-body" style="padding: 10px 25px">              
                      <ul class="list list_border">
                          <li>
                            <a [routerLink]="['/customer/',userType,userId,'financials']" class="txt_l4">Financials</a>
                          </li>
                          <li>
                            <a [routerLink]="['/customer/',userType,userId,'verifications']"  class="txt_l4">Verification</a>
                          </li>
                          <li>
                            <a class="txt_l4">Guarantors</a>
                          </li>
                          <li>
                            <a [routerLink]="['/customer/',userType,userId,'attachments']"  class="txt_l4">Messages</a>
                          </li>
                          <li>
                            <a class="txt_l4">Schedule</a>
                          </li>
                      </ul>
                  </div>
                </section>


                <!-- <section class="panel">
                    <div class="panel-heading">
                        Create Request
                    </div>
                    <div class="panel-body" style="padding:0">
                        <div class="list-group" style="margin-bottom: 0px">
                            <a class="list-group-item tbda text-success" href="javascript:;" style="border-radius: 0!important;border-left:0!important;border-right:0!important"> 
                            <i class="fa fa-plus"></i> Loans

                            </a>
                            <a class="list-group-item  text-success btn-new-investment" data-id="A8qR/x63/b1uK0uocqlVgRhBjpROD83PQKKoaHBceBN0HrLNpwGEqzBxZGCgEK8jhxoinktoDFReHcxt5W9Jkw==" data-hsh="tbd_new_contract" href="javascript:;" style="border-radius: 0!important;border-left:0!important;border-right:0!important"><i class="fa fa-plus"></i> Investments</a>
                        </div>
                    </div>
                </section> -->


                <div class="summ_area hide animated">
                </div>
                <section class="panel hide">
                    <div class="list-group">
                        <a class="list-group-item" href="#customers/debit/2147483648">Debit Account</a>
                        <a class="list-group-item" href="#customers/credit/2147483648">Credit Account</a>
                        <a class="list-group-item" href="#customers/close/2147483648">Close Account</a>
                    </div>
                </section>
                <!-- <section class="panel">
                    <div class="list-group">
                        <a class="list-group-item tbda" [routerLink]="['/customer/',userType,userId,'attachments']">Attachments</a>
                        <a class="list-group-item tbda" [routerLink]="['/customer/',userType,userId,'messages']">Messages</a>
                        <a class="list-group-item tbda" [routerLink]="['/customer/',userType,userId,'financials']">Financials</a>
                        <a class="list-group-item tbda" [routerLink]="['/customer/',userType,userId,'verifications']">Verifications</a>
                        <a id="p_tracker" class="list-group-item tbda" [routerLink]="['/customer/',userType,userId,'guarantors']">Guarantors</a>
                    </div>
                </section> -->
            </div>
        </div>
	</div>
</section>