.greenb {
    background: #569840 !important;
    color: #fff !important;
}
.blueb {
    background: #618cae !important;
    color: #fff !important;
}
.brownb {
    background: #6A1544 !important;
    color: #fff !important;
}
.redb {
    background: rgb(211, 53, 18) !important;
    color: #fff !important;
}
article .media-body p {
    margin: 0px !important;
}