<div class="overlay_ app_overlay animated" style="overflow:auto;background:#fdfdfd;overflow-y:hidden">
    <div class="row" style="background-color: #fbfbfb;">
        <div class="col-md-12">
            <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
     
    <div class=" overpanel-content " style="    padding-top: 0px !important;" role="document">
        <div class="container" style="text-align: left; width: 700px;height:700px;margin:0px auto;">

        
        <section class="panel">
            <div class="panel-body" style="padding:0px">
              <!-- <div style="margin:20px auto; width:75%" *ngIf="choosePayment && !chosenPayment">
                <div class="row">
                  <div class="col-md-6">
                    <section (click)="paywithwallet()" class="panel text-center" style="border:1px solid #70c041; border-radius:15px; cursor:pointer">
                      <div class="panel-body">
                        <h4>Wallet</h4>
                        <p style="margin:0px 0px 10px 0px">Debit Wallet</p>
                        <img src="assets/img/wallet.png" style="width: 115px;
                        border: 3px solid #70c041;
                        margin: 15px 0px;
                        border-radius: 44px;
                        padding: 15px; margin-bottom:90px"/>
                      </div>
                    </section>
                  </div>
                  <div class="col-md-6">
                      <section (click)="paywithbank()" class="panel text-center" style="border:1px solid #53a8f9; border-radius:15px;cursor:pointer">
                          <div class="panel-body">
                            <h4>Bank</h4>
                            <p style="margin:0px 0px 10px 0px">Debit Account</p>
                            <img src="assets/img/bank.png" style="width: 115px;
                            border: 3px solid #53a8f9;
                            margin: 15px 0px;
                            border-radius: 44px;
                            padding: 15px; margin-bottom:90px"/>
                          </div>
                        </section>
                  </div>
                </div>
              </div> -->
              <!-- <div style="margin:20px auto; width:75%" *ngIf="choosePayment && chosenPayment">
                  <div *ngIf="loading" class="text-center">
                    <a><i class="fa fa-spinner fa-spin"></i></a>
                  </div>
                  <div class="row" *ngIf="payment_status?.status=='1'&&!loading">
                    <div class="col-md-12">
                      <section class="panel text-center">
                        <div class="panel-body">
                            <img src="assets/img/check.png" style="width: 170px;margin: 15px 0px;padding: 15px;"/>
                          <h4>{{payment_status?.AMOUNT}}</h4>
                          <p style="margin:0px 0px 10px 0px">Payment Received</p>
                          <a (click)="backtoloansummary()" class="btn btn-white btn-block">Back</a>
                        </div>
                      </section>
                    </div>
                    </div>
                    <div class="row" *ngIf="payment_status?.status=='0'&&!loading">
                    <div class="col-md-12">
                        <section class="panel text-center">
                            <div class="panel-body">
                                <img src="assets/img/cancel.png" style="width: 170px;margin: 15px 0px;padding: 15px;"/>
                               
                              <p style="margin:0px 0px 10px 0px">Payment Not Received</p>
                              <a (click)="backtoloansummary()" class="btn btn-white btn-block">Back</a>
                            </div>
                          </section>
                    </div>
                  </div>
                </div> -->
              <div style="margin:20px auto; width:75%" *ngIf="current_step=='done'">
                  <div *ngIf="result?.status==false" class="text-center">
                          <h4 class="text-center error">Error </h4>
          
                          <div style="width: 120px;margin:20px auto;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" x="0px" y="0px"><path d="M50,8A42,42,0,1,1,8,50,42,42,0,0,1,50,8m0-3A45,45,0,1,0,95,50,45,45,0,0,0,50,5Z"></path><path d="M47.08,46.44q-.79-4-1.18-6.42t-.51-3.54q-.11-1.15-.11-2a4.3,4.3,0,0,1,1.29-3.25,5.36,5.36,0,0,1,6.84,0,4.3,4.3,0,0,1,1.29,3.25q0,.84-.11,2T54.1,40q-.39,2.38-1.18,6.42T50.79,57.1H49.21Q47.87,50.48,47.08,46.44Zm-.34,15.88a4.6,4.6,0,0,1,7.85,3.25,4.16,4.16,0,0,1-1.35,3.17,4.82,4.82,0,0,1-6.51,0,4.16,4.16,0,0,1-1.35-3.17A4.43,4.43,0,0,1,46.75,62.31Z"></path></svg>
                          </div>
                          
                  
                          <p class="text-center">
                            <small>{{result?.data.message}}</small>
                          </p>
                  </div>
                  <div *ngIf="result?.status==true" class="text-center">
                      <section class="panel bround">
                          <div class="panel-body text-center">
                              <a style="margin:10px 0px">
                                  <img style="width:100px" src="assets/img/check.png">
                              </a>
                              <div style="margin:40px 0px">
          
                                  <h3 style="margin-top:0px">Request Succesful</h3>
                              </div>
                         
                          </div>
                      </section>
              </div>
              </div>
              <div style="margin:20px auto; width:75%" *ngIf="current_step=='setup'">
                  <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                      <div class="form-group">
                        <span class="pull-left text-primary">Rollback Payment</span>
                        <span class="pull-right"> 
                          <div class="checkbox">
                            <label>
                              {{trans?.CREDIT|number:'.2-2'}}
                            </label>
                          </div>
                        </span>
                        <div class="clearfix"></div>
                      </div>
                  </div>
                  <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                      <div class="form-group">
                        <span class="pull-left text-primary">Rollback Total</span>
                        <span class="pull-right">
                            <div class="checkbox">
                                <label>
                                  {{trans?.CREDIT}} <input [value]="pay_opt[1].value" type="radio" name="PAYMENT_OPTION" [(ngModel)]="payment.PAYMENT_OPTION">
                                </label>
                              </div>
                        </span>
                        <div class="clearfix"></div>
                      </div>
                  </div>
                  <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                      <div class="form-group">
                        <span class="pull-left text-primary">Specify Amount</span>
                        <span class="pull-right"> 
                            <div class="checkbox">
                                <label>
                                  <input [value]="pay_opt[2].value" type="radio" name="PAYMENT_OPTION" [(ngModel)]="payment.PAYMENT_OPTION">
                                </label>
                              </div>
                        </span>
                        <div class="clearfix"></div>
                      </div>
                      <div class="form-group row" *ngIf="payment.PAYMENT_OPTION=='3'">
                        <div class="col-md-6">&nbsp;</div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" class="form-control" name="AMOUNT_TO_PAY" [(ngModel)]="payment.AMOUNT_TO_PAY">
                          </div>
                        </div>
                      </div>
                  </div>
                  <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;" *ngIf="loan?.SEND_PAYMENTS_TO_QUEUE!='1'">
                      <div class="form-group row">
                          <div class="col-md-6">Remarks</div>
                          <div class="col-md-6">
                            <textarea name="REMARKS" class="form-control" [(ngModel)]="payment.REMARKS"></textarea>
                          </div>
                      </div>
                  </div>
                  <div style="border-bottom: 1px solid #d9d9d9;margin-bottom: 10px;">
                      <div class="form-group row">
                          <div class="col-md-6">Payment Date</div>
                          <div class="col-md-6">
                            <input type="text" name="PAYMENT_DATE" class="form-control" [(ngModel)]="payment.PAYMENT_DATE" ngui-datetime-picker date-only="true"
                            />
                          </div>
                      </div>
                  </div>
                  <div class="formgroup row">
                      <div class="col-md-6"><a (click)="closeOverlay()" class="btn btn-white btn-block">Back</a></div>
                      <div class="col-md-6"  *ngIf="loan?.loan.SEND_PAYMENTS_TO_QUEUE!='1'"><button (click)="initiateRollback()" [disabled]="payment.PAYMENT_DATE==''||(payment.PAYMENT_DATE==''&&(payment.AMOUNT_TO_PAY==='0'||payment.AMOUNT_TO_PAY==='')&&payment.PAYMENT_OPTION=='3')" class="btn btn-white btn-block btn-pink">Pay</button></div>
                      <div class="col-md-6" *ngIf="loan?.loan.SEND_PAYMENTS_TO_QUEUE!='0'"><button (click)="sendRollbackPayment()" [disabled]="payment.PAYMENT_DATE==''||(payment.PAYMENT_DATE==''&&(payment.AMOUNT_TO_PAY==='0'||payment.AMOUNT_TO_PAY==='')&&payment.PAYMENT_OPTION=='3')" class="btn btn-white btn-block btn-pink">Submit</button></div>
                    </div>
              </div> 
          </div>
        </section>
      </div>
    </div>
</div>