<!-- Navigation -->
<div class="cvr" (click)="open_customer(customer?.next.PEOPLE_CUSTOMERS_ID)">

  <div class="nxt">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>

  <div class="media cnt">
      <div class="pull-left thumb p-thumb">
          <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{customer?.next.FILE_NAME | imagenotfound}}?q=auto" style="border-radius: 50%">
      </div>
      <div class="media-body">
          <p class="t_l4 t_cool" style="margin-bottom: 0px;"><strong>{{customer?.next.LEGAL_NAME}}</strong></p>
          <p class="no-margin" style="font-size: 9px">{{customer?.next.PHONE}}</p>
      </div>
  </div>

</div>