.gal a{
	display: inline-block;	
	width: 150px;
	height: 150px;
	background-size: cover;
	margin-right: 20px;
	margin-bottom: 20px;
}
.ui-fileupload-choose {
    position: relative !important;
    overflow: hidden !important;
} 
.ui-button {
    display: inline-block !important;
    position: relative !important;
    padding: 0 !important;
    margin-right: .1em !important;
    text-decoration: none!important;
    cursor: pointer !important;
    text-align: center !important;
    zoom: 1 !important;
    overflow: visible !important;
} 
.ui-widget, .ui-widget * {
    box-sizing: border-box !important;
} 
.ui-corner-all {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
} 
.ui-state-default {
    border: 1px solid #d6d6d6 !important;
    background: #ffffff !important;
    color: #555555 !important;
} 
.ui-widget {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    font-size: 1em !important;
}
.thumb {
    width:100px !important;
}