<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-welcome-emai">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion1" href="#welcome-emai"
        aria-expanded="false" aria-controls="welcome-emai">
        Welcome Email
      </a>
    </h4>
  </div>
  <div id="welcome-emai" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-welcome-emai">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Welcome email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-offer-letter">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion2" href="#offer-letter"
        aria-expanded="false" aria-controls="offer-letter">
        Offer Letter
      </a>
    </h4>
  </div>
  <div id="offer-letter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Welcome email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-phone-otp">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion3" href="#phone-otp"
        aria-expanded="false" aria-controls="phone-otp">
        Phone Otp
      </a>
    </h4>
  </div>
  <div id="phone-otp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Phone Otp</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-reset-pin">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion4" href="#reset-pin"
        aria-expanded="false" aria-controls="reset-pin">
        Reset pin
      </a>
    </h4>
  </div>
  <div id="reset-pin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Reset pin</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-direct-debit-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion5" href="#direct-debit-email"
        aria-expanded="false" aria-controls="direct-debit-email">
        Direct Debit Email
      </a>
    </h4>
  </div>
  <div id="direct-debit-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Reset pin</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-validate-work-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion6" href="#validate-work-email"
        aria-expanded="false" aria-controls="validate-work-email">
        Validate Work Email
      </a>
    </h4>
  </div>
  <div id="validate-work-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Reset pin</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-loan-rejection-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion7" href="#loan-rejection-email"
        aria-expanded="false" aria-controls="loan-rejection-email">
        Loan Rejection Email
      </a>
    </h4>
  </div>
  <div id="loan-rejection-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Loan Rejection Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-payment-received">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion8" href="#payment-received"
        aria-expanded="false" aria-controls="payment-received">
        Payment Received
      </a>
    </h4>
  </div>
  <div id="payment-received" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Payment Received</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-borrow-received-offer-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion9" href="#borrow-received-offer-email"
        aria-expanded="false" aria-controls="borrow-received-offer-email">
        Borrower Received Offer Email
      </a>
    </h4>
  </div>
  <div id="borrow-received-offer-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Borrower Received Offer Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-lender-make-offer">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion10" href="#lender-make-offer"
        aria-expanded="false" aria-controls="lender-make-offer">
        Lender Make Offer Letter
      </a>
    </h4>
  </div>
  <div id="lender-make-offer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p> Lender Make Offer Letter</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-borrower-accepted-offer-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion11" href="#borrower-accepted-offer-email"
        aria-expanded="false" aria-controls="borrower-accepted-offer-email">
        Borrower Accepted Offer Letter
      </a>
    </h4>
  </div>
  <div id="borrower-accepted-offer-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p> Borrower Accepted Offer Letter</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-withdrawal-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion12" href="#withdrawal-email"
        aria-expanded="false" aria-controls="withdrawal-email">
        Withdrawal Email
      </a>
    </h4>
  </div>
  <div id="withdrawal-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Withdrawal Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-send-to-market">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion13" href="#send-to-market"
        aria-expanded="false" aria-controls="send-to-market">
        Withdrawal Email
      </a>
    </h4>
  </div>
  <div id="send-to-market" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Withdrawal Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-bank-confirmation">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion14" href="#bank-confirmation"
        aria-expanded="false" aria-controls="bank-confirmation">
        Bank Account Confirmation Email
      </a>
    </h4>
  </div>
  <div id="bank-confirmation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Bank Account Confirmation Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-request-attachment">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion15" href="#request-attachment"
        aria-expanded="false" aria-controls="request-attachment">
        Request For Attachment
      </a>
    </h4>
  </div>
  <div id="request-attachment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Request For Attachment</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-bvn-verification-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion16" href="#bvn-verification-email"
        aria-expanded="false" aria-controls="bvn-verification-email">
        BVN Verification Email
      </a>
    </h4>
  </div>
  <div id="bvn-verification-email" class="panel-collapse collapse" 
    role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>BVN Verification Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-repayment-reminder-email">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion17" href="#repayment-reminder-email"
        aria-expanded="false" aria-controls="repayment-reminder-email">
        Repayment Remainder Email
      </a>
    </h4>
  </div>
  <div id="repayment-reminder-email" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Repayment Remainder Email</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-load-disbursed">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" 
      data-parent="#accordion18" href="#load-disbursed"
        aria-expanded="false" aria-controls="load-disbursed">
        Loan Disbursed Email
      </a>
    </h4>
  </div>
  <div id="load-disbursed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-offer-letter">
    <div class="panel-body">
      <div class="panel-body toc-panel">
       <p>Loan Disbursed Email</p>
      </div>
    </div>
  </div>
</div>