.greenb {
    background: #569840 !important;
    color: #fff !important;
}
.blueb {
    background: #618cae !important;
    color: #fff !important;
}
.brownb {
    background: #6A1544 !important;
    color: #fff !important;
}
.redb {
    background: rgb(211, 53, 18) !important;
    color: #fff !important;
}
article .media-body p {
    margin: 0px !important;
}

/* borrower ID style */
.bor_id .twt-feed h1{
    font-size: 14px !important;
    margin: 15px 0;
}
.bor_id .twt-feed a img{
    width: 70px;
    height: auto;
}
.bor_id .twt-feed p{
    display: none;
}

.bor_id .twt-category{
    margin-bottom: 0;
}
.bor_id .twt-category h5{
    font-size: 16px;
    line-height: 1
}
.bor_id .twt-category h5 span{
    font-size: 10px;
    display: block;
    text-transform: none;
}
.bor_id .twt-category ul li{
    width: 50%;
}
.bor_id .xgv li {
    margin-bottom: 5px;
}


.ln_mdl{
    background: rgba(25, 23, 23, 0.41);
}

.ln_mdl .overpanel-content{
    height: auto !important;
    background: #fff !important;
}

.ln_mdl .text-danger{
    color: #F4573E;
}