ul.frm li.title {
    padding: 6px 12px;
    background: #eaeaea;
    font-size: 13px;
    color: #2f2f2f;
        border-bottom: 1px solid #a3a3a3;
}
ul.frm li.sub {
    min-height:50px;
    background:#fff;
}
.sliders .ui-widget-header {
    background: #22bacf !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
}
.app_panel .chk_view {
    display:none;
}
.app_panel .current {
    display:block;
}
.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 0em !important;
    max-width: 1200px;
    text-align: left !important;
}
.media p {
    margin:0px;
}
.media {
    min-height:50px;
}
.user-img-blk {
    background: #6E6F71;
    padding: 20px 0;
    width: 80px;
    color: #fff;
    height: 80px;
}
.user-img-blk span{
  font-size: 32px;
}
.post {
    background:transparent;
    border:0;
    padding:0;
}
.img-holder {
    float: left;
    width: 15%;
    margin-right: 10px;
	margin-top:15px;
}
.content-holder {
    float: left;
    background: #fff;
    padding: 0px 15px 0;
    border: 1px solid #d9d9d9;
    width: 100%;
}
/*.panel-body {
	padding:15px 0px;
}*/
.commentList {
	padding-bottom:5px !important;
	padding-top:5px !important;
}
.mtop5 {
	margin-top:5px;
}

.apprv{
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.apprv_details{
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.apprv_details .label-value li{
    margin-bottom: 13px;
}