<div class="profile_area animated fadeIn">

      <section class="panel contract_area hideable_area" style="margin-bottom: 10px">
        <header class="panel-heading">
          <span class="tools pull-right">
            <ul class="list-inline">
                <li><a [routerLink]="['../contract']">Summary</a></li>
                <li><a [routerLink]="['../repayments']">Schedule</a></li>
                <li><a [routerLink]="['../more']">More</a></li>                    
            </ul>
          </span>
          <span>Workflow</span>
        </header>
      </section>

      <section class="panel">
          <div class="panel-body">
              <div>This is the workflow section.</div>
          </div>
      </section>

</div>