.up-g{
	 background-image:url(http://app.creditclan.com/pub/assets/attachments/thumbs-up.png);
	     padding: 18px 0px 0px 17px;
    color: #000;
}
.down-g {
	padding: 14px 0px 0px 17px;
    color: #000;
	 background-image:url(http://app.creditclan.com/pub/assets/attachments/thumbs-down-grey.png)
}
.up-gg {
	 background-image:url(http://app.creditclan.com/pub/assets/attachments/thumbs-up-grey.png);
	     padding: 18px 0px 0px 17px;
    color: #000;
}
.down-r {
	padding: 14px 0px 0px 17px;
    color: #000;
	 background-image:url(http://app.creditclan.com/pub/assets/attachments/thumbs-down-red.png)
}
.ico {
	    margin-right: 10px;
    height: 48px;
    width: 48px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    padding-top: 9px;
    padding-left: 8px;
}