<section id="main-content">
  <div class="container" style="min-height:600px;">
    <div class="row" style="margin-top:120px;">
      <div class="col-md-12" style="padding:0;">
        <div id="ajax_view">
          <div class="row">
            <div class="col-md-8">
              <section class="panel panl" style="margin-bottom: 5px">
                <div class="panel-body">
                  <article class="media">
                    <div class="pull-left thumb">
                      <img src="assets/images/file.PNG">
                    </div>
                    <div class="pull-left" style="margin-top: 5px">
                      <h4 class="no-margin" style="word-wrap:break-word; margin-bottom: 10px">Roles</h4>
                    </div>
                    <button (click)="overlayOpen=true;showForm=true;isedit=false;" class="pull-right btn btn-white wd_btn" style="border-radius: 0">Add
                      New Role</button>
                  </article>


                </div>
              </section>
              <section class="panel">
                <div class="panel-body" style="padding:0px">
                  <!-- <div *ngIf="state?.count=='0'" style="min-height:300px; padding-top:50px">
                                        <div class="text-center">
                                          <a href="javascript:;" style="font-size:40px">
                                              <i class="fa fa-meh-o"></i>
                                          </a>
                                          <h3 style="margin-bottom: 0px; text-align: center;">No records</h3>

                                      </div>
                                      </div>   -->
                  <div *ngFor="let role of rolerights?.default_roles">
                    <article class="media hover_toggle_desc" style="border-bottom: 1px solid #eee;
                                        padding: 15px;">
                      <div class="pull-left thumb" style="padding-right: 20px">
                        <img src="assets/images/i.PNG">
                      </div>
                      <div class="pull-left" style="margin-top: 5px">
                        <h5 class="no-margin" style="margin-bottom: 7px">{{role?.DESCRIPTION}}</h5>
                      </div>
                      <div class="pull-right text-right hover_toggle">

                        <a *ngIf="role?.IS_DEFAULT == '1'" class="pull-right btn btn-white wd_btn hover_show" (click)="currentSection=role?.PEOPLE_PEOPLE_ROLE_ID"
                          style="border-radius: 0">View</a>
                      </div>

                    </article>
                    <div class="panel-body" *ngIf="currentSection===role?.PEOPLE_PEOPLE_ROLE_ID">
                      <div class="row">
                        <div class="col-md-6" *ngFor="let right of role?.RIGHTS">
                          <p>{{ right.DESCRIPTION }}</p>
                        </div>
                         
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let role of rolerights?.lender_roles">
                    <article class="media hover_toggle_desc" style="border-bottom: 1px solid #eee;
                                        padding: 15px;">
                      <div class="pull-left thumb" style="padding-right: 20px">
                        <img src="assets/images/i.PNG">
                      </div>
                      <div class="pull-left" style="margin-top: 5px">
                        <h5 class="no-margin" style="margin-bottom: 7px">{{role?.DESCRIPTION}}</h5>
                      </div>
                      <div class="pull-right text-right hover_toggle">
                        <button class="pull-right btn btn-white wd_btn hover_show" (click)="delete(role)"
                        style="border-radius: 0">Delete</button>
                        <button *ngIf="role?.IS_DEFAULT == '0'" class="pull-right btn btn-white wd_btn hover_show" (click)="update(role)"
                          style="border-radius: 0">Edit</button>
                      </div>

                    </article> 
                    <div class="panel-body" *ngIf="currentSection===role?.PEOPLE_PEOPLE_ROLE_ID">
                      <div class="row">
                        <div class="col-md-6" *ngFor="let right of role?.RIGHTS_">
                          <p>{{ right.DESCRIPTION }}</p>
                        </div>
                         
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-3 ">
              <section style="border-radius:10px" class="panel text-center greenb">

                <div class="panel-body" style="padding: 63px 15px;">

                  <div>
                    <h3 style="font-size:34px">{{state?.count}}
                      <span class="small" style="font-size: 44%;
                                          display: block;
                                          color: #fff;">Total</span>
                    </h3>
                  </div>
                </div>
              </section>
              <section class="panel">
                <div class="panel-body">
                  <ul class="list list_border largewidth">
                    <li>
                      <a class="txt_l4" [routerLink]="['/operations/employees']">Users</a>
                    </li>

                  </ul>
                </div>
              </section>
            </div>
            <div class="col-md-1">&nbsp;</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<div class="overlay_ app_overlay animated" style="overflow:hidden;background: rgba(138, 138, 138, 0.95);" *ngIf="overlayOpen">

  <div class="col-md-12">
    <a class="dismiss cancel_treat_ close" role="button" (click)="closeOverlay()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
  <div class=" overpanel-content container" role="document" style="text-align:left;width:600px; padding-top:0px;padding-left:0px;padding-right:0px; overflow:hidden; border-radius: 5px;">
    <app-newrole (saveRole)="saveRole($event)" [chosenRights]="currentRoleRights" [loading]="loading" [role]="role" [role_id]="role_id" [rolerights]="rolerights" [isedit]="isedit"></app-newrole>
  </div>
</div>