
<div class="modl text-center">
  
    <div class="modl_title" style="margin-bottom: 35px">
        <h2 *ngIf="ttype=='1'"><span>Wallet Funding</span>
        </h2>
        <h2 *ngIf="ttype=='2'"><span>Wallet Withdrawal</span>
        </h2>
    </div>

    <div style="margin-bottom: 25px">
        <div class="modl_prof">
          <div>
            
            <img class="img-circle"  src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{account_details?.FILE_NAME | imagenotfound}}?q=auto">
          </div>
          <h4 class="t_l3">{{account_details?.LEGAL_NAME}}</h4>
        </div>
    </div>
    <div style="width: 280px; margin: 0 auto" *ngIf="fundingQueued">
        
        <div style="margin-bottom: 30px">
            <button class="text-center txt t_l4 t_cool big_btn btn-block good" [disabled]="true">
              <strong *ngIf="!loading && ttype=='1'">Wallet funding queued</strong>
              <strong *ngIf="!loading && ttype=='2'">Wallet withdrawal queued</strong>
            </button>
        </div>
    </div>

    <div style="width: 280px; margin: 0 auto" *ngIf="!fundingQueued">
        <div class="search_box" style="padding: 8px; margin-bottom: 10px">
            <div class="input-group ">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" style="border: 0">
                      <span class="sel_cur">&#8358;</span> 
                      </button>                            
                </div>
                <input [disabled]="loading" type="text" name="BID_PRINCIPAL" [(ngModel)]="BID_PRINCIPAL" class="form-control" required style="border: 0">
            </div>
        </div>

        <div style="margin-bottom: 30px">
            <button class="text-center txt t_l4 t_cool big_btn btn-block good" [disabled]="BID_PRINCIPAL==0||loading" (click)="QueueWalletFunding()">
              <strong *ngIf="!loading">Queue</strong>
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>



</div>