<div style="width: 80%; margin: 0px auto; margin-top:50px">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    
    <section id="main-content">
        <div class="" style="min-height:600px">
            <div class="row" style="margin-top:50px;">
                <div class="col-md-12" style="padding:0;">
                    <div id="ajax_view">
                        
                        <div >
                            
                            <div  style="box-sizing: border-box;
                      float: left;
                      margin-right: -1px;
                      width: 70%;" role="main" class="requests_list">
                      <div class="row">
                            <div *ngIf="kycs?.count=='0'">
    
                                    <div class="panel panel-body box" style="position: relative; padding: 30px">
                            
                                        <div style="margin-top: 100px"></div>
                            
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul class="list list_border" id="no-padding-right">
                                                    <li>
                                                        <p class="txt t_l2 t_cool">No Records</p>
                                                    </li>
                                                    <!-- <li>
                                                        <a class="txt_l4 t_dull">Book Loan</a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                            <div class="col-md-8"></div>
                                        </div>
                                    </div>
                            
                                </div>
                            <div *ngIf="kycs?.count!='0'">
                                    <section class="panel">
                                            <header class="panel-heading">
                                               Document Pickups
                                                <span class="tools pull-right">
                                                    Sort by: 
                                                    <div class="btn-group">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false" style="    /* color: #fff; */
                                                        font-size: 15px;
                                                        /* line-height: 1; */
                                                        cursor: pointer;
                                                        padding: 3px 5px;
                                                        border: 1px solid #ccc;
                                                        border-radius: 15px;
                                                        /* color: black; */">
                                                            {{orderingText}}
                                                            
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                            <li><a (click)="orderingBy('1')">Most Recent</a></li>
                                                            <li><a (click)="orderingBy('2')">Name A - Z</a></li>
                                                            <li><a (click)="orderingBy('3')">Name Z - A</a></li> 
                                                            <li><a (click)="orderingBy('4')">Amount High - Low</a></li> 
                                                            <li><a (click)="orderingBy('5')">Amount Low - High</a></li> 
                                                            <li><a (click)="orderingBy('6')">Duration High - Low</a></li> 
                                                            <li><a (click)="orderingBy('7')">Duration Low - High</a></li> 
                                                        </ul>
                                                    </div>
                                                </span>
                                            </header>
                                            <div class="panel-body" style="padding:0px">
                                                    <ul class="list list_border no-padding-right box requests_list_view">
                                                            <li *ngFor="let disburse of kycs?.result | orderBy: ordering:reverse">
                                                                <div class="row">
                                                                   <div class="col-md-5">
                                                                       <div class="media">
                                                                            <div class="pull-left thumb p-thumb">
                                                                                <img src="http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/{{disburse?.FILE_NAME | imagenotfound}}?q=auto" style="border-radius: 50%">
                                                                            </div>
                                                                            <div class="media-body">
                                                                                <p class="t_l4 t_cool" style="margin-bottom: 5px;"><strong>{{disburse?.LEGAL_NAME}}</strong></p>
                                                                                <p class="no-margin" style="font-size: 13px">N{{disburse?.REQUEST_PRINCIPAL | number:'.2-2'}} for {{disburse?.REQUEST_TENOR}} {{disburse?.LOAN_DURATION}}</p>
                                                                            </div>
                                                                        </div>
                                                                   </div>
                                                                   <div class="col-md-7">
                                                                       <div class="row">
                                                                           <div class="col-md-5">
                                                                               <p class="rq_mid">{{disburse?.DOCS_STRING}}<br>
                                                                                    <!-- <span class="badge no-margin">Left</span> -->
                                                                               </p>
                                                                           </div>
                                                                           <div class="col-md-4">
                                                                               <div>
                                                                                   <p style="margin-bottom: 5px; font-size: 13px;">{{disburse?.IS_TREATED==='1'?'Treated':'Pending'}} 
                                                                                        <!-- <span class="pull-right"><i class="fa fa-file-o"></i> 8</span>
                                                                                        <span class="pull-right" style="margin-right: 12px;"><i class="fa fa-user"></i> 10</span> -->
                                                                                   </p>                          
                                                                                   <div class="progress progress-xs" style="margin-bottom: 2px;height: 3px;">
                                                                                        <div aria-valuemax="100" aria-valuemin="0" role="progressbar" style="width: 30%" class="progress-bar below w0.00" aria-valuenow="below w0.00"></div>
                                                                                    </div>
                                                                                   <p style="margin-bottom:0; font-size: 12px">{{disburse?.DATE_ADDED | amTimeAgo}}</p>
                                                                               </div>
                                                                           </div>
                                                                           <div class="col-md-3 text-right" *ngIf="disburse?.IS_TREATED==='0'">
                                                                               <p class="py_back">{{today | amDifference: disburse?.DATE_ADDED :'hours' : true | number:'.2-2'}} hours<br></p>
                                                                           </div>
                                                                           <div class="col-md-3 text-right" *ngIf="disburse?.IS_TREATED==='1'">
                                                                            <p class="py_back">{{disburse?.DATE_TREATED | amDifference: disburse?.DATE_ADDED :'hours' : true | number:'.2-2'}} hours<br></p>
                                                                        </div>
                                                                       </div>
                                                                   </div> 
                                                                </div>
                                                            </li>
                                                        </ul>
                                         
                                            </div>
                                            <footer class="panel-footer" *ngIf="loans?.complete == false">
                                                    <a (click)="loadMoreRecords(loans?.start)">View More</a>
                                            </footer>
                                        </section>
                            </div>
                        </div>
                     </div>
                            <aside class="sidemenu" style="float: left;
                      margin-right: -1px;
                      width: 20%;
                      box-sizing: border-box;margin-bottom: 24px;
                      margin-left: calc((576px * 0) - 24px + 49px);">
                                <div class="sticky" [ngClass]="{'stuck': summaryOpen,'':!summaryOpen}" style="    height: 399px;
                        width: calc((444px * .29167) + 144px);
                        margin: 0px auto;">
                                    <div class="rrc" style="    margin-bottom: 0;
                            margin-left: calc((576px * 0) - 24px + 24px);float: left;
                            margin-right: -1px;
                            width: calc((444px * .29167) + 144px);
                            box-sizing: border-box;">

                            
            <!-- Initital Search -->
            <div class="req_panl animated fadeInDown">

                <!-- Status Panel -->
                <div style="position:relative" class="panel-body text-center crd_theme_o greenb">
                    <img src="assets/img/bell.png" style="width:80px; margin:30px 0px 15px;">
                    <div class="text-center">
                      <p class="txt t_l2 t_lh1">{{kycs?.count}}</p> 
                      
                    </div>    
                                   
                </div>
                <div *ngFor="let status of statuses; let i=index" class="stacked_boxes_parent">
                        <div class="stacked_boxes">
                            <p class="txt t_l4" style="display: inline-block; width: 100%; max-width: 80%">{{status.display}}</p>                    
                            <input type="radio" (change)="getKycs()" name="status" [(ngModel)]="magic_filter.status" [value]="status.value" style="margin-left: 15px">
                        </div>
                    </div>
                <!-- Radio Checkbox -->
                <div class="text-center txt t_l4 t_cool" style="background: #FFF; border: 1px solid #ccc;padding: 12px; border-color: #718FC8; margin-top: 5px; cursor: pointer;" (click)="gotoKycs()">
                   KYC
                </div>
                   
                

                <div style="background: #FAFAFA; border: 1px solid #ccc;padding: 12px; margin-top: 5px">
                    <input type="text" name="" style="border: none; background: none; font-size: 16px; width: 100%; max-width: 83%;" placeholder="Search Here" [(ngModel)]="magic_filter.searchText" #searchText="ngModel" (keyup.enter)="searchForKYc()">
                    <img src="assets/images/search.PNG" style="vertical-align: top;" (click)="searchForKYc()">
                </div>

            </div>

                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
